<section>
  <h6 class="title-section m-top">
    <i class="fa fa-file-text-o"></i> Datos generales
  </h6>
  <div class="row">
    <div class="md-input-group col-md-6">
      <select-parametro name="tipo_proyecto" label="Tipo de proyecto" ng-model="$ctrl.proyecto.tipo"
      parametro="TIPO_PROYECTO" ng-change="$ctrl.callbacks.tipoProyecto($ctrl.proyecto.tipo)"
      ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('tipo')"
      ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('tipo')"></select-parametro>
    </div>

    <div class="md-input-group col-md-6" ng-if="$ctrl.proyecto.codigo">
      <c-input name="codigo" label="Código" ng-model="$ctrl.proyecto.codigo"
      ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('codigo')"></c-input>
    </div>

    <div class="md-input-group col-md-12">
      <c-input name="nombre_proyecto" label="Nombre" ng-model="$ctrl.proyecto.nombre"
      ng-directives="uppercase" ng-minlength="3" maxlength="255"
      ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('nombre')"
      ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('nombre')"></c-input>
    </div>

    <div class="md-input-group col-md-12">
      <c-input name="entidad_beneficiaria" label="Entidad beneficiaria" ng-model="$ctrl.proyecto.entidad_beneficiaria"
      ng-minlength="3" maxlength="255" ng-directives="uppercase"
      ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('entidad_beneficiaria')"
      ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('entidad_beneficiaria')"></c-input>
    </div>

    <div class="col-md-12">
      <c-select-dpa ng-model="$ctrl.proyecto.dpa" horizontal="true"
      ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('fcod_municipio')"
      ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('fcod_municipio')"></c-select-dpa>
    </div>

    <div class="col-md-12" ng-if="$ctrl.proyecto.sector || $ctrl.Proyecto.esEditable('sector')">
      <select-parametro name="sector" label="Sector" ng-model="$ctrl.proyecto.sector" parametro="SECTOR"
      ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('sector')"
      ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('sector')"></select-parametro>
    </div>

    <div class="md-input-group col-md-6" ng-if="$ctrl.proyecto.plazo_ejecucion">
      <c-input-numeric name="plazo_ejecucion_contrato" label="Plazo de ejecución (días calendario)" ng-model="$ctrl.proyecto.plazo_ejecucion"
      ng-disabled="true"></c-input-numeric>
    </div>

    <div class="md-input-group col-md-6" ng-if="$ctrl.proyecto.monto_total">
      <c-input-money name="monto_total_contrato" label="Monto total" ng-model="$ctrl.proyecto.monto_total"
      ng-disabled="true"></c-input-money>
    </div>

  </div>
</section>
