<documento-identidad ng-model="$ctrl.proyecto.autoridad_beneficiaria" modo-vista="$ctrl.modoVista"></documento-identidad>

<div class="row">
  <div class="md-input-group col-md-12">
    <c-input name="cargo" label="Cargo" ng-model="$ctrl.proyecto.cargo_autoridad_beneficiaria"
      maxlength="150"
      ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('cargo_autoridad_beneficiaria')"
      ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('cargo_autoridad_beneficiaria')">
    </c-input>
  </div>

  <div class="md-input-group col-md-4">
    <c-input name="celular" label="Celular" ng-model="$ctrl.proyecto.autoridad_beneficiaria.telefono"
      ng-validation="celular" ng-directives="numeric" maxlength="8"
      ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('autoridad_beneficiaria')"
      ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('autoridad_beneficiaria')">
    </c-input>
  </div>

  <div class="md-input-group col-md-4">
    <c-input name="correo" label="Correo Electrónico" ng-model="$ctrl.proyecto.autoridad_beneficiaria.correo"
      maxlength="150" ng-validation="correo"
      ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('autoridad_beneficiaria')">
    </c-input>
  </div>

  <div class="md-input-group col-md-4">
    <c-input name="fax" label="Fax" ng-model="$ctrl.proyecto.fax_autoridad_beneficiaria"
      ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('fax_autoridad_beneficiaria')"
      ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('fax_autoridad_beneficiaria')">
    </c-input>
  </div>
</div>
