<div class="container">
  <h2 class="page-title">
    <i class="fa fa-bars"></i> Proyectos por Municipio
  </h2>

  <div class="card">
    <div class="card-body">
      <section>
        <form name="resumen">
          <h6 class="title-section m-top">
            <i class="fa fa-file-text-o"></i> CARTERA {{$ctrl.carteraSelected}}
          </h6>
          <div class="row">
            <div class="col-md-4">
              <c-select name="cartera" label="Cartera" ng-model="$ctrl.carteraSelected" options="$ctrl.carteras"  key-value="id_cartera" field="descripcion" on-select="$ctrl.cambiarGestion()"></c-select>
            </div>
            <div class="col-md-4">
              <div class="alert alert-info">
                <i class="fa fa-info-circle"></i>
                <span>Solo debe seleccionar <strong>Departamento</strong> y <strong>Municipio</strong>.</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <c-select-dpa ng-model="$ctrl.dpa" horizontal="true" ></c-select-dpa>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
  <div class="card">
    <div class="row"> 
        <div class="col"><h5 class="card-header">En evaluación : {{$ctrl.datosEval.length}}</h5></div>
        <div class="col"><h5 class="card-header">En convenio : {{$ctrl.datosConv.length}}</h5></div>
        <div class="col"><h5 class="card-header">En desembolso : {{$ctrl.datosDesem.length}}</h5></div>
        <div class="col"><h5 class="card-header">Aprobados : {{$ctrl.datos.length}}</h5></div>
        <div class="col"><h5 class="card-header">En ejecución : {{$ctrl.datosEjec.length}}</h5></div>
    </div>
  </div>
  <h6 class="title-section m-top" ng-if="$ctrl.titulo">{{$ctrl.titulo}}</h6>
  <div class="card">
    <div class="card-body">
      <section ng-if="$ctrl.datosEval.length">
        <h6 class="title-section m-top">PROYECTOS EN EVALUACIÓN : {{$ctrl.datosEval.length}}</h6>
        <small>
          <table class="table table-striped table-hover table-responsive">
            <thead>
              <tr>
                <th></th>
                <th>NOMBRE DEL PROYECTO</th>
                <th>TOTAL PROYECTO (Bs.)</th>
                <th>MONTO FDI (Bs.)</th>
                <th>MONTO GAM (Bs.)</th>
                <th>MONTO BENEFICIARIOS (Bs.)</th>
                <th>EJECUCIÓN PRESUPUESTARIA FDI (%)</th>
                <th>AVANCE FÍSICO (%)</th>
                <th>FECHA INICIO</th>
                <th>PLAZO DE CONVENIO</th>
                <th>FECHA DE CONCLUSIÓN</th>
                <th>ESTADO</th>
              </tr>
            </thead>
            <tbody ng-repeat="proy in $ctrl.datosEval">
              <tr>
                <td><button class="btn btn-sm btn-primary" ng-click="$ctrl.verProyecto(proy)"><i class="fa fa-eye"></i></button></td>
                <td>{{proy.nombre}}</td>
                <td>{{proy.financiamiento.monto_total_proyecto | number:2}}</td>
                <td>{{proy.financiamiento.monto_fdi | number:2}}</td>
                <td>{{proy.financiamiento.monto_contraparte | number:2}}</td>
                <td>{{proy.financiamiento.monto_beneficiarios | number:2}}</td>
                <td>{{0 | number:0}} %</td>
                <td>{{0}} %</td>
                <td>{{''}}</td>
                <td>{{proy.plazo_ejecucion | number}}</td>
                <td>{{''}}</td>
                <td>{{proy.estado_proyecto}}</td>
              </tr>
            </body>
            <tfoot>
              <tr>
                <td></td>
                <th>TOTAL GENERAL</th>
                <th>{{$ctrl.totalesEval.total | number:2}}</th>
                <th>{{$ctrl.totalesEval.fdi | number:2}}</th>
                <th>{{$ctrl.totalesEval.gam | number:2}}</th>
                <th>{{$ctrl.totalesEval.beneficiarios | number:2}}</th>
                <th>{{$ctrl.totalesEval.ejecucion | number:2}}%</th>
                <th>{{$ctrl.totalesEval.avance_fisico | number:2}}%</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
              </tr>
            </tfoot>
          </table>
        </small>
      </section>

    </div>
  </div>


  <div class="card">
    <div class="card-body">
      <section ng-if="$ctrl.datosConv.length">
        <h6 class="title-section m-top">PROYECTOS EN REGISTRO CONVENIO : {{$ctrl.datosConv.length}}</h6>
        <small>
          <table class="table table-striped table-hover table-responsive">
            <thead>
              <tr>
                <th></th>
                <th>NOMBRE DEL PROYECTO</th>
                <th>TOTAL PROYECTO (Bs.)</th>
                <th>MONTO FDI (Bs.)</th>
                <th>MONTO GAM (Bs.)</th>
                <th>MONTO BENEFICIARIOS (Bs.)</th>
                <th>EJECUCIÓN PRESUPUESTARIA FDI (%)</th>
                <th>AVANCE FÍSICO (%)</th>
                <th>FECHA INICIO</th>
                <th>PLAZO DE CONVENIO</th>
                <th>FECHA DE CONCLUSIÓN</th>
                <th>ESTADO</th>
              </tr>
            </thead>
            <tbody ng-repeat="proy in $ctrl.datosConv">
              <tr>
                <td><button class="btn btn-sm btn-primary" ng-click="$ctrl.verProyecto(proy)"><i class="fa fa-eye"></i></button><button class="btn btn-sm btn-primary" ng-hide="true" ng-click="$ctrl.fichaProyecto(proy)" title="Ficha Tecnica"><i class="fa fa-file-pdf-o"></i></button></td>
                <td>{{proy.nombre}}</td>
                <td>{{proy.financiamiento.monto_total_proyecto | number:2}}</td>
                <td>{{proy.financiamiento.monto_fdi | number:2}}</td>
                <td>{{proy.financiamiento.monto_contraparte | number:2}}</td>
                <td>{{proy.financiamiento.monto_beneficiarios | number:2}}</td>
                <td>{{0 | number:0}} %</td>
                <td>{{0}} %</td>
                <td>{{''}}</td>
                <td>{{proy.plazo_ejecucion | number}}</td>
                <td>{{''}}</td>
                <td>{{proy.estado_proyecto}}</td>
              </tr>
            </body>
            <tfoot>
              <tr>
                <td></td>
                <th>TOTAL GENERAL</th>
                <th>{{$ctrl.totalesConv.total | number:2}}</th>
                <th>{{$ctrl.totalesConv.fdi | number:2}}</th>
                <th>{{$ctrl.totalesConv.gam | number:2}}</th>
                <th>{{$ctrl.totalesConv.beneficiarios | number:2}}</th>
                <th>{{$ctrl.totalesConv.ejecucion | number:2}}%</th>
                <th>{{$ctrl.totalesConv.avance_fisico | number:2}}%</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
              </tr>
            </tfoot>
          </table>
        </small>
      </section>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <section ng-if="$ctrl.datosDesem.length">
        <h6 class="title-section m-top">PROYECTOS EN REGISTRO DESEMBOLSO : {{$ctrl.datosDesem.length}}</h6>
        <small>
          <table class="table table-striped table-hover table-responsive">
            <thead>
              <tr>
                <th></th>
                <th>NOMBRE DEL PROYECTO</th>
                <th>TOTAL PROYECTO (Bs.)</th>
                <th>MONTO FDI (Bs.)</th>
                <th>MONTO GAM (Bs.)</th>
                <th>MONTO BENEFICIARIOS (Bs.)</th>
                <th>EJECUCIÓN PRESUPUESTARIA FDI (%)</th>
                <th>AVANCE FÍSICO (%)</th>
                <th>FECHA INICIO</th>
                <th>PLAZO DE CONVENIO</th>
                <th>FECHA DE CONCLUSIÓN</th>
                <th>ESTADO</th>
              </tr>
            </thead>
            <tbody ng-repeat="proy in $ctrl.datosDesem">
              <tr>
                <td><button class="btn btn-sm btn-primary" ng-click="$ctrl.verProyecto(proy)"><i class="fa fa-eye"></i></button><button class="btn btn-sm btn-primary" ng-hide="true" ng-click="$ctrl.fichaProyecto(proy)" title="Ficha Tecnica"><i class="fa fa-file-pdf-o"></i></button></td>
                <td>{{proy.nombre}}</td>
                <td>{{proy.financiamiento.monto_total_proyecto | number:2}}</td>
                <td>{{proy.financiamiento.monto_fdi | number:2}}</td>
                <td>{{proy.financiamiento.monto_contraparte | number:2}}</td>
                <td>{{proy.financiamiento.monto_beneficiarios | number:2}}</td>
                <td>{{0 | number:0}} %</td>
                <td>{{0}} %</td>
                <td>{{''}}</td>
                <td>{{proy.plazo_ejecucion | number}}</td>
                <td>{{''}}</td>
                <td>{{proy.estado_proyecto}}</td>
              </tr>
            </body>
            <tfoot>
              <tr>
                <td></td>
                <th>TOTAL GENERAL</th>
                <th>{{$ctrl.totalesDesem.total | number:2}}</th>
                <th>{{$ctrl.totalesDesem.fdi | number:2}}</th>
                <th>{{$ctrl.totalesDesem.gam | number:2}}</th>
                <th>{{$ctrl.totalesDesem.beneficiarios | number:2}}</th>
                <th>{{$ctrl.totalesDesem.ejecucion | number:2}}%</th>
                <th>{{$ctrl.totalesDesem.avance_fisico | number:2}}%</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
              </tr>
            </tfoot>
          </table>
        </small>
      </section>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <section ng-if="$ctrl.datos.length">
        <h6 class="title-section m-top">PROYECTOS APROBADOS : {{$ctrl.datos.length}}</h6>
        <small>
          <table class="table table-striped table-hover table-responsive">
            <thead>
              <tr>
                <th></th>
                <th>NOMBRE DEL PROYECTO</th>
                <th>TOTAL PROYECTO (Bs.)</th>
                <th>MONTO FDI (Bs.)</th>
                <th>MONTO GAM (Bs.)</th>
                <th>MONTO BENEFICIARIOS (Bs.)</th>
                <th>EJECUCIÓN PRESUPUESTARIA FDI (%)</th>
                <th>AVANCE FÍSICO (%)</th>
                <th>FECHA INICIO</th>
                <th>PLAZO DE CONVENIO</th>
                <th>FECHA DE CONCLUSIÓN</th>
                <th>ESTADO</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="proy in $ctrl.datos">
                <td>
                  <button class="btn btn-sm btn-primary" ng-click="$ctrl.verProyecto(proy)"><i class="fa fa-eye"></i></button>
                  <button class="btn btn-sm btn-primary" ng-hide="true" ng-click="$ctrl.fichaProyecto(proy)" title="Ficha Tecnica"><i class="fa fa-file-pdf-o"></i></button>
                </td>
                <td>{{proy.nombre}}</td>
                <td>{{proy.financiamiento.monto_total_proyecto | number:2}}</td>
                <td>{{proy.financiamiento.monto_fdi | number:2}}</td>
                <td>{{proy.financiamiento.monto_contraparte | number:2}}</td>
                <td>{{proy.financiamiento.monto_beneficiarios | number:2}}</td>
                <td>{{0 | number:0}} %</td>
                <td>{{0}} %</td>
                <td>{{proy.orden_proceder | date}}</td>
                <td>{{proy.plazo_ejecucion | number}}</td>
                <td>{{''}}</td>
                <td>{{proy.estado_proyecto}}</td>
              </tr>
            </body>
            <tfoot>
              <tr>
                <th></th>
                <th>TOTAL GENERAL</th>
                <th>{{$ctrl.totales.total | number:2}}</th>
                <th>{{$ctrl.totales.fdi | number:2}}</th>
                <th>{{$ctrl.totales.gam | number:2}}</th>
                <th>{{$ctrl.totales.beneficiarios | number:2}}</th>
                <th>{{$ctrl.totales.ejecucion | number:2}}%</th>
                <th>{{$ctrl.totales.avance_fisico | number:2}}%</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
              </tr>
            </tfoot>
          </table>
        </small>
      </section>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <section ng-if="$ctrl.datosEjec.length">
        <h6 class="title-section m-top">PROYECTOS EN EJECUCION : {{$ctrl.datosEjec.length}}</h6>
        <small>
          <table class="table table-striped table-hover table-responsive">
            <thead>
              <tr>
                <th></th>
                <th>NOMBRE DEL PROYECTO</th>
                <th>TOTAL PROYECTO (Bs.)</th>
                <th>MONTO FDI (Bs.)</th>
                <th>MONTO GAM (Bs.)</th>
                <th>MONTO BENEFICIARIOS (Bs.)</th>
                <th>EJECUCIÓN PRESUPUESTARIA FDI (%)</th>
                <th>AVANCE FÍSICO (%)</th>
                <th>FECHA INICIO</th>
                <th>PLAZO DE CONVENIO</th>
                <th>FECHA DE CONCLUSIÓN</th>
                <th>ESTADO</th>
              </tr>
            </thead>
            <tbody ng-repeat="proy in $ctrl.datosEjec">
              <tr>
                <td><button class="btn btn-sm btn-primary" ng-click="$ctrl.verProyecto(proy)"><i class="fa fa-eye"></i></button><button class="btn btn-sm btn-primary" ng-hide="true"ng-click="$ctrl.fichaProyecto(proy)" title="Ficha Tecnica"><i class="fa fa-file-pdf-o"></i></button></td>
                <td>{{proy.nombre}}</td>
                <td>{{proy.financiamiento.monto_total_proyecto | number:2}}</td>
                <td>{{proy.financiamiento.monto_fdi | number:2}}</td>
                <td>{{proy.financiamiento.monto_contraparte | number:2}}</td>
                <td>{{proy.financiamiento.monto_beneficiarios | number:2}}</td>
                <td>{{proy.ejecuPres | number:2}} %</td>
                <td>{{proy.avance_fisico}}</td>
                <td>{{proy.orden_proceder | date}}</td>
                <td>{{proy.plazo_ejecucion | number}}</td>
                <td>{{proy.fecha_conclusion | date}}</td>
                <td>{{proy.estado_proyecto}}</td>
              </tr>
            </body>
            <tfoot>
              <tr>
                <td></td>
                <th>TOTAL GENERAL</th>
                <th>{{$ctrl.totalesEjec.total | number:2}}</th>
                <th>{{$ctrl.totalesEjec.fdi | number:2}}</th>
                <th>{{$ctrl.totalesEjec.gam | number:2}}</th>
                <th>{{$ctrl.totalesEjec.beneficiarios | number:2}}</th>
                <th>{{$ctrl.totalesEjec.ejecucion | number:2}}%</th>
                <th>{{$ctrl.totalesEjec.avance_fisico | number:2}}%</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
              </tr>
            </tfoot>
          </table>
        </small>
      </section>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <section ng-if="$ctrl.datosRechazados.length">
        <h6 class="title-section m-top">PROYECTOS RECHAZADOS</h6>
        <small>
          <table class="table table-striped table-hover table-responsive">
            <!-- <thead> -->
              <tr>
                <th></th>
                <th>NOMBRE DEL PROYECTO</th>
                <th>TOTAL PROYECTO (Bs.)</th>
                <th>MONTO FDI (Bs.)</th>
                <th>MONTO GAM (Bs.)</th>
                <th>MONTO BENEFICIARIOS (Bs.)</th>
                <th>EJECUCIÓN PRESUPUESTARIA FDI (%)</th>
                <th>AVANCE FÍSICO (%)</th>
                <th>FECHA INICIO</th>
                <th>PLAZO DE CONVENIO</th>
                <th>FECHA DE CONCLUSIÓN</th>
                <th>ESTADO</th>
              </tr>
            <!-- </thead> -->
            <!-- <tbody> -->
              <tr ng-repeat="proy in $ctrl.datosRechazados">
                <th></th>
                <td><button class="btn btn-sm btn-primary" ng-click="$ctrl.verProyecto(proy)"><i class="fa fa-eye"></i></button></td>
                <td>{{proy.nombre}}</td>
                <td>{{proy.financiamiento.monto_total_proyecto | number:2}}</td>
                <td>{{proy.financiamiento.monto_fdi | number:2}}</td>
                <td>{{proy.financiamiento.monto_contraparte | number:2}}</td>
                <td>{{proy.financiamiento.monto_beneficiarios | number:2}}</td>
                <td>{{0 | number:0}} %</td>
                <td>{{0}} %</td>
                <td>{{''}}</td>
                <td>{{proy.plazo_ejecucion | number}}</td>
                <td>{{''}}</td>
                <td>{{proy.estado_proyecto}}</td>
              </tr>
            <!-- </body> -->
          </table>
        </small>
      </section>
    </div>
  </div>

</div>
