<section ng-init="$ctrl.proyecto.beneficiarios.$_plantilla=1; $ctrl.proyecto.beneficiarios.$_nombre='beneficiarios'">
  <h6 class="title-section m-top"></h6>
  <div class="row">
    <div class="md-input-group col-lg-1">
      <c-input name="nro_comunidades" label="Cant." ng-model="$ctrl.proyecto.beneficiarios.nro_comunidades" ng-disabled="true"></c-input>
      <button type="button" class="btn btn-md btn-success" ng-if="$ctrl.ver_comunidades && !$ctrl.modoVista && $ctrl.editarBeneficiarios()" ng-click="$ctrl.agregarComunidad()"><i class="fa fa-plus-circle"></i></button>
      <button type="button" class="btn btn-md btn-success" ng-if="!$ctrl.modoVista && $ctrl.editarBeneficiarios()" ng-click="$ctrl.agregarComunidades()"><i class="fa fa-list-alt"></i></button>
      <button type="button" class="btn btn-secondary" ng-if="!$ctrl.modoVista && $ctrl.editarBeneficiarios()" style="background-color:orange;" ng-click="$ctrl.extraerComunidades()"><i class="fa fa-book"></i></button>
    </div>
    <div class="col-lg-5" ng-if="!$ctrl.ver_comunidades">
      <div class="alert alert-info">
        <i class="fa fa-info-circle"></i>
        <span>Añada una lista de comunidades por fila.<br>El formato es: COMUNIDAD|LAT|LNG y/o COMUNIDAD|ZONA|X|Y</span>
      </div>
      <c-textarea name="lista_comunidades" ng-model="$ctrl.lista_comunidades" label="Listado de Comunidades" rows="10"></c-textarea>
      <button class="btn btn-sm btn-success pull-right" ng-click="$ctrl.agregarComunidadesImportar()"><i class="fa fa-plus"></i> Agregar Comunidades</button>
      <button class="btn btn-sm btn-default pull-right" ng-click="$ctrl.limpiarListaComunidades()"><i class="fa fa-trash"></i> Limpiar</button>
    </div>
    <div class="col-lg-5" ng-if="$ctrl.ver_comunidades">
      <div class="row" ng-repeat="comunidad in $ctrl.proyecto.beneficiarios.comunidades">
        <div class="md-input-group col-md-2">
          <div class="md-form-group" md-event-label="">
            <input name="nro{{$index}}" id="nro{{$index}}" disabled="true" readonly="true" value="{{$index+1}}" maxlength="255" class="ng-valid ng-valid-pattern ng-valid-minlength ng-valid-maxlength ng-valid-required ng-not-empty ng-dirty ng-valid-parse ng-touched" type="text">
            <label for="nro{{$index}}" title="" class="md-control-label ng-binding" ng-class="{'requerido':$ctrl.ngRequired}">Nro.</label>
            <i class="md-bar" ng-class="{'error':$ctrl.form[$ctrl.name].$invalid &amp;&amp; $ctrl.form[$ctrl.name].$touched}"></i>
          </div>
        </div>
        <div class="md-input-group col-md-8">
          <c-input name="nombre{{$index}}" label="Nombre" ng-model="comunidad.nombre"
          maxlength="255" ng-blur="$ctrl.renombrarComunidad($index,comunidad)"
          ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios')"
          ng-disabled="$ctrl.modoVista || !$ctrl.editarBeneficiarios()"></c-input>
        </div>
        <div class="md-input-group col-md-2">
          <button type="button" class="btn btn-sm btn-danger" ng-if="!$ctrl.modoVista && $ctrl.editarBeneficiarios()" ng-click="$ctrl.quitarComunidad($index)"><i class="fa fa-trash"></i></button>
        </div>
        <!--- UTM -->
        <div ng-if="!$ctrl.noEditarCoordenadas()" class="col-md-2"></div>
        <div ng-if="!$ctrl.noEditarCoordenadas()" class="md-input-group col-md-2">
          <c-input-numeric name="coordenadas{{$index}}zona" label="Zona" ng-model="comunidad.coordenadas.zona"
          ng-disabled="$ctrl.noEditarCoordenadas()" ng-decimals="0"
          ng-blur="$ctrl.coordenadaManual($index,comunidad)"></c-input-numeric>
        </div>
        <div ng-if="!$ctrl.noEditarCoordenadas()" class="md-input-group col-md-3">
          <c-input name="coordenadas{{$index}}este_x" label="Este (X)" ng-model="comunidad.coordenadas.este_x"
          ng-disabled="$ctrl.noEditarCoordenadas()"
          ng-blur="$ctrl.coordenadaManual($index,comunidad)"></c-input>
        </div>
        <div ng-if="!$ctrl.noEditarCoordenadas()" class="md-input-group col-md-3">
          <c-input name="coordenadas{{$index}}norte_y" label="Norte (Y)" ng-model="comunidad.coordenadas.norte_y"
          ng-disabled="$ctrl.noEditarCoordenadas()"
          ng-blur="$ctrl.coordenadaManual($index,comunidad)"></c-input>
        </div>
        <div ng-if="!$ctrl.noEditarCoordenadas()" class="col-md-2"></div>
        <!-- FIN UTM -->
        <!-- DMS -->
        <div class="md-input-group col-md-2">
          <c-input-numeric name="coordenadas{{$index}}degrees1" label="°gra" ng-model="comunidad.coordenadas.degrees1"
          ng-disabled="$ctrl.noEditarCoordenadas()" ng-decimals="0"
          ng-blur="$ctrl.coordenadaManual($index,comunidad)"></c-input-numeric>
        </div>
        <div class="md-input-group col-md-2">
          <c-input-numeric name="coordenadas{{$index}}minutes1" label="' min" ng-model="comunidad.coordenadas.minutes1"
          ng-disabled="$ctrl.noEditarCoordenadas()" ng-decimals="0"
          ng-blur="$ctrl.coordenadaManual($index,comunidad)"></c-input-numeric>
        </div>
        <div class="md-input-group col-md-3">
          <c-input name="coordenadas{{$index}}seconds1" label="'' seg" ng-model="comunidad.coordenadas.seconds1"
          ng-disabled="$ctrl.noEditarCoordenadas()"
          ng-blur="$ctrl.coordenadaManual($index,comunidad)"></c-input>
        </div>
        <div class="md-input-group col-md-4">
          <c-input name="coordenadas{{$index}}direction1" label="N, S, E, W" ng-model="comunidad.coordenadas.direction1"
          ng-disabled="$ctrl.noEditarCoordenadas()"
          ng-blur="$ctrl.coordenadaManual($index,comunidad)"></c-input>
        </div>
        <div class="md-input-group col-md-2">
          <c-input-numeric name="coordenadas{{$index}}degrees2" label="°gra" ng-model="comunidad.coordenadas.degrees2"
          ng-disabled="$ctrl.noEditarCoordenadas()" ng-decimals="0"
          ng-blur="$ctrl.coordenadaManual($index,comunidad)"></c-input-numeric>
        </div>
        <div class="md-input-group col-md-2">
          <c-input-numeric name="coordenadas{{$index}}minutes2" label="' min" ng-model="comunidad.coordenadas.minutes2"
          ng-disabled="$ctrl.noEditarCoordenadas()" ng-decimals="0"
          ng-blur="$ctrl.coordenadaManual($index,comunidad)"></c-input-numeric>
        </div>
        <div class="md-input-group col-md-3">
          <c-input name="coordenadas{{$index}}seconds2" label="'' seg" ng-model="comunidad.coordenadas.seconds2"
          ng-disabled="$ctrl.noEditarCoordenadas()"
          ng-blur="$ctrl.coordenadaManual($index,comunidad)"></c-input>
        </div>
        <div class="md-input-group col-md-3">
          <c-input name="coordenadas{{$index}}direction2" label="N, S, E, W" ng-model="comunidad.coordenadas.direction2"
          ng-disabled="$ctrl.noEditarCoordenadas()"
          ng-blur="$ctrl.coordenadaManual($index,comunidad)"></c-input>
        </div>

        <!-- FIN DMS -->
        <div class="md-input-group col-md-4">
          <c-input name="coordenadas{{$index}}lat" label="Latitud" ng-model="comunidad.coordenadas.lat"
          ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios')"
          ng-disabled="$ctrl.noEditarCoordenadas()"
          ng-blur="$ctrl.coordenadaManual($index,comunidad)"></c-input>
        </div>
        <div class="md-input-group col-md-4">
          <c-input name="coordenadas{{$index}}lng" label="Longitud" ng-model="comunidad.coordenadas.lng"
          ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios')"
          ng-disabled="$ctrl.noEditarCoordenadas()"
          ng-blur="$ctrl.coordenadaManual($index,comunidad)"></c-input>
        </div>
        <div class="col-md-2"></div>
        <!-- <div class="md-input-group col-md-16">
          <p><strong>Latitud:</strong> {{comunidad.coordenadas.lat}}</p>
        </div>
        <div class="md-input-group col-md-16">
          <p><strong>Longitud:</strong> {{comunidad.coordenadas.lng}}</p>
        </div> -->
      </div>
    </div>
    <div class="col-lg-6" style="z-index:1">
      <leaflet lf-center="$ctrl.mapa.centro" defaults="$ctrl.mapa.defaults" maxbounds="$ctrl.mapa.maxbounds" ccontroles="$ctrl.mapa.controls" layers="$ctrl.myLayers" height="400px" width="100%" markers="$ctrl.mapa.marcadores"></leaflet>
    </div>
  </div>
  <div class="row">
    <!-- <div class="col-md-4">
      <c-input-numeric name="nro_familias" label="N° Familias Beneficiadas" ng-model="$ctrl.proyecto.beneficiarios.nro_familias"
      ng-minvalue="0" ng-maxvalue="999999" ng-formatting="false" ng-decimals="0"
      ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios')"
      ng-disabled="$ctrl.modoVista || !$ctrl.editarBeneficiarios()"></c-input-numeric>
    </div> -->
    <div class="col-md-6 col-lg-3">
      <c-input-numeric name="plazo_ejecucion" label="Plazo de ejecución (días calendario)" ng-model="$ctrl.proyecto.beneficiarios.plazo_ejecucion"
        ng-minvalue="0" ng-maxvalue="999999" ng-formatting="false" ng-decimals="0"
        ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios')"
        ng-disabled="$ctrl.modoVista || !$ctrl.editarIndicadores()"
        ng-blur="$ctrl.plazoEjecucion()"></c-input-numeric>
    </div>
    <div class="col-md-6 col-lg-1" ng-if="$ctrl.proyecto.cartera == 4">  <!--ng-if solo para cartera 4-->
      <ui-help message="$ctrl.helpLang.nro_fam" direction="top"></ui-help>
    <c-input-numeric name="cant_hombres" label="N°Hombres" ng-model="$ctrl.proyecto.beneficiarios.cant_hombres"
      ng-minvalue="0" ng-maxvalue="99999999" ng-formatting="false" ng-decimals="0"
      ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('beneficiarios')"></c-input-numeric>
      <c-input-numeric name="cant_mujeres" label="N° Mujeres" ng-model="$ctrl.proyecto.beneficiarios.cant_mujeres"
      ng-minvalue="0" ng-maxvalue="99999999" ng-formatting="false" ng-decimals="0"
      ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('beneficiarios')"></c-input-numeric>
    </div>
    <div class="col-md-6 col-lg-4" ng-if="$ctrl.proyecto.beneficiarios || $ctrl.editarBeneficiarios()">
      <select-parametro name="tamanio_proyecto" label="Tamaño del proyecto" ng-model="$ctrl.proyecto.beneficiarios.tamanio_proyecto" parametro="OP_TAMANIO_PROYECTO"
        ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios')"
        ng-disabled="$ctrl.modoVista || !$ctrl.editarIndicadores()"></select-parametro>
    </div>
    <div class="col-md-6 col-lg-4" ng-if="$ctrl.proyecto.beneficiarios || $ctrl.editarBeneficiarios()">
      <select-parametro name="tipo_financiamiento" label="Tipo de financiamiento" ng-model="$ctrl.proyecto.beneficiarios.tipo_financiamiento" parametro="OP_TIPO_FINANCIAMIENTO"
        ng-change="$ctrl.selTipoFinanciamiento(item)"
        ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios')"
        ng-disabled="$ctrl.modoVista || !$ctrl.editarIndicadores()"></select-parametro>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-4" ng-if="$ctrl.proyecto.beneficiarios || $ctrl.editarBeneficiarios()">
      <select-parametro name="tipo" label="Tipo de proyecto" ng-model="$ctrl.proyecto.beneficiarios.tipo" parametro="OP_TIPO_PROYECTO"
      ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios')"
      ng-disabled="$ctrl.modoVista || !$ctrl.editarIndicadores()"  ng-change="$ctrl.setIndicadores(); $ctrl.cambiarUnidades(); $ctrl.limpiarMatriz()"></select-parametro>
    </div>
    <div class="col-md-6 col-lg-4" ng-if="$ctrl.Proyecto.tratarComoProductivo($ctrl.proyecto)">
      <select-parametro name="tipo" label="Subclasificación Proyecto Productivo" ng-model="$ctrl.proyecto.beneficiarios.subtipo_productivo" parametro="ST_PROY_PRODUCTIVO"
      ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios') && $ctrl.Proyecto.tratarComoProductivo($ctrl.proyecto)"
      ng-disabled="$ctrl.modoVista || !$ctrl.editarIndicadores()"
      ng-change="$ctrl.clearIndicadores();"></select-parametro>
    </div>
    <div class="col-md-6 col-lg-4 d-flex align-items-center" ng-if="$ctrl.Proyecto.tratarComoProductivo($ctrl.proyecto) && $ctrl.editarIndicadores()">
      <button class="btn btn-success btn-sm" ng-click="$ctrl.adicionarIndicador()" uib-tooltip="Agregar nuevo indicador">
        <i class="fa fa-plus" style="vertical-align: middle"></i>
      </button>
    </div>
  </div>

  <div ng-if="$ctrl.proyecto.beneficiarios.tipo !== 'OP_TP_PRODUCTIVO' && false">
    <div class="row">
      <div class="col-md-4 col-lg-4">
        <!-- c-input name="indicadores_impacto_numero" label="Indicadores de Impacto" ng-model="$ctrl.proyecto.beneficiarios.indicadores_impacto_numero"
        ng-directives="uppercase" maxlength="10"
        ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios')"
        ng-disabled="$ctrl.modoVista || !$ctrl.editarBeneficiarios()" ng-blur="$ctrl.combinarIndicadoresImpacto(); $ctrl.actualizarIndicadoresImpacto()"></c-input -->
        <c-input-numeric name="indicadores_impacto_numero" label="Indicadores de Impacto" ng-model="$ctrl.proyecto.beneficiarios.indicadores_impacto_numero"
          ng-minvalue="0" ng-maxvalue="999999999" ng-formatting="false" ng-decimals="2"
          ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios')"
          ng-disabled="$ctrl.modoVista || !$ctrl.editarBeneficiarios()"
          ng-blur="$ctrl.combinarIndicadoresImpacto(); $ctrl.actualizarIndicadoresImpacto()"></c-input-numeric>
      </div>
      <!-- Casos tipo Riego y Puentes -->
      <div class="col-md-6 col-lg-4" ng-if="($ctrl.proyecto.beneficiarios && $ctrl.proyecto.beneficiarios.tipo !== 'OP_TP_PRODUCTIVO')">
        <c-input name="indicadores_impacto_unidades" label="Unidades" ng-model="$ctrl.proyecto.beneficiarios.indicadores_impacto_unidades"
        ng-directives="uppercase" maxlength="255"
        ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios')"
        ng-disabled="$ctrl.modoVista || !$ctrl.editarBeneficiarios()" ng-blur="$ctrl.combinarIndicadoresImpacto()"></c-input>
      </div>
      <!-- Caso tipo Productivo -->
      <div class="col-md-4 col-lg-4" ng-if="($ctrl.proyecto.beneficiarios && $ctrl.proyecto.beneficiarios.tipo == 'OP_TP_PRODUCTIVO')">
        <!--select-parametro name="indicadores_impacto_unidades" label="Unidades de indicador de impacto" ng-model="$ctrl.proyecto.beneficiarios.indicadores_impacto_unidades" parametro="UNIDAD"
        select-model="'nombre'"
        ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios')"
        ng-disabled="$ctrl.modoVista || !$ctrl.editarBeneficiarios()" ng-change="$ctrl.combinarIndicadoresImpacto()"></select-parametro-->
        <c-input ng-if="$ctrl.seleccion_unidades.length == 1" name="indicadores_impacto_unidades" label="Unidades" ng-model="$ctrl.proyecto.beneficiarios.indicadores_impacto_unidades" maxlength="255"
          ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios')"
          ng-disabled="true" ng-blur="$ctrl.combinarIndicadoresImpacto()"></c-input>

        <c-select ng-if="$ctrl.seleccion_unidades.length > 1" name="indicadores_impacto_unidades" label="Unidades" ng-model="$ctrl.proyecto.beneficiarios.indicadores_impacto_unidades"
            options="$ctrl.seleccion_unidades"
            ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios')"
            ng-disabled="$ctrl.modoVista || !$ctrl.editarBeneficiarios()" ng-change="$ctrl.combinarIndicadoresImpacto()">
        </c-select>
      </div>
      <!-- Caso tipo Productivo "Otro" -->
      <div class="col-md-4 col-lg-4" ng-if="($ctrl.proyecto.beneficiarios.indicadores_impacto_unidades.codigo == 'Otro')">
        <c-input name="indicadores_impacto_otro" label="Especifique las unidades del indicador de impacto" ng-model="$ctrl.proyecto.beneficiarios.indicadores_impacto_otro"
        ng-directives="uppercase" maxlength="255"
        ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios') && $ctrl.proyecto.beneficiarios && $ctrl.proyecto.beneficiarios.indicadores_impacto_unidades == 'OTRO'"
        ng-disabled="$ctrl.modoVista || !$ctrl.editarBeneficiarios()" ng-blur="$ctrl.combinarIndicadoresImpacto()"></c-input>
      </div>
    </div>
  </div>

  <div ng-repeat="(keyIndicador,indicador) in $ctrl.proyecto.beneficiarios.indicadores_impacto">
    <div class="row">
      <div class="col-md-1 col-lg-1 d-flex align-items-center justify-content-end">
        <button class="btn btn-link text-danger ml-1 pl-1 pr-1" ng-click="$ctrl.eliminarIndicador(keyIndicador)"
          ng-if="$ctrl.Proyecto.tratarComoProductivo($ctrl.proyecto) && $ctrl.editarIndicadores()" uib-tooltip="Eliminar indicador">
          <i class="fa fa-trash-o"></i>
        </button>
      </div>
      <div class="col-md-3 col-lg-2">
        <c-input-numeric name="indicadores_impacto_numero_{{keyIndicador}}" label="Indicador de impacto" ng-model="indicador.numero"
          ng-minvalue="0" ng-maxvalue="999999999" ng-formatting="false" ng-decimals="2"
          ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios')"
          ng-disabled="$ctrl.modoVista || !$ctrl.editarIndicadores()"
          ng-blur="$ctrl.combinarIndicadoresImpacto(keyIndicador); $ctrl.actualizarIndicadoresImpacto(keyIndicador)"></c-input-numeric>
      </div>
      <!-- Casos tipo Riego y Puentes -->
      <div class="col-md-3 col-lg-2" ng-if="$ctrl.proyecto.beneficiarios && !$ctrl.Proyecto.tratarComoProductivo($ctrl.proyecto)">
        <c-input name="indicadores_impacto_unidades_{{keyIndicador}}" label="Unidades" ng-model="indicador.unidades"
        ng-directives="uppercase" maxlength="255"
        ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios')"
        ng-disabled="$ctrl.modoVista || !$ctrl.editarIndicadores()" ng-blur="$ctrl.combinarIndicadoresImpacto(keyIndicador)"></c-input>
      </div>
      <!-- Caso tipo Productivo -->
      <div class="col-md-3 col-lg-2" ng-if="$ctrl.proyecto.beneficiarios && $ctrl.Proyecto.tratarComoProductivo($ctrl.proyecto)">
        <c-input ng-if="$ctrl.seleccion_unidades.length == 1" name="indicadores_impacto_unidades_{{keyIndicador}}" label="Unidades" ng-model="indicador.unidades" maxlength="255"
          ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios')"
          ng-disabled="true" ng-blur="$ctrl.combinarIndicadoresImpacto(keyIndicador)"></c-input>

        <c-select ng-if="$ctrl.seleccion_unidades.length > 1" name="indicadores_impacto_unidades_{{keyIndicador}}" label="Unidades" ng-model="indicador.unidades"
            options="$ctrl.seleccion_unidades"
            ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios')"
            ng-change="$ctrl.combinarIndicadoresImpacto(keyIndicador)"
            ng-disabled="$ctrl.modoVista || !$ctrl.editarIndicadores()"><!--ng-disabled="$ctrl.modoVista || !$ctrl.editarIndicadores()"-->
        </c-select>
      </div>
      <!-- Caso tipo Productivo "Otro" -->
      <div class="col-md-3 col-lg-2" ng-if="(indicador.unidades.codigo == 'Otro')">
        <c-input name="indicadores_impacto_otro_{{keyIndicador}}" label="Unidades (otro)" ng-model="indicador.otro"
        ng-directives="uppercase" maxlength="255"
        ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios') && $ctrl.proyecto.beneficiarios && $ctrl.proyecto.beneficiarios.indicadores_impacto_unidades[keyIndicador] == 'OTRO'"
        ng-disabled="$ctrl.modoVista || !$ctrl.editarIndicadores()" ng-blur="$ctrl.combinarIndicadoresImpacto(keyIndicador)"></c-input>
      </div>
    </div>
  </div>
  <div class="row" ng-if="$ctrl.proyecto.beneficiarios.tipo_financiamiento == 'OP_TF_MIXTA'">
    <div class="col-md-12">
      <c-input name="nombre-componente-publico" label="Nombre Formal del Componente Público" ng-model="$ctrl.proyecto.financiamiento.nombre_componente_publico"
        ng-minlength="3" maxlength="255"
        ng-directives="uppercase"
        ng-required="!$ctrl.modoVista && $ctrl.proyecto.beneficiarios.tipo_financiamiento == 'OP_TF_MIXTA'"
        ng-disabled="$ctrl.modoVista || !$ctrl.editarBeneficiarios()"></c-input>
      </div>
    </div>
  </div>
</section>
<section ng-if="$ctrl.Proyecto.tratarComoProductivo($ctrl.proyecto) && $ctrl.sectorProductivo.length > 1">
  <h6 class="title-section m-top">Productivo</h6>
  <div class="row">
    <div class="col-12">
        <formly-form class="row" model="$ctrl.proyecto.beneficiarios.productivo" fields="$ctrl.sectorProductivo"></formly-form>
    </div>
  </div>
</section>
