<section ng-init="$ctrl.proyecto.beneficiarios.$_plantilla=1; $ctrl.proyecto.beneficiarios.$_nombre='beneficiarios'">
  <h6 class="title-section m-top"></h6>
  <div class="row">
    <div class="col-lg-6" ng-if="$ctrl.ver_comunidades">
      <div class="row" ng-repeat="comunidad in $ctrl.proyecto.beneficiarios.comunidades">
        <div class="md-input-group col-md-2">
          <div class="md-form-group" md-event-label="">
            <input name="nro0" id="nro0" disabled="true" readonly="true" value="{{$index+1}}" maxlength="255" class="ng-valid ng-valid-pattern ng-valid-minlength ng-valid-maxlength ng-valid-required ng-not-empty ng-dirty ng-valid-parse ng-touched" type="text">
            <label for="nro0" title="" class="md-control-label ng-binding" ng-class="{'requerido':$ctrl.ngRequired}">Nro.</label>
            <i class="md-bar" ng-class="{'error':$ctrl.form[$ctrl.name].$invalid &amp;&amp; $ctrl.form[$ctrl.name].$touched}"></i>
          </div>
        </div>
        <div class="md-input-group col-md-8">
          <c-input name="nombre{{$index}}" label="Nombre" ng-model="comunidad.nombre"
          maxlength="255" ng-blur="$ctrl.renombrarComunidad($index,comunidad)"
          ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios')"
          ng-disabled="$ctrl.modoVista || !$ctrl.editarBeneficiarios()"></c-input>
        </div>
        <div class="md-input-group col-md-2">
          <button type="button" class="btn btn-sm btn-danger" ng-if="!$ctrl.modoVista && $ctrl.editarBeneficiarios()" ng-click="$ctrl.quitarComunidad($index)"><i class="fa fa-trash"></i></button>
        </div>
        <!--- UTM -->
        <div ng-if="!$ctrl.noEditarCoordenadas()" class="col-md-2"></div>
        <div ng-if="!$ctrl.noEditarCoordenadas()" class="md-input-group col-md-2">
          <c-input-numeric name="coordenadas{{$index}}zona" label="Zona" ng-model="comunidad.coordenadas.zona"
          ng-disabled="$ctrl.noEditarCoordenadas()" ng-decimals="0"
          ng-blur="$ctrl.coordenadaManual($index,comunidad)"></c-input-numeric>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
    <div class="col-lg-6" style="z-index:1">
      <leaflet lf-center="$ctrl.mapa.centro" defaults="$ctrl.mapa.defaults" maxbounds="$ctrl.mapa.maxbounds" ccontroles="$ctrl.mapa.controls" layers="$ctrl.myLayers" height="400px" width="100%" markers="$ctrl.mapa.marcadores"></leaflet>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <c-input-numeric name="plazo_ejecucion" label="Plazo de ejecución (días calendario)" ng-model="$ctrl.proyecto.beneficiarios.plazo_ejecucion"
        ng-minvalue="0" ng-maxvalue="999999" ng-formatting="false" ng-decimals="0"
        ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios')"
        ng-disabled="$ctrl.modoVista || !$ctrl.editarIndicadores()"
        ng-blur="$ctrl.plazoEjecucion()"></c-input-numeric>
    </div>
    <div class="col-md-6 col-lg-4" ng-if="$ctrl.proyecto.beneficiarios || $ctrl.editarBeneficiarios()">
      <select-parametro name="tamanio_proyecto" label="Tamaño del proyecto" ng-model="$ctrl.proyecto.beneficiarios.tamanio_proyecto" parametro="OP_TAMANIO_PROYECTO"
        ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios')"
        ng-disabled="$ctrl.modoVista || !$ctrl.editarIndicadores()"></select-parametro>
    </div>
    <div class="col-md-6 col-lg-4" ng-if="$ctrl.proyecto.beneficiarios || $ctrl.editarBeneficiarios()">
      <select-parametro name="tipo_financiamiento" label="Tipo de financiamiento" ng-model="$ctrl.proyecto.beneficiarios.tipo_financiamiento" parametro="OP_TIPO_FINANCIAMIENTO"
        ng-change="$ctrl.selTipoFinanciamiento(item)"
        ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios')"
        ng-disabled="$ctrl.modoVista || !$ctrl.editarIndicadores()"></select-parametro>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-4" ng-if="$ctrl.proyecto.beneficiarios || $ctrl.editarBeneficiarios()">
      <select-parametro name="tipo" label="Tipo de proyecto" ng-model="$ctrl.proyecto.beneficiarios.tipo" parametro="OP_TIPO_PROYECTO"
      ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios')"
      ng-disabled="$ctrl.modoVista || !$ctrl.editarIndicadores()"  ng-change="$ctrl.setIndicadores(); $ctrl.cambiarUnidades(); $ctrl.limpiarMatriz()"></select-parametro>
    </div>
    <div class="col-md-6 col-lg-4" ng-if="$ctrl.proyecto.beneficiarios.tipo == 'OP_TP_PRODUCTIVO'">
      <select-parametro name="tipo" label="Subclasificación Proyecto Productivo" ng-model="$ctrl.proyecto.beneficiarios.subtipo_productivo" parametro="ST_PROY_PRODUCTIVO"
      ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios') && $ctrl.proyecto.beneficiarios.tipo=='OP_TP_PRODUCTIVO'"
      ng-disabled="$ctrl.modoVista || !$ctrl.editarIndicadores()"></select-parametro>
    </div>
    <div class="col-md-6 col-lg-4" ng-if="$ctrl.proyecto.beneficiarios.tipo == 'OP_TP_PRODUCTIVO' && $ctrl.editarIndicadores()">
      <button class="btn btn-success btn-sm" ng-click="$ctrl.adicionarIndicador()" uib-tooltip="Agregar nuevo indicador">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>

  <div ng-if="$ctrl.proyecto.beneficiarios.tipo !== 'OP_TP_PRODUCTIVO' && false">
    <div class="row">
      <div class="col-md-4 col-lg-4">
        <!-- c-input name="indicadores_impacto_numero" label="Indicadores de Impacto" ng-model="$ctrl.proyecto.beneficiarios.indicadores_impacto_numero"
        ng-directives="uppercase" maxlength="10"
        ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios')"
        ng-disabled="$ctrl.modoVista || !$ctrl.editarBeneficiarios()" ng-blur="$ctrl.combinarIndicadoresImpacto(); $ctrl.actualizarIndicadoresImpacto()"></c-input -->
        <c-input-numeric name="indicadores_impacto_numero" label="Indicadores de Impacto" ng-model="$ctrl.proyecto.beneficiarios.indicadores_impacto_numero"
          ng-minvalue="0" ng-maxvalue="999999999" ng-formatting="false" ng-decimals="2"
          ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios')"
          ng-disabled="$ctrl.modoVista || !$ctrl.editarBeneficiarios()"
          ng-blur="$ctrl.combinarIndicadoresImpacto(); $ctrl.actualizarIndicadoresImpacto()"></c-input-numeric>
      </div>
      <!-- Casos tipo Riego y Puentes -->
      <div class="col-md-6 col-lg-4" ng-if="($ctrl.proyecto.beneficiarios && $ctrl.proyecto.beneficiarios.tipo !== 'OP_TP_PRODUCTIVO')">
        <c-input name="indicadores_impacto_unidades" label="Unidades de indicador de impacto" ng-model="$ctrl.proyecto.beneficiarios.indicadores_impacto_unidades"
        ng-directives="uppercase" maxlength="255"
        ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios')"
        ng-disabled="$ctrl.modoVista || !$ctrl.editarBeneficiarios()" ng-blur="$ctrl.combinarIndicadoresImpacto()"></c-input>
      </div>
      <!-- Caso tipo Productivo -->
      <div class="col-md-4 col-lg-4" ng-if="($ctrl.proyecto.beneficiarios && $ctrl.proyecto.beneficiarios.tipo == 'OP_TP_PRODUCTIVO')">
        <!--select-parametro name="indicadores_impacto_unidades" label="Unidades de indicador de impacto" ng-model="$ctrl.proyecto.beneficiarios.indicadores_impacto_unidades" parametro="UNIDAD"
        select-model="'nombre'"
        ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios')"
        ng-disabled="$ctrl.modoVista || !$ctrl.editarBeneficiarios()" ng-change="$ctrl.combinarIndicadoresImpacto()"></select-parametro-->
        <c-input ng-if="$ctrl.seleccion_unidades.length == 1" name="indicadores_impacto_unidades" label="Unidades de indicador de impacto" ng-model="$ctrl.proyecto.beneficiarios.indicadores_impacto_unidades" maxlength="255"
          ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios')"
          ng-disabled="true" ng-blur="$ctrl.combinarIndicadoresImpacto()"></c-input>

        <c-select ng-if="$ctrl.seleccion_unidades.length > 1" name="indicadores_impacto_unidades" label="Unidades de indicador de impacto" ng-model="$ctrl.proyecto.beneficiarios.indicadores_impacto_unidades"
            options="$ctrl.seleccion_unidades"
            ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios')"
            ng-disabled="$ctrl.modoVista || !$ctrl.editarBeneficiarios()" ng-change="$ctrl.combinarIndicadoresImpacto()">
        </c-select>
      </div>
      <!-- Caso tipo Productivo "Otro" -->
      <div class="col-md-4 col-lg-4" ng-if="($ctrl.proyecto.beneficiarios.indicadores_impacto_unidades.codigo == 'Otro')">
        <c-input name="indicadores_impacto_otro" label="Especifique las unidades del indicador de impacto" ng-model="$ctrl.proyecto.beneficiarios.indicadores_impacto_otro"
        ng-directives="uppercase" maxlength="255"
        ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios') && $ctrl.proyecto.beneficiarios && $ctrl.proyecto.beneficiarios.indicadores_impacto_unidades == 'OTRO'"
        ng-disabled="$ctrl.modoVista || !$ctrl.editarBeneficiarios()" ng-blur="$ctrl.combinarIndicadoresImpacto()"></c-input>
      </div>
    </div>
  </div>

  <div ng-repeat="(keyIndicador,indicador) in $ctrl.proyecto.beneficiarios.indicadores_impacto">
    <div class="row">
      <div class="col-md-1 col-lg-1">
        <button class="btn btn-link text-danger ml-1 pl-1 pr-1" ng-click="$ctrl.eliminarIndicador(keyIndicador)"
          ng-if="$ctrl.proyecto.beneficiarios.tipo == 'OP_TP_PRODUCTIVO' && $ctrl.editarIndicadores()" uib-tooltip="Eliminar indicador">
          <i class="fa fa-trash-o"></i>
        </button>
      </div>
      <div class="col-md-3 col-lg-2">
        <c-input-numeric name="indicadores_impacto_numero_{{keyIndicador}}" label="Indicador de impacto" ng-model="indicador.numero"
          ng-minvalue="0" ng-maxvalue="999999999" ng-formatting="false" ng-decimals="2"
          ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios')"
          ng-disabled="$ctrl.modoVista || !$ctrl.editarIndicadores()"
          ng-blur="$ctrl.combinarIndicadoresImpacto(keyIndicador); $ctrl.actualizarIndicadoresImpacto(keyIndicador)"></c-input-numeric>
      </div>
      <!-- Casos tipo Riego y Puentes -->
      <div class="col-md-3 col-lg-2" ng-if="($ctrl.proyecto.beneficiarios && $ctrl.proyecto.beneficiarios.tipo !== 'OP_TP_PRODUCTIVO')">
        <c-input name="indicadores_impacto_unidades_{{keyIndicador}}" label="Unidades de indicador de impacto" ng-model="indicador.unidades"
        ng-directives="uppercase" maxlength="255"
        ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios')"
        ng-disabled="$ctrl.modoVista || !$ctrl.editarIndicadores()" ng-blur="$ctrl.combinarIndicadoresImpacto(keyIndicador)"></c-input>
      </div>
      <!-- Caso tipo Productivo -->
      <div class="col-md-3 col-lg-2" ng-if="($ctrl.proyecto.beneficiarios && $ctrl.proyecto.beneficiarios.tipo == 'OP_TP_PRODUCTIVO')">
        <c-input ng-if="$ctrl.seleccion_unidades.length == 1" name="indicadores_impacto_unidades_{{keyIndicador}}" label="Unidades de indicador de impacto" ng-model="indicador.unidades" maxlength="255"
          ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios')"
          ng-disabled="true" ng-blur="$ctrl.combinarIndicadoresImpacto(keyIndicador)"></c-input>

        <c-select ng-if="$ctrl.seleccion_unidades.length > 1" name="indicadores_impacto_unidades_{{keyIndicador}}" label="Unidades de indicador de impacto" ng-model="indicador.unidades"
            options="$ctrl.seleccion_unidades"
            ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios')"
            ng-disabled="$ctrl.modoVista || !$ctrl.editarIndicadores()" ng-change="$ctrl.combinarIndicadoresImpacto(keyIndicador)">
        </c-select>
      </div>
      <!-- Caso tipo Productivo "Otro" -->
      <div class="col-md-3 col-lg-2" ng-if="(indicador.unidades.codigo == 'Otro')">
        <c-input name="indicadores_impacto_otro_{{keyIndicador}}" label="Unidades de indicador de impacto (Otro)" ng-model="indicador.otro"
        ng-directives="uppercase" maxlength="255"
        ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios') && $ctrl.proyecto.beneficiarios && $ctrl.proyecto.beneficiarios.indicadores_impacto_unidades[keyIndicador] == 'OTRO'"
        ng-disabled="$ctrl.modoVista || !$ctrl.editarIndicadores()" ng-blur="$ctrl.combinarIndicadoresImpacto(keyIndicador)"></c-input>
      </div>
    </div>
  </div>
  <div class="row" ng-if="$ctrl.proyecto.beneficiarios.tipo_financiamiento == 'OP_TF_MIXTA'">
    <div class="col-md-12">
      <c-input name="nombre-componente-publico" label="Nombre Formal del Componente Público" ng-model="$ctrl.proyecto.financiamiento.nombre_componente_publico"
        ng-minlength="3" maxlength="255"
        ng-directives="uppercase"
        ng-required="!$ctrl.modoVista && $ctrl.proyecto.beneficiarios.tipo_financiamiento == 'OP_TF_MIXTA'"
        ng-disabled="$ctrl.modoVista || !$ctrl.editarBeneficiarios()"></c-input>
      </div>
    </div>
  </div>
</section>
<section ng-if="$ctrl.proyecto.beneficiarios.tipo == 'OP_TP_PRODUCTIVO' && $ctrl.sectorProductivo.length > 1">
  <h6 class="title-section m-top">Productivo</h6>
  <div class="row">
    <div class="col-12">
        <formly-form class="row" model="$ctrl.proyecto.beneficiarios.productivo" fields="$ctrl.sectorProductivo"></formly-form>
    </div>
  </div>
</section>
