<div class="modal-header">
  <h5 class="modal-title"><i class="fa fa-plus-circle"></i> Select Comunidad</h5>
  <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cerrar()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div class="form-check" ng-repeat="comun in $ctrl.data.datos">
    <input class="form-check-input" type="checkbox" ng-model="comun.seleccionado" id="{{comun.fid}}">
    <label class="form-check-label" for="{{comun.fid}}">
      {{comun.comunidad}}
    </label>
  </div>
</div>

<div class="modal-footer">
  <button type="button" md-effect class="btn btn-secondary" ng-click="$ctrl.cerrar()">
    <i class="fa fa-close"></i> Cancelar
  </button>
  <button type="submit" md-effect class="btn btn-primary"  ng-click="$ctrl.aceptar()">
    <i class="fa fa-check"></i> aceptar
  </button>
</div>
