<div id="documento" ng-if="$ctrl.modoVista || ($ctrl.mostrarArchivo() && !$ctrl.cargarArchivo)">
  <div class="opciones">
    <button md-effect type="button" class="btn btn-success btn-sm" uib-tooltip="Ver documento" ng-click="$ctrl.vistaPrevia()" ng-if="$ctrl.ver && $ctrl.ngModel">
      <i class="fa fa-eye"></i>
    </button>

    <button md-effect type="button" class="btn btn-primary btn-sm" uib-tooltip="Descargar"
            download-file="{{$ctrl.urlDescargaDocumento}}" file-name="{{$ctrl.label}}" ng-if="$ctrl.descargar && $ctrl.ngModel">
      <i class="fa fa-download"></i>
    </button>

    <button md-effect type="button" class="btn btn-info btn-sm" uib-tooltip="Cambiar" ng-if="!$ctrl.modoVista" ng-click="$ctrl.cargarArchivo = true">
      <i class="fa fa-exchange"></i>
    </button>
  </div>
  <img ng-if="$ctrl.ngModel" src="./images/documento.jpg" alt="Documento">
  <img ng-if="!$ctrl.ngModel" src="./images/nodocumento.jpg" alt="Documento">
  <div class="detalles">
    <div class="nombre">{{$ctrl.label}}</div>
  </div>
</div>

<ui-input-file name="{{$ctrl.name}}" label="{{$ctrl.label}}" file-base64="$ctrl.ngModel"
               types="{{$ctrl.types}}" mime-types="{{$ctrl.mimeTypes}}" maxfiles="1" maxsize="{{$ctrl.maxsize}}"
               ng-if="!$ctrl.modoVista && (!$ctrl.mostrarArchivo() || $ctrl.cargarArchivo)">
</ui-input-file>
