<!--
<div class="container">
  <h2 class="page-title">
    <i class="fa fa-bars"></i> Configuracion de techos presupuestarios
  </h2>
  <div class="card">
    <div class="card-body">
      <h4>Techo presupuestario por municipio</h4>
      <br>
      <div>
        <button type="button" class="btn btn-sm btn-warning" ng-click="$ctrl.reestablecerValores()"><i class="fa fa-refresh"></i> Reestablecer valores iniciales</button>
      </div>
      <br>
      <form name="techo_presupuestario">
        <table>
          <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Techo presupuestario</th>
            <th>Monto usado</th>
            <th>Monto disponible</th>
          </tr>
          <tr ng-repeat="techo in $ctrl.techos_presupuestarios">
            <td>
              <c-input name="codigo{{$index}}" ng-model="techo.codigo" ng-disabled="techo.codigo_ant"></c-input>
            </td>
            <td>
              <c-input name="nombre_municipio{{$index}}" ng-model="techo.nombre_municipio"></c-input>
            </td>
            <td>
              <c-input name="techo_presupuestal{{$index}}" ng-model="techo.techo_presupuestal"></c-input>
            </td>
            <td>
              <c-input name="monto_usado{{$index}}" ng-model="techo.monto_usado" ng-disabled="true"></c-input>
            </td>
            <td>
              <c-input name="monto_disponible{{$index}}" ng-model="techo.monto_disponible" ng-disabled="true"></c-input>
            </td>
            <td>
              <button type="button" class="btn btn-sm" ng-class="{'btn-success':(techo.nombre_municipio != techo.nombre_municipio_ant || techo.techo_presupuestal != techo.techo_presupuestal_ant)}" ng-click="$ctrl.actualizar(techo)"><i class="fa fa-save"></i></button>
            </td>
          </tr>
        </table>
        <!--
        <div>
          <button type="button" class="btn btn-sm btn-primary" ng-click="$ctrl.nuevo(techo)"><i class="fa fa-check"></i> Nuevo registro</button>
        </div>

      <form>
    </div>
  </div>
</div>
-->

<div class="container">
  <h2 class="page-title">
    <i class="fa fa-bars"></i> Tabla de techos presupuestarios
  </h2>
  <div class="card">
    <div class="card-body">
      <form name="form_gestion">
        <div class="row">
          <div class="col-md-6">
            <c-select label="Gestión" name="gestion" ng-model="$ctrl.gestion" options="$ctrl.gestiones" keyValue="gestion" on-select="$ctrl.cambiarGestion(item)"></c-select>
          </div>
        </div>
      </form>
      <crud-table url="$ctrl.techos_presupuestarios.url"
                data="$ctrl.techos_presupuestarios.data"
                fields="$ctrl.techos_presupuestarios.fields"
                permission="$ctrl.techos_presupuestarios.permission"
                event-create="$ctrl.techos_presupuestarios.eventCreate"
                event-edit="$ctrl.techos_presupuestarios.eventEdit"
                event-delete="$ctrl.techos_presupuestarios.eventDelete"
                buttons="$ctrl.techos_presupuestarios.buttons"
                labels="$ctrl.techos_presupuestarios.labels"
                fks="$ctrl.techos_presupuestarios.fks"
                update="$ctrl.techos_presupuestarios.update"
                clases="$ctrl.techos_presupuestarios.clases"
                query-extra="$ctrl.techos_presupuestarios.queryExtra"
                ng-if="$ctrl.techos_presupuestarios"
                hidden-fields="$ctrl.techos_presupuestarios.hiddenFields">
      </crud-table>
    </div>
  </div>
  <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <button md-effect type="button" class="btn btn-sm btn-warning" ng-click="$ctrl.reestablecerValores()">
              Reestablecer valores iniciales
            </button>
          </div>
        </div>
      </div>
    </div>
</div>
