<div class="formularios">
  <div id="documento" ng-repeat="formulario in $ctrl.proyecto.formularios">
    <div class="opciones">
      <button md-effect type="button" class="btn btn-success btn-sm" uib-tooltip="Ver documento" ng-click="$ctrl.ver(formulario)">
        <i class="fa fa-eye"></i>
      </button>

        <button md-effect type="button" class="btn btn-primary btn-sm" uib-tooltip="Descargar"
                download-file="{{formulario.path}}" file-name="{{formulario.nombre_archivo}}">
        <i class="fa fa-download"></i>
      </button>
    </div>
    <img src="./images/formulario.jpg" alt="Documento">
    <div class="detalles">
      <div class="nombre">{{formulario.nombre}}</div>
    </div>
  </div>
</div>
