<section>
  <div ng-if="$ctrl.puedeReenviarConfirmacion()">
    <reconfirmacion-usuario usuario="$ctrl.usuarioGam" api="{{$ctrl.urlReconfirmacion}}"></reconfirmacion-usuario>
    <button md-effect type="button" class="btn btn-sm btn-danger" uib-tooltip="Inhabilitar usuario" ng-click="$ctrl.inactivarUsuarioResponsableGam($ctrl.usuarioGam)"><i class="fa fa-ban"></i></button>
  </div>

  <documento-identidad ng-model="$ctrl.proyecto.autoridad_beneficiaria" modo-vista="$ctrl.modoVista"></documento-identidad>

  <div class="row">
    <div class="md-input-group col-md-12">
      <c-input name="cargo" label="Cargo" ng-model="$ctrl.proyecto.cargo_autoridad_beneficiaria"
        maxlength="150"
        ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('cargo_autoridad_beneficiaria')"
        ng-disabled="true">
      </c-input>
    </div>

    <div class="md-input-group col-md-4">
      <c-input name="correo" label="Correo Electrónico" ng-model="$ctrl.proyecto.autoridad_beneficiaria.correo"
        maxlength="150" ng-validation="correo"
        ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('autoridad_beneficiaria')"
        ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('autoridad_beneficiaria')">
      </c-input>
    </div>

    <div class="md-input-group col-md-4">
      <c-input name="celular" label="Celular" ng-model="$ctrl.proyecto.autoridad_beneficiaria.telefono"
        ng-validation="celular" ng-directives="numeric" maxlength="8"
        ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('autoridad_beneficiaria')"
        ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('autoridad_beneficiaria')">
      </c-input>
    </div>

    <div class="md-input-group col-md-4">
      <c-input name="fax" label="Teléfono/Fax" ng-model="$ctrl.proyecto.fax_autoridad_beneficiaria"
        ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('fax_autoridad_beneficiaria')"
        ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('fax_autoridad_beneficiaria')">
      </c-input>
    </div>
  </div>
</section>

<section ng-init="$ctrl.proyecto.contactos.$_plantilla=3; $ctrl.proyecto.contactos.$_nombre='contactos'">
  <div ng-repeat="contacto in $ctrl.proyecto.contactos.datos">
    <hr style="height:8px;margin-left:-19px;margin-right:-19px;background-color:#C9CDD0;">
    <documento-identidad ng-model="contacto.persona" modo-vista="$ctrl.modoVista" callback-search="$ctrl.verificar(data, $index)" ng-id="{{$index}}"></documento-identidad>

    <div class="row">
      <div class="md-input-group col-md-12">
        <c-input name="cargo{{$index}}" label="Cargo" ng-model="contacto.cargo"
          maxlength="150"
          ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('cargo_autoridad_beneficiaria')"
          ng-disabled="$index<1 || $ctrl.modoVista || !$ctrl.Proyecto.esEditable('cargo_autoridad_beneficiaria')">
        </c-input>
      </div>

      <div class="md-input-group col-md-4">
        <c-input name="correo{{$index}}" label="Correo Electrónico" ng-model="contacto.correo"
          maxlength="150" ng-validation="correo"
          ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('autoridad_beneficiaria')"
          ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('autoridad_beneficiaria')">
        </c-input>
      </div>

      <div class="md-input-group col-md-4">
        <c-input name="celular{{$index}}" label="Celular" ng-model="contacto.telefono"
          ng-validation="celular" ng-directives="numeric" maxlength="8"
          ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('autoridad_beneficiaria')"
          ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('autoridad_beneficiaria')">
        </c-input>
      </div>

      <div class="md-input-group col-md-4">
        <c-input name="fax{{$index}}" label="Teléfono/Fax" ng-model="contacto.fax"
          ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('fax_autoridad_beneficiaria')"
          ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('fax_autoridad_beneficiaria')">
        </c-input>
      </div>
    </div>
    <button type="button" class="btn btn-md btn-danger" ng-if="$index>0 && !$ctrl.modoVista && $ctrl.Proyecto.esEditable('autoridad_beneficiaria') && $ctrl.proyecto.contactos.datos.length>0" ng-click="$ctrl.quitarContacto($index)"><i class="fa fa-minus-circle"></i></button>
  </div>

  <hr style="height:8px;margin-left:-19px;margin-right:-19px;background-color:#C9CDD0;">
  <button type="button" class="btn btn-md btn-success" ng-if="!$ctrl.modoVista && $ctrl.Proyecto.esEditable('autoridad_beneficiaria')" ng-click="$ctrl.agregarContacto()"><i class="fa fa-plus-circle"></i></button>
</section>