<div class="modal-header">
  <h5 class="modal-title"><i class="fa fa-plus-circle"></i>
    {{ 'Registro de Responsable GAM/GAIOC' }}
    <!-- {{$ctrl.miembro.tipo_equipo != 'TE_FDI' && !$ctrl.miembro.id_equipo_tecnico ? 'Registro' : $ctrl.modoEdicion ? 'Edición del' : ''}} Integrante del Equipo Técnico <span ng-if="$ctrl.referencia!=null">para {{$ctrl.referencia}}</span> -->
  </h5>
  <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cerrar()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ng-form name="formMiembro">
    <documento-identidad ng-model="$ctrl.miembro" modo-vista="!$ctrl.modoEdicion"></documento-identidad>

    <div class="row">
      <div class="md-input-group col-md-6">
        <c-input name="celular_miembro" label="Celular" ng-model="$ctrl.miembro.telefono"
        ng-validation="celular" ng-directives="numeric" maxlength="8" ng-required="true"></c-input>
      </div>

      <div class="md-input-group col-md-6">
        <c-input name="correo_miembro" label="Correo Electrónico" ng-model="$ctrl.miembro.correo"
        ng-validation="correo" ng-required="true"></c-input>
      </div>
    </div>
  </ng-form>
</div>

<div class="modal-footer">
  <button type="button" md-effect class="btn btn-secondary" ng-click="$ctrl.cerrar()">
    <i class="fa fa-close"></i> Cancelar
  </button>
  <button type="submit" md-effect class="btn btn-primary" ng-click="$ctrl.registrar()" validar-formulario="formMiembro">
    <i class="fa fa-check"></i> Actualizar
  </button>
</div>
