<div class="crud-table table-responsive" ng-table="$ctrl.tableParams">
  <table class="table table-striped table-hover ng-table">
    <tr ng-repeat="empleado in $data">
      <td data-title="'Acción'">
        <button md-effect type="button" class="btn btn-success btn-noborder btn-sm"
                uib-tooltip="Ver experiencia" ng-click="$ctrl.verExperiencia(empleado)">
          <i class="fa fa-eye"></i>
        </button>
      </td>
      <td data-title="'Cargo'" filter="{cargo_actual: 'text'}" sortable="'cargo_actual'">{{empleado.cargo_actual}}</td>
      <td data-title="'Nombre'" filter="{nombre: 'text'}" sortable="'nombre'">{{empleado.nombre}}</td>
      <td data-title="'Cédula de Identidad'" filter="{documento_identidad: 'text'}" sortable="'documento_identidad'">{{empleado.documento_identidad}}</td>
      <td data-title="'Nacionalidad'" filter="{nacionalidad: 'text'}" sortable="'nacionalidad'">{{empleado.nacionalidad}}</td>
      <td data-title="'Profesion'" filter="{profesion: 'text'}" sortable="'profesion'">{{empleado.profesion}}</td>
      <td data-title="'Nro. Registro Profesional'" filter="{nro_registro_profesional: 'text'}" sortable="'nro_registro_profesional'">{{empleado.nro_registro_profesional}}</td>
    </tr>
  </table>
</div>
