<ng-form name="form_computo">
  <div class="form-computo" style="font-size:0.9em;">
    <div class="table-responsive">
      <table class="table table-striped mod-t text-right">
        <thead>
          <tr>
            <th class="text-left bb-0">
              <button type="button" md-effect class="btn btn-primary btn-sm" ng-click="$ctrl.addRow()" uib-tooltip="Agregar fila" ng-if="!$ctrl.modoVista">
                <i class="fa fa-plus"></i>
              </button>
              <button type="button" md-effect class="btn btn-info btn-sm" ng-click="$ctrl.addSubtitulo()" uib-tooltip="Agregar subtítulo" ng-if="!$ctrl.modoVista">
                <i class="fa fa-list"></i>
              </button>
              <!-- ng-if="!$ctrl.modoVista && $ctrl.item.unidad_medida !== 'UN_GLOBAL'" -->
            </th>
            <th rowspan="2" ng-class="{'th-req':$ctrl.conf.cantidad.required}">
              {{ ($ctrl.item.unidad_medida=='UN_METRO_CUB' || $ctrl.item.unidad_medida=='UN_METRO_CUAD' || $ctrl.item.unidad_medida=='UN_METRO') ? 'Nro. de veces' : 'Cantidad' }}
            </th>
            <th rowspan="2" ng-class="{'th-req':$ctrl.conf.factor_forma.required}" title="Factor de forma">Factor de Forma</th>
            <th colspan="4" class="text-center">DIMENSIONES</th>
            <th colspan="2" class="bb-0">
              <button type="button" md-effect class="btn btn-success btn-sm" ng-click="$ctrl.saveAllRow()" uib-tooltip="Guardar todo" ng-if="!$ctrl.modoVista">
                <i class="fa fa-save"></i>
              </button>
              <button type="button" md-effect class="btn btn-danger btn-sm" ng-click="$ctrl.deleteAllRow()" uib-tooltip="Eliminar todo" ng-if="!$ctrl.modoVista">
                <i class="fa fa-trash"></i>
              </button>
              <button type="button" md-effect class="btn btn-info btn-sm" uib-tooltip="Descargar especificaciones técnicas del item"
              download-file="{{$ctrl.descargaEsp.url}}" file-name="{{$ctrl.descargaEsp.nombre}}" ng-if="$ctrl.item.especificaciones">
                <i class="fa fa-download"></i>
              </button>
            </th>
          </tr>
          <tr>
            <th ng-class="{'th-req':$ctrl.conf.descripcion.required}" class="text-left">Descripción</th>
            <th ng-class="{'th-req':$ctrl.conf.largo.required}">Largo [ml]</th>
            <th ng-class="{'th-req':$ctrl.conf.ancho.required}">Ancho [ml]</th>
            <th ng-class="{'th-req':$ctrl.conf.alto.required}">Alto [ml]</th>
            <th ng-class="{'th-req':$ctrl.conf.area.required}">{{ $ctrl.item.unidad_medida=='UN_METRO_CUB' ? 'Volumen [m3]' : 'Área [m2]'}}</th>
            <th ng-class="{'th-req':$ctrl.conf.cantidad_parcial.required}" title="Cantidad Parcial">C.P.</th>
            <th ng-if="!$ctrl.modoVista"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="com in $ctrl.computos" ng-click="$ctrl.setIndexSubtitulo($index)">
            <td class="subtitulo" ng-if="com.isSubtitulo" colspan="15">
              <div class="row mx-0">
                <div class="col subtitulo">
                  <c-input name="descripcion_{{$index}}"
                      ng-model="com.descripcion"
                      title="{{com.descripcion}}"
                      ng-disabled="!!$ctrl.modoVista">
                  </c-input>
                </div>
                <div class="actions" ng-if="!$ctrl.modoVista">
                  <i class="fa fa-arrow-up" ng-click="$ctrl.moveSubtitulo('up',$index)" uib-tooltip="Mover fila arriba"></i>
                  <i class="fa fa-arrow-down" ng-click="$ctrl.moveSubtitulo('down',$index)" uib-tooltip="Mover fila abajo"></i>
                  <i class="fa fa-save text-success" ng-click="$ctrl.saveSubtitulo(com, $index)" uib-tooltip="Guardar subtítulo"></i>
                  <i class="fa fa-trash text-danger" ng-click="$ctrl.deleteSubtitulo(com, $index)" uib-tooltip="Eliminar subtítulo"></i>
                </div>
              </div>
            </td>
            <td ng-if="!com.isSubtitulo" class="text-left">
              <c-input name="descripcion_{{$index}}"
                  ng-model="com.descripcion"
                  ng-disabled="$ctrl.conf.descripcion.disabled || $ctrl.modoVista"
                  ng-required="$ctrl.conf.descripcion.required"
                  title="{{com.descripcion}}"
                  >
              </c-input>
            </td>
            <td ng-if="!com.isSubtitulo" ng-disabled="$ctrl.conf.cantidad.disabled">
              <div ng-if="$ctrl.conf.cantidad.decimals === 0">
                <c-input-numeric name="cantidad_{{$index}}"
                          ng-model="com.cantidad"
                          ng-disabled="$ctrl.conf.cantidad.disabled || $ctrl.modoVista"
                          ng-required="$ctrl.conf.cantidad.required"
                          ng-decimals="0"
                          ng-minvalue="0"
                          ng-maxvalue="999999999999"
                          ng-not-number="0"
                          ng-number-default="0"
                          ng-blur="$ctrl.changeComputo(com)"
                          >
                </c-input-numeric>
              </div>
              <div ng-if="$ctrl.conf.cantidad.decimals > 0">
                <c-input-numeric name="cantidad_{{$index}}"
                          ng-model="com.cantidad"
                          ng-disabled="$ctrl.conf.cantidad.disabled || $ctrl.modoVista"
                          ng-required="$ctrl.conf.cantidad.required"
                          ng-decimals="2"
                          ng-minvalue="0"
                          ng-maxvalue="999999999999"
                          ng-not-number="0"
                          ng-number-default="0"
                          ng-blur="$ctrl.changeComputo(com)"
                          >
                </c-input-numeric>
              </div>
              <!-- ng-maxvalue="{{$ctrl.item.unidad_medida == 'UN_GLOBAL'? '1' : '999999999999'}}" -->
            </td>
            <td ng-if="!com.isSubtitulo" ng-disabled="$ctrl.conf.factor_forma.disabled">
              <c-input-numeric name="factor_forma_{{$index}}"
                        ng-model="com.factor_forma"
                        ng-disabled="$ctrl.conf.factor_forma.disabled || $ctrl.modoVista"
                        ng-required="$ctrl.conf.factor_forma.required"
                        ng-blur="$ctrl.changeComputo(com)"
                        ng-decimals-dinamic="true"
                        ng-max-decimals="6"
                        ng-not-number="0"
                        ng-number-default="1"
                        >
              </c-input-numeric>
            </td>
            <td ng-if="!com.isSubtitulo" ng-disabled="$ctrl.conf.largo.disabled">
              <c-input-numeric name="largo_{{$index}}"
                        ng-model="com.largo"
                        ng-disabled="$ctrl.conf.largo.disabled || $ctrl.modoVista"
                        ng-required="$ctrl.conf.largo.required"
                        ng-decimals="2"
                        ng-minvalue="0.01"
                        ng-not-number="0"
                        ng-number-default="1"
                        ng-blur="$ctrl.changeComputo(com)"
                        >
              </c-input-numeric>
            </td>
            <td ng-if="!com.isSubtitulo" ng-disabled="$ctrl.conf.ancho.disabled">
              <c-input-numeric name="ancho_{{$index}}"
                        ng-model="com.ancho"
                        ng-disabled="$ctrl.conf.ancho.disabled || $ctrl.modoVista"
                        ng-required="$ctrl.conf.ancho.required"
                        ng-decimals="2"
                        ng-minvalue="0.01"
                        ng-not-number="0"
                        ng-number-default="1"
                        ng-blur="$ctrl.uniformarArea('ancho',com);$ctrl.changeComputo(com)"
                        >
              </c-input-numeric>
            </td>
            <td ng-if="!com.isSubtitulo" ng-disabled="$ctrl.conf.alto.disabled">
              <c-input-numeric name="alto_{{$index}}"
                        ng-model="com.alto"
                        ng-disabled="$ctrl.conf.alto.disabled || $ctrl.modoVista"
                        ng-required="$ctrl.conf.alto.required"
                        ng-decimals="2"
                        ng-minvalue="0.01"
                        ng-not-number="0"
                        ng-number-default="1"
                        ng-blur="$ctrl.uniformarArea('alto',com);$ctrl.changeComputo(com)"
                        >
              </c-input-numeric>
            </td>
            <td ng-if="!com.isSubtitulo" ng-disabled="$ctrl.conf.area.disabled" ng-class="$ctrl.conf.area.class">
              <c-input-numeric name="area_{{$index}}"
                        ng-model="com.area"
                        ng-disabled="$ctrl.conf.area.disabled"
                        ng-required="$ctrl.conf.area.required"
                        ng-decimals="2"
                        ng-class="$ctrl.conf.area.class"
                        >
              </c-input-numeric>
            </td>
            <td ng-if="!com.isSubtitulo" ng-disabled="$ctrl.conf.cantidad_parcial.disabled" ng-class="$ctrl.conf.cantidad_parcial.class">
              <c-input-numeric name="cantidad_parcial_{{$index}}"
                        ng-model="com.cantidad_parcial"
                        ng-disabled="$ctrl.conf.cantidad_parcial.disabled"
                        ng-required="$ctrl.conf.cantidad_parcial.required"
                        ng-decimals="2"
                        ng-class="$ctrl.conf.cantidad_parcial.class">
              </c-input-numeric>
            </td>
            <td ng-if="!com.isSubtitulo && !$ctrl.modoVista" class="text-center">
              <div class="actions">
                <i class="fa fa-save text-success" ng-click="$ctrl.saveRow(com, $index)" uib-tooltip="Guardar fila"></i>
                <i class="fa fa-trash text-danger" ng-click="$ctrl.deleteRow(com, $index)" uib-tooltip="Eliminar fila"></i>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr ng-class="{'error' : $ctrl.resumen.total_actual < 0 || $ctrl.resumen.total_actual > $ctrl.item.cantidad}">
            <th colspan="7">Total</th>
            <td class="align-middle">{{$ctrl.resumen.total_actual | number:2}}</td>
          </tr>
        </tfoot>
      </table>

      <div class="alert alert-danger" ng-if="$ctrl.resumen.total_actual < 0 || $ctrl.resumen.total_actual > $ctrl.item.cantidad">
        <i class="fa fa-times-circle"></i>
        <span ng-if="$ctrl.resumen.total_actual < 0">La cantidad ejecutada no puede ser negativa.</span>
        <span ng-if="$ctrl.resumen.total_actual > $ctrl.item.cantidad">La cantidad ejecutada no puede ser mayor a la cantidad contractual.</span>
      </div>
    </div>
  </div>

</ng-form>
