<section>
  <h6 class="title-section m-top"><i class="fa fa-hand-o-right"></i> Datos Adicionales</h6>
  <div class="row">
    <div class="col-md-12" ng-if="!$ctrl.modoVista">
      <div class="alert alert-info">
        <i class="fa fa-info-circle"></i> Introduzca el <strong>código del formulario</strong> registrado en el sistema de empresas a efectos de obtener su información.
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="md-input-group col">
          <c-input name="codigo_reporte" label="Código de Formulario" ng-model="$ctrl.proyecto.cod_documentacion_exp"
            ng-required="true" ng-disabled="$ctrl.modoVista || $ctrl.tieneDocumentacion">
          </c-input>
        </div>
        <div class="col-md-4" ng-if="!$ctrl.modoVista && $ctrl.proyecto.cod_documentacion_exp && $ctrl.proyecto.documentacion_exp">
          <button md-effect class="btn btn-{{$ctrl.tieneDocumentacion? 'primary':''}}" ng-click="$ctrl.tieneDocumentacion? $ctrl.cambiarDocumentacion() : $ctrl.cancelarCambio()">
            <i class="fa fa-{{$ctrl.tieneDocumentacion? 'exchange' : 'close'}}"></i>
            {{$ctrl.tieneDocumentacion? 'Cambiar' : 'Cancelar'}}
          </button>
        </div>
      </div>
    </div>
    <div class="md-input-group col-md-6">
      <c-input name="contrato" label="Nro. de invitación directa" ng-model="$ctrl.proyecto.nro_invitacion"
               ng-required="true" ng-disabled="$ctrl.modoVista">
      </c-input>
    </div>
  </div>
</section>
