<div class="container px-3 planilla-proy">
  <h2 class="page-title">
    <i class="fa fa-bars"></i> Proyecto <small><strong>{{$ctrl.proyecto.nombre}}</strong></small>
  </h2>
  <div class="card">
    <div class="card-body">
      <div class="row mx-0">
        <div style="font-size: 20px;" uib-tooltip="Volver atrás" ng-click="$ctrl.irAtras()">
          <i class="fa fa-reply"></i>
        </div>
      </div>
      <h4 class="text-center"><strong>{{$ctrl.proyecto.empresa.nombre}}</strong></h4>
      <h3 class="text-center">
        Modificación - {{$ctrl.proyecto.modificaciones.nombre}}
      </h3>
      <div class="texto">
        <h4 class="text-center">Fecha: <strong>{{$ctrl.proyecto.fecha_modificacion | date : 'dd/MM/yyyy'}}</strong></h4>
        <section>
          <a href="">
            <h6 class="title-section m-top" ng-click="$ctrl.datosProyectoIsCollapsed = !$ctrl.datosProyectoIsCollapsed">
              <i class="fa fa-hand-o-right"></i> Datos del proyecto
            </h6>
          </a>
          <div uib-collapse="$ctrl.datosProyectoIsCollapsed">
            <div class="row">
              <div class="col-lg-4 text-left">
                <table class="table mod-t mod-t-b mb-0">
                  <tbody>
                    <tr> <th class="text-right">Nombre:</th> <td>{{$ctrl.proyecto.nombre}}</td> </tr>
                    <tr> <th class="text-right">Departamento:</th> <td>{{$ctrl.proyecto.dpa.departamento.nombre}}</td> </tr>
                    <tr> <th class="text-right">Provincia:</th> <td>{{$ctrl.proyecto.dpa.provincia.nombre}}</td> </tr>
                    <tr> <th class="text-right">Municipio:</th> <td>{{$ctrl.proyecto.dpa.municipio.nombre}}</td> </tr>
                    <tr><th class="text-right">Beneficiario:</th> <td>{{$ctrl.proyecto.entidad_beneficiaria}}</td> </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-lg-4">
                <table class="table mod-t mod-t-b mb-0">
                  <tbody>
                    <tr> <th class="text-right">Monto convenio:</th> <td class="text-right">{{$ctrl.proyecto.monto_total_convenio | number:2}}</td> </tr>
                    <tr> <th class="text-right">Monto contrato:</th> <td class="text-right">{{($ctrl.proyecto.monto_contractual||$ctrl.proyecto.monto_total) | number:2}}</td> </tr>
                    <tr ng-if="$ctrl.proyecto.monto_contractual && $ctrl.proyecto.monto_total!=$ctrl.proyecto.monto_contractual">
                      <th class="text-right">Monto total con modificación:</th> <td class="text-right">{{$ctrl.proyecto.monto_total | number:2}}</td>
                    </tr>
                    <tr> <th class="text-right">Anticipo {{$ctrl.proyecto.porcentaje_anticipo | number:0}}%:</th> <td class="text-right">{{$ctrl.proyecto.anticipo | number:2}}</td> </tr>
                    <!-- <tr> <th class="text-right">TOTAL DESEMBOLSADO:</th> <td class="text-right"><strong>{{$ctrl.proyecto.desembolso | number:2}}</strong></td> </tr> -->
                  </tbody>
                </table>
              </div>
              <div class="col-lg-4">
                <table class="table mod-t mod-t-b mb-0">
                  <tbody>
                    <tr> <th class="text-right">Fecha inicio de obras/<br> Libro de ordenes:</th> <td>{{$ctrl.proyecto.orden_proceder | date : 'dd/MM/yyyy'}}</td> </tr>
                    <tr> <th class="text-right">Plazo de Ejecución</th> <td>{{$ctrl.proyecto.plazo_ejecucion}}</td> </tr>
                    <tr> <th class="text-right">Ampliación de Plazo</th> <td>{{$ctrl.proyecto.plazo_ampliacion.por_volumenes+$ctrl.proyecto.plazo_ampliacion.por_compensacion || 0}}</td> </tr>
                    <tr> <th class="text-right">Fecha prevista p/Recepción Provisional</th> <td>{{($ctrl.proyecto.fecha_recepcion_provisional) | date : 'dd/MM/yyyy'}}</td> </tr>
                    <tr> <th class="text-right">Fecha prevista p/Recepción definitiva </th> <td>{{($ctrl.proyecto.fecha_recepcion_definitiva) | date : 'dd/MM/yyyy'}}</td> </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>
      </div>

      <section>
        <h6 class="title-section m-top">
          <i class="fa fa-list"></i> {{$ctrl.tabIndex==1?'Items':'Plazo'}} del proyecto
        </h6>
        <!--
        <div class="row">
          <div class="col-md-6">
            <div class="alert alert-info text-white">
              <i class="fa fa-info-circle"></i>
              <span>Puede hacer doble click a un item para <strong>{{$ctrl.esEditable? 'realizar' : 'revisar'}} su cómputo métrico</strong>.</span>
            </div>
          </div>
          <div class="col-md-6" ng-if="$ctrl.proyecto.doc_especificaciones_tecnicas">
            <button md-effect type="button" class="btn btn-info" download-file="{{$ctrl.urlDescEspTecnicas}}" file-name="Especificaciones técnicas">
              <i class="fa fa-download"></i> Especificaciones técnicas
            </button>
          </div>
        </div>
        -->

        <div class="row mb-2">
          <div class="col-lg-6 col-md-12 mb-2">
            <div class="btn-group opciones">
              <label class="btn btn-info" btn-checkbox ng-model="$ctrl.filtroItems" uib-btn-radio="'TODOS'">Todos</label>
              <label class="btn btn-info" ng-model="$ctrl.filtroItems" uib-btn-radio="'COMPLETADOS'">Completados</label>
              <label class="btn btn-info" ng-model="$ctrl.filtroItems" uib-btn-radio="'INCOMPLETOS'">Por completar</label>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 mt-2">

            <label class="custom-control custom-checkbox">
              <span class="custom-control-indicator success"></span><span>Completado</span>
            </label>
            <label class="custom-control custom-checkbox">
              <span class="custom-control-indicator info"></span><span>Con avance</span>
            </label>
            <label class="custom-control custom-checkbox" ng-if="$ctrl.esEtapaEdicion">
              <span class="custom-control-indicator primary"></span><span>Sin avance</span>
            </label>
            <label class="custom-control custom-checkbox" ng-if="$ctrl.supervision.nro_supervision !== 1 && $ctrl.esEtapaEdicion">
              <span class="custom-control-indicator warning"></span><span>Con avance en anterior(es) planilla(s)</span>
            </label>
          </div>
        </div>
        <form name="formModificacion">
          <uib-tabset active="$ctrl.tabIndex">
            <uib-tab index="1" heading="ITEMS">
              <div class="row">
                <div class="col">
                  <button md-effect type="button" class="btn mr-3 pull-right" ng-class="{'btn-success':$ctrl.modificandoItems}" ng-click="$ctrl.modificarItems()" ng-if="!$ctrl.modoVista">
                    <i class="fa fa-edit"></i> Modificar
                  </button>
                </div>
              </div>
              <div ng-repeat="modulo in $ctrl.proyecto.modulos" class="texto">
                <div class="my-1 mod-h" ng-click="modulo.isCollapsed = !modulo.isCollapsed" style="background-color:rgba(0, 0, 0, 0.05);">
                  <span uib-tooltip="Click para ocultar/mostrar sus items" tooltip-placement="right">
                    <strong>Módulo:</strong> {{modulo.nombre}}
                  </span>
                </div>
                <hr class="mt-2 mb-1">
                <div class="table-responsive" ng-class="{'col-md-6':!$ctrl.modificandoItems}">
                  <div uib-collapse="modulo.isCollapsed">
                    <table class="table table-striped mod-t text-right" style="width:auto" ng-init="version_ant=$ctrl.proyecto.version_anterior">
                      <thead>
                        <tr>
                          <th rowspan="2" title="Nro de item" style="width:50px">Nro.</th>
                          <th rowspan="2" class="text-left" style="width:350px">Descripción</th>
                          <th rowspan="2" title="Unidad" style="width:100px">Unid.</th>
                          <!-- <th rowspan="2" title="Cantidad" style="width:100px">Cant.</th> -->
                          <th rowspan="2" title="Precio Unitario" style="width:100px">P.U.</th>
                          <!-- <th rowspan="2" style="width:100px">Total (Bs)</th> -->
                          <th colspan="2" class="text-center" style="width:200px" ng-if="$ctrl.cabecera.version_inicial">Contrato Original</th>
                          <th colspan="2" class="text-center" style="width:200px" ng-if="$ctrl.cabecera.version_anterior">{{version_ant.tipo_modificacion_proyecto.nombre? version_ant.tipo_modificacion_proyecto.nombre+' N° '+version_ant.tipo_modificacion_proyecto.numero:'Contrato Original'}}</th>
                          <th colspan="2" class="text-center" ng-if="$ctrl.modificandoItems" style="width:200px">{{$ctrl.proyecto.modificaciones.nombre}}</th>
                          <th colspan="2" class="text-center" ng-if="$ctrl.modificandoItems" style="width:200px">Avance</th>
                        </tr>
                        <tr ng-if="$ctrl.modificandoItems">
                          <th title="Cantidad" style="width:100px" ng-if="$ctrl.cabecera.version_inicial">Cant.</th>
                          <th style="width:100px" ng-if="$ctrl.cabecera.version_inicial">Total (Bs)</th>
                          <th title="Cantidad" style="width:100px" ng-if="$ctrl.cabecera.version_anterior">Cant.</th>
                          <th style="width:100px" ng-if="$ctrl.cabecera.version_anterior">Total (Bs)</th>
                          <th title="Cantidad" style="width:100px">Cant.</th>
                          <th style="width:100px">Total (Bs)</th>
                          <!-- <th style="width:100px">Anterior</th> -->
                          <th style="width:100px">Actual</th>
                          <th title="Falta ejecutar" style="width:100px">F.E.</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="item in modulo.items" ng-show="item.show"
                        ng-class="(item.cantidad==item.avance_actual || item.estado=='CERRADO')? 'completado' : ''">
                          <td ng-class="$ctrl.getMgColor(item)" title="{{$ctrl.getTitle(item)}}">{{item.nro_item}}</td>
                          <td class="text-left">{{item.nombre}}</td>
                          <td title="{{item.unidad.descripcion}}">{{item.unidad.nombre}}</td>
                          <!-- <td>{{item.version_inicial.cantidad | number:2}}</td> -->
                          <td>{{item.precio_unitario | number:2}}</td>
                          <!-- <td>{{(item.version_inicial.cantidad*item.precio_unitario) | number:2}}</td> -->
                          <td ng-if="$ctrl.cabecera.version_inicial">{{item.version_inicial.cantidad | number:2}}</td>
                          <td ng-if="$ctrl.cabecera.version_inicial">{{(item.version_inicial.cantidad*item.precio_unitario) | number:2}}</td>
                          <td ng-class="{'text-info font-weight-bold':item.version_anterior.cantidad!=item.version_inicial.cantidad}" ng-if="$ctrl.cabecera.version_anterior">{{item.version_anterior.cantidad | number:2}}</td>
                          <td ng-class="{'text-info font-weight-bold':item.version_anterior.cantidad!=item.version_inicial.cantidad}" ng-if="$ctrl.cabecera.version_anterior">{{(item.version_anterior.cantidad*item.precio_unitario) | number:2}}</td>
                          <td class="modificacion-input" ng-class="{'warning':(item.cantidad!=item.version_anterior.cantidad),'danger':item.error}" ng-if="$ctrl.modificandoItems">
                            <c-input-numeric name="cantidad" ng-model="item.cantidad" ng-blur="$ctrl.modificarCantidadItem(item)" ng-disabled="$ctrl.modoVista || item.estado=='CERRADO' || item.unidad.nombre=='glb'"
                                    ng-minvalue="{{item.avance_actual}}" ng-maxvalue="999999" ng-decimals="2"></c-input-numeric>
                          </td>
                          <td ng-class="{'font-weight-bold warning':(item.cantidad!=item.version_anterior.cantidad),'danger':item.error}" ng-if="$ctrl.modificandoItems">{{(item.cantidad*item.precio_unitario) | number:2}}</td>
                          <!-- <td ng-if="$ctrl.modificandoItems">{{item.cantidad_anterior_fis | number:2}}</td> -->
                          <td ng-if="$ctrl.modificandoItems">{{item.avance_actual | number:2}}</td>
                          <td ng-if="$ctrl.modificandoItems">{{(item.cantidad-item.avance_actual) | number:2}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <section ng-repeat="nuevomodulo in $ctrl.nuevosmodulos" ng-if="$ctrl.modificandoItems && $ctrl.tipoModificacion==3">
                <modulo modulo="nuevomodulo" callback="$ctrl.recalcularMontos(data)" options="{adicionar:true, idProyecto:$ctrl.proyecto.idProyecto, cabecera:$ctrl.cabecera}" modo-vista="$ctrl.modoVista"></modulo>
              </section>
              <button class="btn btn-link text-success" ng-click="$ctrl.adicionarModulo()" uib-tooltip="Adicionar nuevo módulo para los items nuevos" ng-if="!$ctrl.modoVista && $ctrl.modificandoItems && $ctrl.tipoModificacion==3 && $ctrl.nuevosmodulos.length===0">
                <i class="fa fa-plus-square-o"></i> Adicionar Items
              </button>
              <hr>
              <br>
              <div class="alert alert-danger" ng-if="$ctrl.modificandoItems && $ctrl.porcentajeExcedido ">
                <i class="fa fa-danger"></i>
                <span>
                  <span ng-if="$ctrl.tipoModificacion==1">Se ha modificado el</span>
                  <span ng-if="$ctrl.tipoModificacion!=1">El monto total con modificación supera el {{$ctrl.porcentajeLimite*100}} % del</span>
                  monto contractual en Bs. {{(($ctrl.proyecto.monto_total_variacion_modificado+$ctrl.proyecto.modificaciones.total_variacion)-($ctrl.proyecto.version_inicial.monto_total*$ctrl.porcentajeLimite)) | number:2}}. Usted debe revisar sus cantidades modificadas.</span>
              </div>
              <div class="alert alert-warning" ng-if="$ctrl.itemsNoCerrados.length > 0">
                <i class="fa fa-warning"></i>
                <span ng-if="$ctrl.itemsNoCerrados.length === 1"><strong>El item resaltado</strong> tiene</span>
                <span ng-if="$ctrl.itemsNoCerrados.length > 1"><strong>Los items resaltados</strong> tienen</span>
                <span>concluido el avance físico, sin embargo la parte financiera no ha cerrado. Este detalle será revisado por personal de la UPRE.</span>
              </div>

              <div class="fs-sm" ng-if="$ctrl.modificandoItems">
                <div class="row">
                  <div class="col-md-6 text-left">
                    <table class="table mod-t mod-t-b mb-0">
                      <tbody>
                        <tr>
                          <th>Monto total anterior:</th>
                          <td>{{$ctrl.proyecto.version_anterior.monto_total | number:2}}</td>
                        </tr>
                        <!-- <tr>
                          <th>Monto total de variación:</th>
                          <td>{{$ctrl.proyecto.monto_total_variacion_modificado | number:2}}</td>
                        </tr> -->
                        <tr>
                          <th>Monto total con modificación:</th>
                          <td>{{$ctrl.proyecto.version_anterior.monto_total--$ctrl.proyecto.monto_total_variacion_modificado | number:2}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-6 text-left">
                    <table class="table mod-t mod-t-b mb-0">
                      <tbody>
                        <tr>
                          <th>Monto contractual inicial:</th>
                          <td>{{($ctrl.proyecto.monto_contractual||$ctrl.proyecto.monto_total) | number:2}}</td>
                        </tr>
                        <tr>
                          <th>Monto total de variación:</th>
                          <td>{{$ctrl.proyecto.monto_total_variacion_modificado | number:2}}</td>
                        </tr>
                        <tr>
                          <th>Porcentaje de variación:</th>
                          <td>{{$ctrl.proyecto.porcentaje_variacion | number:2}}%</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </uib-tab>
            <uib-tab index="2" heading="PLAZOS" ng-if="$ctrl.tipoModificacion>1">
              <div class="row">
                <div class="col">
                  <button md-effect type="button" class="btn mr-3 pull-right" ng-class="{'btn-success':$ctrl.modificandoPlazo}" ng-click="$ctrl.modificarPlazo()" ng-if="!$ctrl.modoVista">
                    <i class="fa fa-edit"></i> Modificar
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 text-left">
                  <div style="overflow:auto">
                    <br>
                    <h5>Fechas establecidas antes de la modificación:</h5>
                    <table class="table mod-t mod-t-b mb-0">
                      <tbody>
                        <tr>
                          <th class="text-center">Fecha de inicio de obras</th>
                          <th class="text-center">Plazo de ejecución (dias)</th>
                          <th class="text-center">Fecha de entrega provisional</th>
                          <th class="text-center">Fecha de recepción definitiva</th>
                        </tr>
                        <tr>
                          <td class="text-center">{{$ctrl.proyecto.orden_proceder | date : 'dd/MM/yyyy'}}</td>
                          <td class="text-center">{{$ctrl.proyecto.plazo_ejecucion}}</td>
                          <td class="text-center">{{$ctrl.fechaSumDias($ctrl.proyecto.orden_proceder,$ctrl.proyecto.plazo_ejecucion-1) | date : 'dd/MM/yyyy'}}</td>
                          <td class="text-center">{{$ctrl.fechaSumDias($ctrl.proyecto.orden_proceder,$ctrl.proyecto.plazo_ejecucion+89) | date : 'dd/MM/yyyy'}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-lg-6 text-left" ng-if="$ctrl.modificandoPlazo">
                  <div style="overflow:auto">
                    <br>
                    <h5>Modificación:</h5>
                    <table class="table mod-t mod-t-b mb-0">
                      <tbody>
                        <tr>
                          <th class="text-center">Ampliación de plazo por volúmenes (días)</th>
                          <th class="text-center">Ampliación de plazo por compensación (dias)</th>
                          <th class="text-center">Ampliación de plazo (días)</th>
                        </tr>
                        <tr>
                          <td class="td-cinput-center">
                            <!-- <c-input name="cantidad" ng-model="$ctrl.proyecto.plazo_ampliacion.por_volumenes" ng-blur="$ctrl.modificarPlazoAmpliacion($ctrl.proyecto.plazo_ampliacion)" ng-disabled="$ctrl.modoVista"></c-input> -->
                            <c-input-numeric name="por_volumenes"
                                      ng-model="$ctrl.proyecto.plazo_ampliacion.por_volumenes"
                                      ng-disabled="$ctrl.modoVista" ng-required="false"
                                      ng-decimals="0" ng-not-number="0" ng-number-default="0"
                                      ng-minvalue="0" ng-maxvalue="9999"
                                      ng-blur="$ctrl.modificarPlazoAmpliacion($ctrl.proyecto.plazo_ampliacion)">
                            </c-input-numeric>
                          </td>
                          <td class="td-cinput-center">
                            <!-- <c-input name="cantidad" ng-model="$ctrl.proyecto.plazo_ampliacion.por_compensacion" ng-blur="$ctrl.modificarPlazoAmpliacion($ctrl.proyecto.plazo_ampliacion)" ng-disabled="$ctrl.modoVista"></c-input> -->
                            <c-input-numeric name="por_compensacion"
                                      ng-model="$ctrl.proyecto.plazo_ampliacion.por_compensacion"
                                      ng-disabled="$ctrl.modoVista" ng-required="false"
                                      ng-decimals="0" ng-not-number="0" ng-number-default="0"
                                      ng-minvalue="0" ng-maxvalue="9999"
                                      ng-blur="$ctrl.modificarPlazoAmpliacion($ctrl.proyecto.plazo_ampliacion)">
                            </c-input-numeric>
                          </td>
                          <td class="text-center">{{ ($ctrl.proyecto.plazo_ampliacion.por_volumenes--$ctrl.proyecto.plazo_ampliacion.por_compensacion) }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 text-left" ng-if="$ctrl.modificandoPlazo">
                  <div style="overflow:auto">
                    <br>
                    <h5>Nuevas fechas modificadas:</h5>
                    <table class="table mod-t mod-t-b mb-0">
                      <tbody>
                        <tr>
                          <th class="text-center">Fecha de inicio de obras</th>
                          <th class="text-center">Plazo de ejecución ampliada (dias)</th>
                          <th class="text-center">Fecha de entrega provisional ampliada</th>
                          <th class="text-center">Fecha de recepción definitiva ampliada</th>
                        </tr>
                        <tr>
                          <td class="text-center">{{$ctrl.proyecto.orden_proceder | date : 'dd/MM/yyyy'}}</td>
                          <td class="text-center">{{$ctrl.proyecto.plazo_ejecucion--$ctrl.proyecto.plazo_ampliacion.por_volumenes--$ctrl.proyecto.plazo_ampliacion.por_compensacion}}</td>
                          <td class="text-center">{{$ctrl.proyecto.nueva_fecha_provisional | date : 'dd/MM/yyyy'}}</td>
                          <td class="text-center">{{$ctrl.proyecto.nueva_fecha_definitiva | date : 'dd/MM/yyyy'}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </uib-tab>
          </uib-tabset>
        </form>
      </section>

      <section>
        <h6 class="title-section m-top">
          <i class="fa fa-list"></i> Resumen de la Modificación
        </h6>

        <div class="row">
          <div class="col-lg-6 text-left">
            <!-- <p>Monto contractual inicial <strong>{{$ctrl.proyecto.version_inicial.monto_total | number:2}}</strong></p> -->
            <table class="table mod-t mod-t-b mb-0 table-responsive">
              <tbody>
                <tr>
                  <th colspan="6" class="text-center">Historial</th>
                </tr>
                <tr>
                  <th>Modificación</th>
                  <th>Monto total</th>
                  <th>Variación</th>
                  <th>%</th>
                  <th>Estado</th>
                  <th>Fecha</th>
                </tr>
                <tr ng-repeat="modificacion in $ctrl.proyecto.modificaciones.historial">
                  <td>{{modificacion.tipo_modificacion_proyecto.nombre}} Nro. {{1--$index}}</td>
                  <td class="text-right">{{modificacion.monto_total | number:2}}</td>
                  <td class="text-right">{{modificacion.variacion | number:2}}</td>
                  <td>{{modificacion.variacion_porcentaje | number:2}}</td>
                  <td>{{modificacion.estado_actual.nombre}}</td>
                  <td>{{modificacion.fecha_modificacion | date : 'dd/MM/yyyy'}}</td>
                </tr>
                <tr>
                  <td class="text-right" colspan="2"><strong>Total</strong></td>
                  <td class="text-right">{{$ctrl.proyecto.modificaciones.total_variacion | number:2}}</td>
                  <td>{{$ctrl.proyecto.modificaciones.total_variacion_porcentaje | number:2}}</td>
                  <td colspan="2">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            <div class="alert alert-danger" ng-if="$ctrl.modificandoItems && $ctrl.porcentajeExcedido ">
              <i class="fa fa-danger"></i>
              <span>
                <span ng-if="$ctrl.tipoModificacion==1">Se ha modificado el</span>
                <span ng-if="$ctrl.tipoModificacion!=1">El monto total con modificación supera el {{$ctrl.porcentajeLimite*100}} % del</span>
                monto contractual en Bs. {{(($ctrl.proyecto.monto_total_variacion_modificado+$ctrl.proyecto.modificaciones.total_variacion)-($ctrl.proyecto.version_inicial.monto_total*$ctrl.porcentajeLimite)) | number:2}}. Usted debe revisar sus cantidades modificadas.</span>
            </div>
          </div>

          <div class="col-lg-6 text-left">
            <ui-input-file name="doc_informe_tecnico" label="Informe técnico o respaldo de la modificación"
              file-base64="$ctrl.informe_tecnico"
              upload-callback="$ctrl.uploadCallback"
              types="pdf" mime-types=".pdf" maxfiles="1" maxsize="3MB"
              ng-if="!$ctrl.informe_tecnico_registrado && !$ctrl.modoVista">
            </ui-input-file>
            <div id="documento" ng-if="$ctrl.informe_tecnico_registrado">
              <div class="opciones">
                <button md-effect type="button" class="btn btn-success btn-sm" uib-tooltip="Ver documento" ng-click="$ctrl.verInformeTecnico()">
                  <i class="fa fa-eye"></i>
                </button>
                <!-- <button md-effect type="button" class="btn btn-primary btn-sm" uib-tooltip="Descargar"
                        download-file="{{documento.urlDescarga}}" file-name="{{documento.nombre}}">
                  <i class="fa fa-download"></i>
                </button> -->
                <button md-effect type="button" class="btn btn-info btn-sm" uib-tooltip="Cambiar" ng-click="$ctrl.quitarInformeTecnico()" ng-if="!$ctrl.modoVista">
                  <i class="fa fa-exchange"></i>
                </button>
              </div>
              <img src="./images/documento.jpg" alt="Documento">
              <div class="detalles">
                <div class="nombre">Documentos aprobados (libro de ordenes, informes técnicos, contrato modificatorio)</div>
              </div>
            </div>
            <div class="alert alert-danger" ng-if="!$ctrl.informe_tecnico_registrado && $ctrl.modoVista && $ctrl.proyecto.version>1">
              <i class="fa fa-danger"></i><span>No existe los documentos aprobados (libro de ordenes, informes técnicos, contrato modificatorio)</span>
            </div>
          </div>

        </div>
      </section>


      <div class="mt-4 texto">
        <!-- <div class="mt-3">
          <small class="resaltado"><strong><em>La presente planilla tiene valor de declaración Jurada, por lo que si se identifica cualquier falsedad, se realizarán las acciones legales respectivas en contra de la empresa constructora infractora.</em></strong></small>
        </div> -->

        <div class="row my-3 pr-3 justify-content-end">
          <button md-effect type="button" class="btn mr-3" ng-click="$ctrl.filtroItems === 'PARA_ENVIAR' ? $ctrl.filtroItems = 'TODOS' : $ctrl.filtroItems = 'PARA_ENVIAR'" ng-if="$ctrl.esEtapaEdicion">
            <i class="fa fa-eye"></i> {{ $ctrl.filtroItems === 'PARA_ENVIAR' ? 'Ver todos' : 'Ver Planilla a enviar'}}
          </button>
          <ejecutar-transicion elemento="$ctrl.proyecto"
                               servicio="$ctrl.Modificacion"
                               form="formModificacion"
                               atributo-estado="estado_proyecto"
                               url="$ctrl.url"
                               mensaje-button="$ctrl.mensajeConfirmacion"
                               confirmar="true"
                               metodo-previo="$ctrl.verificarModificacion(accion)">
          </ejecutar-transicion>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
.modificacion-input2 .md-form-group {
  margin-top: 0rem;
  margin-bottom: 0;
}
.modificacion-input .md-form-group {
  margin-top: 0rem;
  margin-bottom: 0;
  width: 90px;
  float: right;
}
.modificacion-input .md-form-group input {
  text-align: right;
}
.td-cinput-center .md-form-group {
  margin: 0 auto;
  width: 90px;
}
.td-cinput-center .md-form-group input {
  text-align: center;
}
</style>
