<div class="container">
  <h2 class="page-title">
    <i class="fa fa-bars"></i> Proyecto <small><strong>{{$ctrl.proyecto.nombre}}</strong></small>
  </h2>
  <div class="card">
    <div class="card-body">
      <ng-form name="formProyecto">
        <uib-tabset active="active">
          <uib-tab index="0" heading="Datos Generales">
            <reg-datos-generales proyecto="$ctrl.proyecto" ng-if="$ctrl.Proyecto.esAreaPermitida('DATOS_GENERALES')"></reg-datos-generales>
            <reg-datos-generales-extra proyecto="$ctrl.proyecto" ng-if="$ctrl.Proyecto.esAreaPermitida('DATOS_GENERALES_EXTRA')"></reg-datos-generales-extra>
            <reg-financiamiento proyecto="$ctrl.proyecto" ng-if="$ctrl.Proyecto.esAreaPermitida('DATOS_FINANCIAMIENTO')"></reg-financiamiento>
            <proyecto-adjudicado proyecto="$ctrl.proyecto" ng-if="$ctrl.Proyecto.esAreaPermitida('PROYECTO_ADJUDICADO')"></proyecto-adjudicado>
            <codigo-contrato proyecto="$ctrl.proyecto" modo-vista="true" ng-if="$ctrl.Proyecto.esAreaPermitida('PROYECTO_ADJUDICADO')"></codigo-contrato>
            <reg-convenio proyecto="$ctrl.proyecto" ng-if="$ctrl.Proyecto.esAreaPermitida('CONVENIO')"></reg-convenio>
            <reg-asignacion-responsable proyecto="$ctrl.proyecto" ng-if="$ctrl.Proyecto.esAreaPermitida('ASIGNACION_RESPONSABLE')"></reg-asignacion-responsable>
            <reg-desembolso proyecto="$ctrl.proyecto" ng-if="$ctrl.Proyecto.esAreaPermitida('DESEMBOLSO')"></reg-desembolso>
            <reg-orden-proceder proyecto="$ctrl.proyecto" ng-if="$ctrl.Proyecto.esAreaPermitida('ORDEN_PROCEDER')"></reg-orden-proceder>
            <reg-recepcion-definitiva proyecto="$ctrl.proyecto" ng-if="$ctrl.Proyecto.esAreaPermitida('RECEPCION_DEFINITIVA')"></reg-recepcion-definitiva>
            
          </uib-tab>

          <uib-tab index="1" heading="Contactos" ng-if="$ctrl.Proyecto.esAreaPermitida('AUTORIDAD_BENEFICIARIA')">
            <reg-autoridad-beneficiaria proyecto="$ctrl.proyecto" modo-vista="!$ctrl.Proyecto.esEditable('autoridad_beneficiaria')" ng-if="active==1"></reg-autoridad-beneficiaria>
          </uib-tab>

          <uib-tab index="2" heading="Evaluación" ng-if="$ctrl.Proyecto.esAreaPermitida('AUTORIDAD_BENEFICIARIA') || $ctrl.Proyecto.esAreaPermitida('EVALUACION')">
            <reg-evaluacion proyecto="$ctrl.proyecto" modo-vista="!$ctrl.Proyecto.esEditable('autoridad_beneficiaria')" ng-if="active==2"></reg-evaluacion>
          </uib-tab>

          <uib-tab index="3" heading="Informe de Evaluación" ng-if="$ctrl.Proyecto.esAreaPermitida('AUTORIDAD_BENEFICIARIA') || $ctrl.Proyecto.esAreaPermitida('INFORME_EVALUACION')">
            <reg-informe-eval proyecto="$ctrl.proyecto" modo-vista="!$ctrl.Proyecto.esEditable('autoridad_beneficiaria')" ng-if="active==3"></reg-informe-eval>
          </uib-tab>

          <uib-tab index="4" heading="Actividades e ítems" ng-if="$ctrl.Proyecto.esAreaPermitida('MODULOS_ITEMS')">
            <reg-items proyecto="$ctrl.proyecto" modulos="$ctrl.modulos" modo-vista="!$ctrl.Proyecto.esEditable('modulos')"></reg-items>
          </uib-tab>

          <uib-tab index="5" heading="DBC" ng-if="$ctrl.Proyecto.esAreaPermitida('DOCUMENTO_BASE_CONTRATACION')">
            <dbc proyecto="$ctrl.proyecto"></dbc>
          </uib-tab>

          <uib-tab index="6" heading="Formularios" ng-if="$ctrl.Proyecto.esAreaPermitida('FORMULARIOS')">
            <formularios-generados proyecto="$ctrl.proyecto"></formularios-generados>
          </uib-tab>

          <uib-tab index="7" heading="Garantías" ng-if="$ctrl.Proyecto.esAreaPermitida('GARANTIAS')">
            <garantia proyecto="$ctrl.proyecto" modo-vista="!$ctrl.Proyecto.esEditable('boletas')"></garantia>
          </uib-tab>

          <uib-tab index="8" heading="Equipo Técnico" ng-if="$ctrl.Proyecto.esAreaPermitida('EQUIPO_TECNICO')">
            <equipo-tecnico proyecto="$ctrl.proyecto" modo-vista="!$ctrl.Proyecto.esEditable('equipo_tecnico')"></equipo-tecnico>
          </uib-tab>
          <uib-tab index="9" heading="Adjuntos" >
            <reg-archivo-adjunto proyecto="$ctrl.proyecto"></reg-archivo-adjunto>
          </uib-tab>
        </uib-tabset>
      </ng-form>

      <section ng-if="$ctrl.proyecto.observacion.mensaje">
        <h6 class="title-section error m-top">
          <i class="fa fa-exclamation-triangle"></i> Observación
        </h6>
        Mensaje: <strong>{{ $ctrl.proyecto.observacion.mensaje }}</strong><br>
        Observado por: <strong>{{ $ctrl.proyecto.observacion.usuario.persona | nombreUnido }}</strong>
      </section>
    </div>
    <div class="card-footer text-right">
       <!-- <button class="btn btn-sm btn-primary" ng-click="$ctrl.fichaProyecto($ctrl.idProyecto)" title="Generar Ficha Tecnica"><i class="fa fa-file-pdf-o"></i>Generar Ficha Tecnica</button> -->
      <ejecutar-transicion elemento="$ctrl.proyecto"
                           servicio="$ctrl.Proyecto"
                           form="formProyecto"
                           opcion-cancelar="true"
                           atributo-estado="estado_proyecto"
                           url="$ctrl.url"
                           confirmar="true"
                           metodo-previo="$ctrl.verificarSegunEstado()"
                           validacion-paralela=$ctrl.verificarEnParalelo(accion)>
      </ejecutar-transicion>
    </div>
  </div>
</div>
