<div class="modal-header">
  <h5 class="modal-title"><i class="fa fa-{{ $ctrl.icon }}" ng-if="$ctrl.icon"></i> {{ $ctrl.title }}</h5>
  <button type="button" class="close" data-dismiss="modal" ng-if="$ctrl.btnClose" ng-click="$ctrl.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form name="form_fecha">
<div class="modal-body">
  <div class="row">
    <div class="md-input-group col-md-4">
      <c-date name="fecha_documento" label="Fecha del documento" ng-model="$ctrl.doc.fecha_documento"
      ng-required="true"></c-date>
    </div>
  </div>
</div>
</form>
<div class="modal-footer">
  <button md-effect type="button" class="btn btn-secondary" ng-click="$ctrl.close()" ng-if="$ctrl.cancel">
    <i class="fa fa-close"></i> {{ $ctrl.labelCancel || 'Cancelar'}}
  </button>
  <button md-effect type="button" class="btn btn-primary" ng-click="$ctrl.ok()">
    <i class="fa fa-check"></i> {{ $ctrl.labelOk || 'Aceptar' }}
  </button>
</div>
