<div class="modal-header">
  <h5 class="modal-title"><i class="fa fa-file-pdf-o"></i> {{$ctrl.item.title || 'PDF'}}</h5>
  <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <pdf-viewer ng-if="$ctrl.documento.tipo === 'application/pdf'"
  base64="$ctrl.documento.base64" height="400px" scale="page-fit" page="1" download="true" print="true"></pdf-viewer>

</div>
<div class="modal-footer">
  <button md-effect type="button" class="btn btn-secondary pull-left" ng-click="$ctrl.fix()" ng-if="$ctrl.item.reload">
    <i class="fa fa-refresh"></i> Corregir
  </button>	
  <button md-effect type="button" class="btn btn-primary" ng-click="$ctrl.ok()">
    <i class="fa fa-check"></i> Aceptar
  </button>
</div>
