<div class="login-container">
    <div class="login-logo"> PROYECTOS </div>
    <div class="login-header">
        {{ 'Cambiar contraseña' }}
    </div>
    <div class="card-container">
        <div class="card-flip-container" ng-class="{ 'recovery' : $ctrl.flip, 'empresa' : $ctrl.empresa }">
            <div class="card-flip">
                <div class="side front login-block" ng-class="{'side':$ctrl.flip}" ng-if="!$ctrl.flip">
                    <form name="form" ng-submit="$ctrl.cambiarContrasena()">

                        <div class="row">
                            <div class="col-12 alert alert-info">
                                <i class="fa fa-info-circle"></i> <strong>IMPORTANTE:</strong>
                                <ul class="btm-0">
                                    <li>Escriba una nueva contraseña (se distingue entre mayúsculas y minúsculas).</li>
                                    <!-- <li>Su contraseña nueva debe tener hasta 16 caracteres.</li> -->
                                    <li>Luego de modificar su contraseña, intente iniciar sesión nuevamente.</li>
                                </ul>
                            </div>
                            
                            <div class="col-sm-12">
                                <c-input type="password" name="nueva" label="Nueva contraseña" ng-model="$ctrl.nueva" ng-minlength="3" ng-maxlength="16" 
                                maxlength="16" ng-required="true" uib-tooltip="Escriba la nueva contraseña." ng-validation="alfa-numerico" ></c-input>
                            </div>

                            <div class="col-sm-12">
                                <c-input type="password" name="confirmada" label="Repita la contraseña" ng-model="$ctrl.confirmada" ng-minlength="3"
                                ng-maxlength="16" maxlength="16" ng-required="true" uib-tooltip="Vuelva a escribir la nueva contraseña." 
                                c-ui-validate="{contrasena:'$ctrl.form.confirmada.$viewValue==$ctrl.form.nueva.$modelValue'}" 
                                c-ui-validate-watch="'$ctrl.form.nueva.$modelValue'" 
                                message-error-password="Las nuevas contraseñas no son iguales. Revise por favor."></c-input>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between">
                            <div class="p-5">
                                <br>
                                <a href="" ng-click="$ctrl.inicioDeSesion()">Ir a inicio de sesión</a>
                            </div>
                            <div class="p-3 text-right">
                                <button md-effect class="btn btn-primary btn-lg" type="submit" validar-formulario="form" ng-disabled="false">
                                    <i class="fa fa-refresh"></i> Cambiar contraseña
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
