.computo-proy {
  .seleccion-planilla {
    .md-form-group {
      margin: 0;
    }
  }
  .unidad-medida {
    background: #FFF59D;
    padding: 3px 2px;
  }

  .error {
    background: #FFCDD2;
  }
  .th-req::after {
    content: '*';
    color: #F44336;
    padding-left: 1px;
  }
  .form-computo {
    // font-size: 0.7em;
    // text-align: center;
    justify-content: center;

    // ocultar los labels de la tabla
    c-input label, c-input-numeric label {
      display: none;
    }
    // ocultar los errores de de los inputs
    c-input div[role=alert], c-input-numeric div[role=alert] {
      display: none;
    }
    // alinear los inputs a la derecha
    c-input input, c-input-numeric input {
      text-align: right;
    }

    // con excepcion de los que son descripcion y seran mas anchos
    input[name^="descripcion"] {
      text-align: left;
      min-width: 250px;
    }

    // tamaño de letra de los input
    input {
      font-size: 0.9em;
    }

    [disabled] input {
      color: #777
    }
    [disabled] input ~ label ~ i {
      border: none;
    }

    // sombreamos a los inputs deshabilitados
    td[disabled] {
      background-color: #ddd;
    }

    td[disabled].bg-white {
      background-color: transparent !important;
    }

    // quitamos los margins de los inputs
    .md-form-group {
      margin-bottom: 0;
      margin-top: 0;
    }

    // clase para las acciones de una fila
    div.actions {
      display: flex;
      margin: 0;
      i.fa {
        margin: 3px 5px;
        font-size: 16px;
        cursor: pointer;
      }
    }

    .mod-t-c {
      tbody > tr {
        cursor: pointer;
      }
    }
    .mod-t {
      thead > tr:first-child > th {
        // border-top: 0px;
        border-bottom: 0px;
      }
      thead > tr > th, tbody > tr > td, tfoot > tr > td{
        padding: 2px;
        border: 1px solid #ccc;
      }
      tfoot > tr > th {
        padding: 6px 3px;
        border: 1px solid #ccc;
      }
      tbody > tr > td.subtitulo {
        background-color: #ffecb2;
      }
      tbody > tr > td {
        padding-bottom: 0px;
        border-bottom: 0px solid #ccc;
      }
      td div.subtitulo{
        input {
          text-align: center;
        }
      }
      tbody > tr:hover{
        background-color: #FFFBE7;
      }

    }
  }

  div.row.images {
    ui-input-file > div > div > label > span {
      font-size: 0.85em;
    }
  }

  section.image > figure {
    border: 1px dashed #ddd;
    padding: 15px;
    margin: 0;
    text-align: center;
    position: relative;

    img {
        width: 250px;
        max-height: 230px;
    }

    figcaption {
        display: none;
        position: absolute;
        background: rgba(0, 0, 0, .4);
        text-align: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;

        .btn-container {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            z-index: 2;

            .btn-outline-dafault {
                margin-bottom: 5px;
                &:hover {
                    background-color: #dddddd;
                }
            }
        }
    }

    &:hover {
        figcaption {
            display: block;
        }
    }
}

  .ayuda-form-computo {
    ul {
      list-style-type: none;
    }
  }


}
