<div class="container px-3 computo-proy">

  <div class="row">
    <div class="col">
      <button md-effect type="button" class="btn btn-info" ng-click="$ctrl.irItemPosicion('anterior')" ng-disabled="$ctrl.esPrimerItem()">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i> Anterior
      </button>
      <button md-effect type="button" class="btn btn-info" ng-click="$ctrl.irItemPosicion('siguiente')" ng-disabled="$ctrl.esUltimoItem()">
        Siguiente <i class="fa fa-angle-double-right" aria-hidden="true"></i>
      </button>
    </div>
    <div class="col-md-3 seleccion-planilla mt-2 mb-2">
      <ng-form name="seleccion">
        <c-select name="supervisiones" label="Histórico"
                  ng-model="$ctrl.supervisionHistorica"
                  options="$ctrl.supervisiones"
                  field="nombre"
                  placeholder="Seleccione"
                  on-select="$ctrl.mostrarDatosSupervision()">
        </c-select>
      </ng-form>
    </div>
  </div>

  <h5 class="text-center mt-2">MOD: <strong>{{$ctrl.item.modulo.nombre}}</strong></h5>
  <h5 class="text-center">Item {{$ctrl.item.nro_item}}: <strong>{{$ctrl.item.nombre}}</strong></h5>

  <h6 class="text-right"> Unidad de medida: <span class="unidad-medida">{{$ctrl.item.unidad.descripcion}}</span></h6>

  <resumen-computos item="$ctrl.item" resumen="$ctrl.resumen"></resumen-computos>

  <computos-metricos item="$ctrl.item"
                     computos="$ctrl.computos"
                     copia-computos="$ctrl.copiaComputos"
                     supervision="$ctrl.supervision"
                     resumen="$ctrl.resumen"
                     fotos="$ctrl.fotos"
                     modo-vista="!$ctrl.esEditable"
                     ng-if="$ctrl.supervisionHistorica.id_supervision"
                     existe-cambios="$ctrl.existeCambios"
                     modificados="$ctrl.modificados"
                     ng-show="$ctrl.puedeVerComputos()">
  </computos-metricos>

  <fotos-computos item="$ctrl.item"
                  supervision="$ctrl.supervision"
                  fotos="$ctrl.fotos"
                  modo-vista="!$ctrl.esEditable"
                  archivado="$ctrl.computoFinalizado"
                  ng-show="$ctrl.puedeVerComputos()">
  </fotos-computos>

  <div ng-if="!$ctrl.puedeVerComputos()" class="alert alert-warning">
    El item no tiene avances para la presente planilla.
  </div>

  <div class="alert alert-success mt-3" ng-if="$ctrl.resumen.cant_faltante == 0">
    <i class="fa fa-check"></i>
    <span>Item completado!</span>
  </div>
</div>
