<uib-tabset active="active">
  <uib-tab index="0" heading="Permanente">
    <c-table columns="$ctrl.camposEquipo" dataset="$ctrl.equipo.permanente"></c-table>
  </uib-tab>
  <uib-tab index="1" heading="A requerimiento">
    <c-table columns="$ctrl.camposEquipo" dataset="$ctrl.equipo.requerido"></c-table>
  </uib-tab>
</uib-tabset>
