<section ng-init="$ctrl.proyecto.res_administrativa.$_plantilla=4; $ctrl.proyecto.res_administrativa.$_nombre='res_administrativa'">
  <h6 class="title-section m-top">
    <i class="fa fa-hand-o-right"></i> Resolución de Aprobación
  </h6>
  <div class="row">
    <div class="col-md-12 col-lg-6">
      <div class="row">
        <div class="md-input-group col-md-6">
          <c-input name="nro_resmin_cife" label="N° Resolución" ng-model="$ctrl.proyecto.nro_resmin_cife"
          ng-minlength="3" maxlength="100"
          ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('doc_resmin_cife')"
          ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('doc_resmin_cife')"></c-input>
        </div>
        <div class="md-input-group col-md-6">
          <c-date name="fecha_suscripcion_res" label="Fecha emisión de la R.A." ng-model="$ctrl.proyecto.res_administrativa.fecha_emision"
          mensaje-min-date="La fecha no debe ser menor a la Fecha de la solicitud de financiamiento del proyecto"
          ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('doc_resmin_cife')"
          ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('doc_resmin_cife')"></c-date><!--min-date="$ctrl.proyecto.fecha_suscripcion_convenio" 2022-->
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6" > <!--se quito la condicion para ocultar el adjunto de doc_resolucion-->
      <archivo name="doc_resmin_cife" label="Resolución de Aprobación" ng-model="$ctrl.proyecto.doc_resmin_cife"
              types="pdf" mime-types=".pdf" maxsize="4MB"
              url="{{$ctrl.archivos.urlDocResolucion}}"
              url-descarga="{{$ctrl.archivos.urlDocResolucionDescarga}}"
              cambiar="$ctrl.Proyecto.esEditable('doc_resmin_cife')"
              modo-vista="!$ctrl.Proyecto.esEditable('doc_resmin_cife')">
      </archivo>
    </div>
  </div>
</section>
<section ng-init="$ctrl.proyecto.convenio.$_plantilla=5; $ctrl.proyecto.convenio.$_nombre='convenio'">
  <h6 class="title-section m-top">
    <i class="fa fa-hand-o-right"></i> Convenio
  </h6>
  <div class="row">
    <div class="col-md-12 col-lg-6">
      <div class="row">
        <div class="md-input-group col-md-6">
          <c-input name="nro_convenio" label="N° de Convenio" ng-model="$ctrl.proyecto.convenio.nro_convenio"
          ng-minlength="3" maxlength="100"
          ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('doc_convenio')"
          ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('doc_convenio')"></c-input>
        </div>
        <div class="md-input-group col-md-6">
          <c-date name="fecha_suscripcion_con" label="Fecha de suscripción del convenio" ng-model="$ctrl.proyecto.convenio.fecha_suscripcion"
          mensaje-min-date="La fecha de suscripción del convenio no debe ser menor a la Fecha de emisión R.A."
          ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('doc_convenio')"
          ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('doc_convenio')"></c-date><!--min-date-key="fecha_suscripcion_res"-->
        </div>
        <div class="md-input-group col-md-6">
          <c-input name="plazo_tiempo_administrativo" label="Plazo Administrativo" ng-model="$ctrl.proyecto.convenio.plazo_tiempo_administrativo"
          ng-required="false"
          ng-disabled="true"></c-input>
        </div>
        <div class="md-input-group col-md-6">
          <c-input name="plazo_convenio" label="Plazo de Convenio" ng-model="$ctrl.proyecto.plazo_ejecucion"
          ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('doc_convenio')"
          ng-disabled="true"
          ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('doc_convenio')"></c-input>
        </div>
        <div class="md-input-group col-md-6" ng-if="$ctrl.proyecto.orden_proceder">
          <c-date name="fecha_orden_proceder" label="Orden de proceder" ng-model="$ctrl.proyecto.orden_proceder"
          ng-disabled="true"></c-date>
        </div>
        <div class="md-input-group col-md-6" ng-if="$ctrl.proyecto.orden_proceder">
          <c-date name="fecha_finalizacion_convenio" label="Finalización del plazo" ng-model="$ctrl.plazo_convenio0"
          ng-disabled="true"></c-date>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-3">
      <archivo name="doc_convenio" label="Convenio" ng-model="$ctrl.proyecto.doc_convenio"
              types="pdf" mime-types=".pdf" maxsize="4MB"
              url="{{$ctrl.archivos.urlDocConvenio}}"
              url-descarga="{{$ctrl.archivos.urlDocConvenioDescarga}}"
              cambiar="$ctrl.Proyecto.esEditable('doc_convenio')"
              modo-vista="!$ctrl.Proyecto.esEditable('doc_convenio')">
      </archivo>
    </div>
    <div class="md-input-group col-md-3">
      <img src="{{$ctrl.qrimage}}" alt='QR Code Image'>
    </div>
  </div>

<div ng-if="$ctrl.proyecto.convenio.fecha_suscripcion && $ctrl.proyecto.orden_proceder">
  <h6 class="title-section m-top">
    <i class="fa fa-hand-o-right"></i> Convenio modificatorio 1
  </h6>
  <div class="row">
    <div class="col-md-12 col-lg-6">
      <div class="row">
        <div class="md-input-group col-md-6">
          <c-select name="tipo_plazo" label="Tipo" ng-model="$ctrl.proyecto.convenio.tipo_plazo_convenio_ampliado"
              options="$ctrl.tipos_plazo_ampliado"
              ng-disabled="($ctrl.proyecto.convenio.plazo_convenio_ampliado2 > 0) || !$ctrl.Proyecto.esEditable('doc_convenio_extendido')">
          </c-select>
        </div>
        <div class="md-input-group col-md-6">
          <c-input name="plazo_convenio_ampliado" label="Plazo ampliado de convenio" ng-model="$ctrl.proyecto.convenio.plazo_convenio_ampliado"
            ng-blur="$ctrl.recalcularPlazoConvenio1()"
            ng-required="$ctrl.Proyecto.esEditable('doc_convenio_extendido')"
            ng-disabled="($ctrl.proyecto.convenio.plazo_convenio_ampliado2 > 0) || !$ctrl.Proyecto.esEditable('doc_convenio_extendido')">
          </c-input>
        </div>
        <div class="md-input-group col-md-6" ng-if="$ctrl.proyecto.convenio.plazo_convenio_ampliado >= 0">
          <c-date name="fecha_ampliacion_con" label="1ra fecha ampliada convenio" ng-model="$ctrl.plazo_convenio1"
            ng-required="true"
            ng-disabled="true">
          </c-date>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6" ng-if="$ctrl.proyecto.convenio.plazo_convenio_ampliado >= 0">
      <archivo name="doc_convenio_extendido" label="Documento de ampliación de convenio" ng-model="$ctrl.proyecto.doc_convenio_extendido"
              types="pdf" mime-types=".pdf" maxsize="3MB"
              url="{{ $ctrl.archivos.urlDocConvenioExtendido }}"
              url-descarga="{{ $ctrl.archivos.urlDocConvenioExtendidoDescarga }}"
              cambiar="!($ctrl.proyecto.convenio.plazo_convenio_ampliado2 > 0)"
              modo-vista="$ctrl.proyecto.doc_convenio_extendido || !$ctrl.Proyecto.esEditable('doc_convenio_extendido')">
      </archivo>
    </div>
  </div>
  <h6 class="title-section m-top" ng-if="$ctrl.proyecto.doc_convenio_extendido">
    <i class="fa fa-hand-o-right"></i> Convenio modificatorio 2
  </h6>
  <div class="row" ng-if="$ctrl.proyecto.doc_convenio_extendido">
    <div class="col-md-12 col-lg-6">
      <div class="row">
        <div class="md-input-group col-md-6">
          <c-select name="tipo_plazo2" label="Tipo" ng-model="$ctrl.proyecto.convenio.tipo_plazo_convenio_ampliado2"
              options="$ctrl.tipos_plazo_ampliado"
              ng-disabled="!$ctrl.Proyecto.esEditable('doc_convenio_extendido')">
          </c-select>
        </div>
        <div class="md-input-group col-md-6">
          <c-input name="plazo_convenio_ampliado2" label="Plazo ampliado de convenio" ng-model="$ctrl.proyecto.convenio.plazo_convenio_ampliado2"
            ng-blur="$ctrl.recalcularPlazoConvenio2()"
            ng-required="$ctrl.Proyecto.esEditable('doc_convenio_extendido')"
            ng-disabled="!$ctrl.Proyecto.esEditable('doc_convenio_extendido')">
          </c-input>
        </div>
        <div class="md-input-group col-md-6" ng-if="$ctrl.proyecto.doc_convenio_extendido">
          <c-date name="fecha_ampliacion_con2" label="2da fecha ampliada convenio" ng-model="$ctrl.plazo_convenio2"
          ng-required="true"
          ng-disabled="true"></c-date>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6" ng-if="$ctrl.proyecto.doc_convenio_extendido">
      <archivo name="doc_convenio_extendido2" label="Documento de ampliación de convenio" ng-model="$ctrl.proyecto.doc_convenio_extendido2"
              types="pdf" mime-types=".pdf" maxsize="3MB"
              url="{{ $ctrl.archivos.urlDocConvenioExtendido2 }}"
              url-descarga="{{ $ctrl.archivos.urlDocConvenioExtendidoDescarga2 }}"
              cambiar="$ctrl.Proyecto.esEditable('doc_convenio_extendido')"
              modo-vista="!$ctrl.Proyecto.esEditable('doc_convenio_extendido') || $ctrl.proyecto.doc_convenio_extendido2">
      </archivo>
    </div>
  </div>
    <h6 class="title-section m-top" ng-if="$ctrl.proyecto.doc_convenio_extendido2">
    <i class="fa fa-hand-o-right"></i> Convenio modificatorio 3
  </h6>
  <div class="row" ng-if="($ctrl.proyecto.doc_convenio_extendido2)">
    <div class="col-md-12 col-lg-6">
      <div class="row">
        <div class="md-input-group col-md-6">
          <c-select name="tipo_plazo3" label="Tipo" ng-model="$ctrl.proyecto.convenio.tipo_plazo_convenio_ampliado3"
              options="$ctrl.tipos_plazo_ampliado"
              ng-disabled="!$ctrl.Proyecto.esEditable('doc_convenio_extendido3')">
          </c-select>
        </div>
        <div class="md-input-group col-md-6">
          <c-input name="plazo_convenio_ampliado3" label="Plazo ampliado de convenio" ng-model="$ctrl.proyecto.convenio.plazo_convenio_ampliado3"
            ng-blur="$ctrl.recalcularPlazoConvenio3()"
            ng-required="$ctrl.Proyecto.esEditable('doc_convenio_extendido')"
            ng-disabled="!$ctrl.Proyecto.esEditable('doc_convenio_extendido3')">
          </c-input>
        </div>
        <div class="md-input-group col-md-6" ng-if="$ctrl.proyecto.doc_convenio_extendido2">
          <c-date name="fecha_ampliacion_con3" label="3ra fecha ampliada convenio" ng-model="$ctrl.plazo_convenio3"
          ng-required="true"
          ng-disabled="true"></c-date>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6" ng-if="$ctrl.proyecto.doc_convenio_extendido2">
      <archivo name="doc_convenio_extendido3" label="Documento de ampliación de convenio" ng-model="$ctrl.proyecto.doc_convenio_extendido3"
              types="pdf" mime-types=".pdf" maxsize="3MB"
              url="{{ $ctrl.archivos.urlDocConvenioExtendido3 }}"
              url-descarga="{{ $ctrl.archivos.urlDocConvenioExtendidoDescarga3 }}"
              cambiar="$ctrl.Proyecto.esEditable('doc_convenio_extendido')"
              modo-vista="!$ctrl.Proyecto.esEditable('doc_convenio_extendido3') || $ctrl.proyecto.doc_convenio_extendido3">
      </archivo>
    </div>
  </div>
</div>

    <h6 class="title-section m-top" ng-if="$ctrl.proyecto.doc_convenio_extendido3">
    <i class="fa fa-hand-o-right"></i> Convenio modificatorio 4
  </h6>
  <div class="row" ng-if="($ctrl.proyecto.doc_convenio_extendido3)">
    <div class="col-md-12 col-lg-6">
      <div class="row">
        <div class="md-input-group col-md-6">
          <c-select name="tipo_plazo4" label="Tipo" ng-model="$ctrl.proyecto.convenio.tipo_plazo_convenio_ampliado4"
              options="$ctrl.tipos_plazo_ampliado"
              ng-disabled="!$ctrl.Proyecto.esEditable('doc_convenio_extendido4')">
          </c-select>
        </div>
        <div class="md-input-group col-md-6">
          <c-input name="plazo_convenio_ampliado4" label="Plazo ampliado de convenio" ng-model="$ctrl.proyecto.convenio.plazo_convenio_ampliado4"
            ng-blur="$ctrl.recalcularPlazoConvenio4()"
            ng-required="$ctrl.Proyecto.esEditable('doc_convenio_extendido')"
            ng-disabled="!$ctrl.Proyecto.esEditable('doc_convenio_extendido4')">
          </c-input>
        </div>
        <div class="md-input-group col-md-6" ng-if="$ctrl.proyecto.doc_convenio_extendido3">
          <c-date name="fecha_ampliacion_con4" label="4ta fecha ampliada convenio" ng-model="$ctrl.plazo_convenio4"
          ng-required="true"
          ng-disabled="true"></c-date>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6" ng-if="$ctrl.proyecto.doc_convenio_extendido3">
      <archivo name="doc_convenio_extendido4" label="Documento de ampliación de convenio" ng-model="$ctrl.proyecto.doc_convenio_extendido4"
              types="pdf" mime-types=".pdf" maxsize="3MB"
              url="{{ $ctrl.archivos.urlDocConvenioExtendido4 }}"
              url-descarga="{{ $ctrl.archivos.urlDocConvenioExtendidoDescarga4 }}"
              cambiar="$ctrl.Proyecto.esEditable('doc_convenio_extendido')"
              modo-vista="!$ctrl.Proyecto.esEditable('doc_convenio_extendido4') || $ctrl.proyecto.doc_convenio_extendido4">
      </archivo>
    </div>
  </div>
</div>

    <h6 class="title-section m-top" ng-if="$ctrl.proyecto.doc_convenio_extendido4">
    <i class="fa fa-hand-o-right"></i> Convenio modificatorio 5
  </h6>
  <div class="row" ng-if="($ctrl.proyecto.doc_convenio_extendido4)">
    <div class="col-md-12 col-lg-6">
      <div class="row">
        <div class="md-input-group col-md-6">
          <c-select name="tipo_plazo5" label="Tipo" ng-model="$ctrl.proyecto.convenio.tipo_plazo_convenio_ampliado5"
              options="$ctrl.tipos_plazo_ampliado"
              ng-disabled="!$ctrl.Proyecto.esEditable('doc_convenio_extendido5')">
          </c-select>
        </div>
        <div class="md-input-group col-md-6">
          <c-input name="plazo_convenio_ampliado5" label="Plazo ampliado de convenio" ng-model="$ctrl.proyecto.convenio.plazo_convenio_ampliado5"
            ng-blur="$ctrl.recalcularPlazoConvenio5()"
            ng-required="$ctrl.Proyecto.esEditable('doc_convenio_extendido')"
            ng-disabled="!$ctrl.Proyecto.esEditable('doc_convenio_extendido5')">
          </c-input>
        </div>
        <div class="md-input-group col-md-6" ng-if="$ctrl.proyecto.doc_convenio_extendido4">
          <c-date name="fecha_ampliacion_con5" label="5ta fecha ampliada convenio" ng-model="$ctrl.plazo_convenio5"
          ng-required="true"
          ng-disabled="true"></c-date>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6" ng-if="$ctrl.proyecto.doc_convenio_extendido4">
      <archivo name="doc_convenio_extendido5" label="Documento de ampliación de convenio" ng-model="$ctrl.proyecto.doc_convenio_extendido5"
              types="pdf" mime-types=".pdf" maxsize="3MB"
              url="{{ $ctrl.archivos.urlDocConvenioExtendido5 }}"
              url-descarga="{{ $ctrl.archivos.urlDocConvenioExtendidoDescarga5 }}"
              cambiar="$ctrl.Proyecto.esEditable('doc_convenio_extendido')"
              modo-vista="!$ctrl.Proyecto.esEditable('doc_convenio_extendido5') || $ctrl.proyecto.doc_convenio_extendido5">
      </archivo>
    </div>
  </div>
</div>
</section>
