<div class="container">

  <div class="card">
	 <h2 class="page-title">
		  <i class="fa fa-bars"></i> Proyecto : <small><strong>{{$ctrl.proyecto[0].nombre}}</strong></small>
	 </h2>
	 <div class="card-body" >
		<ng-form name="formProyecto">
		  <uib-tabset active="active">
			 <uib-tab index="0" heading="Convenios">
				<section ng-init="$ctrl.proyecto.convenio.$_plantilla=5; $ctrl.proyecto.convenio.$_nombre='convenio'">
					<h6 class="title-section m-top">
						 <i class="fa fa-hand-o-right"></i> Convenio {{$ctrl.proyecto[0].numero_convenio}}
					</h6>
					<div class="row">
						<div class="col-md-12 col-lg-12">

							<div class="row">
								<div class="md-input-group col-md-12">
										<c-input name="nro_convenio" label="Numero de Convenio" ng-model="$ctrl.proyecto[0].numero_convenio" ng-minlength="3" maxlength="100" ng-disabled="true">
										</c-input>
								</div>
								<div class="md-input-group col-md-6">
										<c-input name="nombre_proyecto" label="Nombre de Proyecto :" ng-model="$ctrl.proyecto[0].nombre" ng-minlength="3"  ng-disabled="true"></c-input>
								</div>

								<div class="md-input-group col-md-6">
									<c-input name="Cartera" label="Cartera" ng-model="$ctrl.proyecto[0].cartera"
									ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('doc_convenio')"
									ng-disabled="true"
									ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('doc_convenio')"></c-input>
								</div>
								<div class="md-input-group col-md-6" >
									<c-input name="departamento" label="Departamento" ng-model="$ctrl.proyecto[0].dep" ng-minlength="3" maxlength="100" ng-disabled="true"></c-input>
								</div>
								<div class="md-input-group col-md-6">
									<c-input name="municipio" label="Municipio" ng-model="$ctrl.proyecto[0].mun" ng-minlength="3" maxlength="100" ng-disabled="true"	></c-input>
								</div>
							</div>

						</div>
					</div>

					<div ng-if="$ctrl.proyecto.convenio.fecha_suscripcion && $ctrl.proyecto.orden_proceder">
					  <h6 class="title-section m-top">
						 <i class="fa fa-hand-o-right"></i> Convenio modificatorio 1
					  </h6>
					  <div class="row">
						 <div class="col-md-12 col-lg-6">
							<div class="row">
							  <div class="md-input-group col-md-6">
								 <c-select name="tipo_plazo" label="Tipo" ng-model="$ctrl.proyecto.convenio.tipo_plazo_convenio_ampliado"
									  options="$ctrl.tipos_plazo_ampliado"
									  ng-disabled="($ctrl.proyecto.convenio.plazo_convenio_ampliado2 > 0) || !$ctrl.Proyecto.esEditable('doc_convenio_extendido')">
								 </c-select>
							  </div>
							  <div class="md-input-group col-md-6">
								 <c-input name="plazo_convenio_ampliado" label="Plazo ampliado de convenio" ng-model="$ctrl.proyecto.convenio.plazo_convenio_ampliado"
									ng-blur="$ctrl.recalcularPlazoConvenio1()"
									ng-required="$ctrl.Proyecto.esEditable('doc_convenio_extendido')"
									ng-disabled="($ctrl.proyecto.convenio.plazo_convenio_ampliado2 > 0) || !$ctrl.Proyecto.esEditable('doc_convenio_extendido')">
								 </c-input>
							  </div>
							  <div class="md-input-group col-md-6" ng-if="$ctrl.proyecto.convenio.plazo_convenio_ampliado > 0">
								 <c-date name="fecha_ampliacion_con" label="1ra fecha ampliada convenio" ng-model="$ctrl.plazo_convenio1"
									ng-required="true"
									ng-disabled="true">
								 </c-date>
							  </div>
							</div>
						 </div>

					  </div>
					  <h6 class="title-section m-top" ng-if="$ctrl.proyecto.convenio.plazo_convenio_ampliado > 0">
						 <i class="fa fa-hand-o-right"></i> Convenio modificatorio 2
					  </h6>
					  <div class="row" ng-if="($ctrl.proyecto.convenio.plazo_convenio_ampliado > 0)">
						 <div class="col-md-12 col-lg-6">
							<div class="row">
							  <div class="md-input-group col-md-6">
								 <c-select name="tipo_plazo2" label="Tipo" ng-model="$ctrl.proyecto.convenio.tipo_plazo_convenio_ampliado2"
									  options="$ctrl.tipos_plazo_ampliado"
									  ng-disabled="!$ctrl.Proyecto.esEditable('doc_convenio_extendido')">
								 </c-select>
							  </div>
							  <div class="md-input-group col-md-6">
								 <c-input name="plazo_convenio_ampliado2" label="Plazo ampliado de convenio" ng-model="$ctrl.proyecto.convenio.plazo_convenio_ampliado2"
									ng-blur="$ctrl.recalcularPlazoConvenio2()"
									ng-disabled="!$ctrl.Proyecto.esEditable('doc_convenio_extendido')">
								 </c-input>
							  </div>
							  <div class="md-input-group col-md-6" ng-if="$ctrl.proyecto.convenio.plazo_convenio_ampliado2 > 0">
								 <c-date name="fecha_ampliacion_con2" label="2da fecha ampliada convenio" ng-model="$ctrl.plazo_convenio2"
								 ng-required="true"
								 ng-disabled="true"></c-date>
							  </div>
							</div>
						 </div>
						
					  </div>
					</div>
				</section>
				<div class="md-input-group col-md-6">
					 <button class="btn btn-sm btn-primary" ng-click="$ctrl.verArchivo()" tittle="ver Convenio"> ver convenio</button>
				</div>
				<!-- <iframe src="{{$ctrl.urlIframe}}"></iframe> -->
			 </uib-tab>
		  </uib-tabset>
		</ng-form>

	 </div>
  </div>
</div>
