<div class="modal-header">
    <h5 class="modal-title"><i class="fa fa-{{ $ctrl.icon }}" ng-if="$ctrl.icon"></i> {{ $ctrl.title }}</h5>
    <button type="button" class="close" data-dismiss="modal" ng-if="$ctrl.btnClose" ng-click="$ctrl.close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!-- <iframe src="{{$ctrl.data}}" style="width: 100%;height: 480px;"></iframe> -->
    <pdf-viewer base64="$ctrl.data" height="400px" scale="page-fit" download="true" print="false" page="1"></pdf-viewer>
</div>
<div class="modal-footer">
    <button md-effect type="button" class="btn btn-secondary" ng-click="$ctrl.close()" ng-if="$ctrl.cancel">
        <i class="fa fa-close"></i> {{ $ctrl.labelCancel || 'Cancelar'}}
    </button>
    <button md-effect type="button" class="btn btn-primary" ng-click="$ctrl.ok()">
        <i class="fa fa-check"></i> {{ $ctrl.labelOk || 'Aceptar' }}
    </button>
</div>