<div class="modal-header">
  <h5 class="modal-title"><i class="fa fa-table"></i> Confirmación previa a la aprobación de la planilla de avance</h5>
  <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cerrar()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>
    El avance físico {{$ctrl.items.length > 1 ? 'de los items listados' : 'del item listado'}} a continuación está concluído, sin embargo el avance financiero aún no está cerrado.
  </p>

  <div class="crud-table">
    <table class="table table-hover table-striped table-responsive fs-sm">
      <thead>
        <tr>
          <th rowspan="2" title="Nro de item">Nro</th>
          <th rowspan="2" class="text-left">Descripción</th>
          <th rowspan="2" title="Unidad">Unid.</th>
          <th rowspan="2" title="Cantidad">Cant.</th>
          <th rowspan="2" title="Precio Unitario">P.U.</th>
          <th rowspan="2">Total(Bs)</th>
          <th colspan="2" class="text-center">Volumenes de avance</th>
          <th colspan="2" class="text-center">Avance financiero</th>
        </tr>
        <tr>
          <th title="Total Acumulado">T.A.</th>
          <th title="Falta ejecutar">F.E.</th>
          <th title="Total Acumulado">T.A.</th>
          <th title="Falta ejecutar">F.E.</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in $ctrl.items">
          <td>{{item.nro_item}}</td>
          <td>{{item.nombre}}</td>
          <td>{{item.unidad.nombre}}</td>
          <td>{{item.cantidad | number:2}}</td>
          <td>{{item.precio_unitario | number:2}}</td>
          <td>{{item.total | number:2}}</td>
          <td>{{item.total_acumulado_fis | number:2}}</td>
          <td>{{item.falta_ejecutar_fis}}</td>
          <td>{{item.total_acumulado_fin | number:2}}</td>
          <td>{{item.falta_ejecutar_fin}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <p>
    Al aprobar la planilla de avance se procederá a cerrar el avance financiero {{$ctrl.items.length > 1 ? 'de los items mencionados' : 'del item mencionado'}}.
  </p>

  <p class="resaltado">
    Si está seguro/a de aprobar la planilla de avance presione la opción "<strong>APROBAR</strong>" en caso contrario "<strong>CANCELAR</strong>".
  </p>
</div>

<div class="modal-footer">
  <button type="button" md-effect class="btn btn-secondary" ng-click="$ctrl.cerrar()" ng-if="!$ctrl.modoVista">
    <i class="fa fa-close"></i> Cancelar
  </button>
  <button type="submit" md-effect class="btn btn-primary" ng-click="$ctrl.aprobar()">
    <i class="fa fa-check"></i> Aprobar
  </button>
</div>
