<div class="container px-3 planilla-proy">
  <h2 class="page-title">
    <i class="fa fa-bars"></i> Proyecto <small><strong>{{$ctrl.proyecto.nombre}}</strong></small>
  </h2>
  <div class="card">
    <div class="card-body">
      <div class="row mx-0">
        <div style="font-size: 20px;" uib-tooltip="Volver atrás" ng-click="$ctrl.irAtras()">
          <i class="fa fa-reply"></i>
        </div>
      </div>
      <h4 class="text-center"><strong>{{$ctrl.proyecto.empresa.nombre}}</strong></h4>
      <h3 class="text-center">
        Planilla de avance de obra Nro. {{$ctrl.supervision.nro_supervision}}
      </h2>
      <div class="texto">
        <p class="text-center">Del {{$ctrl.supervision.fecha_inicio | date : 'dd/MM/yyyy'}} al {{!$ctrl.supervision.fecha_fin ? '-' : $ctrl.supervision.fecha_fin | date : 'dd/MM/yyyy'}} <br>
          <span class="resaltado" ng-if="$ctrl.supervision.monto_total_por_ejecutar === 0">Planilla de cierre</span>
        </p>
        <section>
          <a href="">
            <h6 class="title-section m-top" ng-click="$ctrl.datosProyectoIsCollapsed = !$ctrl.datosProyectoIsCollapsed">
              <i class="fa fa-hand-o-right"></i> Datos del proyecto
            </h6>
          </a>
          <div uib-collapse="$ctrl.datosProyectoIsCollapsed">
            <div class="row">
              <div class="col-md-4 text-left">
                <table class="table mod-t mod-t-b mb-0">
                  <tbody>
                    <tr> <th class="text-right">Nombre:</th> <td>{{$ctrl.proyecto.nombre}}</td> </tr>
                    <tr> <th class="text-right">Departamento:</th> <td>{{$ctrl.proyecto.dpa.departamento.nombre}}</td> </tr>
                    <tr> <th class="text-right">Provincia:</th> <td>{{$ctrl.proyecto.dpa.provincia.nombre}}</td> </tr>
                    <tr> <th class="text-right">Municipio:</th> <td>{{$ctrl.proyecto.dpa.municipio.nombre}}</td> </tr>
                    <tr><th class="text-right">Beneficiario:</th> <td>{{$ctrl.proyecto.entidad_beneficiaria}}</td> </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-4">
                <table class="table mod-t mod-t-b mb-0">
                  <tbody>
                    <tr> <th class="text-right">Monto convenio:</th> <td class="text-right">{{$ctrl.proyecto.monto_total_convenio | number:2}}</td> </tr>
                    <tr> <th class="text-right">Monto contrato:</th> <td class="text-right">{{$ctrl.proyecto.monto_contractual | number:2}}</td> </tr>
                    <tr ng-if="$ctrl.supervision.proyecto.monto_total!=$ctrl.proyecto.monto_contractual && $ctrl.proyecto.monto_contractual">
                      <th class="text-right">Monto total con modificación:</th> <td class="text-right">{{$ctrl.supervision.proyecto.monto_total | number:2}}</td>
                    </tr>
                    <tr> <th class="text-right">Anticipo {{$ctrl.proyecto.porcentaje_anticipo | number:0}}%:</th> <td class="text-right">{{$ctrl.proyecto.anticipo | number:2}}</td> </tr>
                    <tr ng-repeat="supervision in $ctrl.supervision.supervisiones_anteriores"> <th class="text-right">Monto {{supervision.numero}} desembolso:</th> <td class="text-right">{{supervision.desembolso | number:2}}</td> </tr>
                    <tr> <th class="text-right">TOTAL DESEMBOLSADO:</th> <td class="text-right"><strong>{{$ctrl.supervision.monto_desembolso_total | number:2}}</strong></td> </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-4">
                <table class="table mod-t mod-t-b mb-0">
                  <tbody>
                    <tr> <th class="text-right">Fecha inicio de obras/<br> Libro de ordenes:</th> <td>{{$ctrl.proyecto.orden_proceder | date : 'dd/MM/yyyy'}}</td> </tr>
                    <tr> <th class="text-right">Plazo de Ejecución</th> <td>{{$ctrl.proyecto.plazo_ejecucion}}</td> </tr>
                    <tr> <th class="text-right">Ampliación de Plazo</th> <td>{{$ctrl.proyecto.plazo_ampliacion.por_volumenes+$ctrl.proyecto.plazo_ampliacion.por_compensacion || 0}}</td> </tr>
                    <tr> <th class="text-right">Fecha prevista p/Recepción Provisional</th> <td>{{($ctrl.proyecto.fecha_recepcion_provisional) | date : 'dd/MM/yyyy'}}</td> </tr>
                    <tr> <th class="text-right">Fecha prevista p/Recepción definitiva </th> <td>{{($ctrl.proyecto.fecha_recepcion_definitiva) | date : 'dd/MM/yyyy'}}</td> </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>
      </div>

      <section>
        <h6 class="title-section m-top">
          <i class="fa fa-list"></i> Items del proyecto
        </h6>
        <div class="row">
          <div class="col-md-6">
            <div class="alert alert-info text-white">
              <i class="fa fa-info-circle"></i>
              <span>Puede hacer doble click a un item para <strong>{{$ctrl.esEditable? 'realizar' : 'revisar'}} su cómputo métrico</strong>.</span>
            </div>
          </div>
          <div class="col-md-6" ng-if="$ctrl.proyecto.doc_especificaciones_tecnicas">
            <button md-effect type="button" class="btn btn-info" download-file="{{$ctrl.urlDescEspTecnicas}}" file-name="Especificaciones técnicas"
            uib-tooltip="Especificaciones técnicas" tooltip-placement="bottom">
              <i class="fa fa-file-text-o"></i> E. Técnicas
            </button>
            <button md-effect type="button" class="btn btn-info" download-file="{{$ctrl.urlDescPlanilla}}" file-name="Planilla de avance nro {{$ctrl.supervision.nro_supervision}}"
            uib-tooltip="Planilla de avance nro {{$ctrl.supervision.nro_supervision}}" tooltip-placement="bottom" ng-if="$ctrl.supervision.version_proyecto">
              <i class="fa fa-file-text-o"></i> Planilla
            </button>
            <button md-effect type="button" class="btn btn-info" download-file="{{$ctrl.urlDescComputosResumen}}" file-name="Resúmen de cómputos métricos de la planilla"
            uib-tooltip="Resúmen de cómputos métricos de la planilla" tooltip-placement="bottom" ng-if="$ctrl.supervision.version_proyecto">
              <i class="fa fa-table"></i> Cómputos
            </button>
          </div>
        </div>

        <div class="row mt-2 mb-2">
          <div class="col-lg-6 col-md-12 mb-2">
            <div class="btn-group opciones">
              <label md-effect class="btn btn-primary" btn-checkbox ng-model="$ctrl.filtroItems" uib-btn-radio="'TODOS'">Todos</label>
              <label md-effect class="btn btn-primary" ng-model="$ctrl.filtroItems" uib-btn-radio="'COMPLETADOS'">Completados</label>
              <label md-effect class="btn btn-primary" ng-model="$ctrl.filtroItems" uib-btn-radio="'INCOMPLETOS'">Por completar</label>
              <label md-effect class="btn btn-primary" ng-model="$ctrl.filtroItems" uib-btn-radio="'PARA_ENVIAR'">Planilla</label>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 mt-2">

            <label class="custom-control custom-checkbox">
              <span class="custom-control-indicator success"></span><span>Completado</span>
            </label>
            <label class="custom-control custom-checkbox">
              <span class="custom-control-indicator info"></span><span>Con avance</span>
            </label>
            <label class="custom-control custom-checkbox">
              <span class="custom-control-indicator primary"></span><span>Sin avance</span>
            </label>
            <label class="custom-control custom-checkbox">
              <span class="custom-control-indicator warning"></span><span>Con avance en anterior(es) planilla(s)</span>
            </label>
          </div>
        </div>

        <div ng-repeat="modulo in $ctrl.supervision.modulos" ng-show="modulo.show" class="texto">
          <div class="my-1 mod-h" ng-click="modulo.isCollapsed = !modulo.isCollapsed">
            <span uib-tooltip="Click para ocultar/mostrar sus items" tooltip-placement="right">
              <strong>Módulo:</strong> {{modulo.nombre}}
            </span>
          </div>
          <hr class="mt-2 mb-1">
          <div class="table-responsive">
            <div uib-collapse="modulo.isCollapsed">
              <table class="table table-striped mod-t text-right" style="width:{{1820+$ctrl.supervision.proyecto.proyecto_historico.length*270}}px;max-width:none">
                <thead>
                  <tr>
                    <th rowspan="2" title="Nro de item" style="width:50px">Nro</th>
                    <th rowspan="2" class="text-left" style="width:350px">Descripción</th>
                    <th rowspan="2" title="Unidad" style="width:70px">Unid.</th>
                    <th colspan="3" class="text-center" style="width:270px"
                        ng-if="$ctrl.supervision.version_proyecto===null || version.version<=$ctrl.supervision.version_proyecto"
                        ng-repeat="version in $ctrl.supervision.proyecto.proyecto_historico">
                        {{version.tipo_modificacion_proyecto.nombre}} {{version.tipo_modificacion_proyecto.numero}}
                      </th>
                    <th colspan="3" class="text-center" style="width:270px"
                        ng-if="$ctrl.supervision.version_proyecto===null || $ctrl.supervision.proyecto.version<=$ctrl.supervision.version_proyecto">
                        {{$ctrl.supervision.version_proyecto==1 || $ctrl.supervision.proyecto.version === 1 ? 'Contrato Original': $ctrl.proyecto.tipo_modificacion_proyecto.nombre+' '+$ctrl.proyecto.tipo_modificacion_proyecto.numero}}
                      </th>
                    <th colspan="4" class="text-center" style="width:360px">Volumenes de avance</th>
                    <th colspan="4" class="text-center" style="width:360px">Avance financiero</th>
                    <th rowspan="2" title="% Ejecutado Físico" style="width:90px">% E.Fis.</th>
                    <th rowspan="2" title="% Ejecutar" style="width:90px">% E.</th>
                    <th rowspan="2" title="% Ejecutado Financiero" style="width:90px">% E.Fin.</th>
                    <th rowspan="2" title="% Ejecutar" style="width:90px">% E.</th>
                  </tr>
                  <tr>
                    <th ng-repeat-start="version in modulo.items[0].item_historico" style="width:90px"
                        ng-if="$ctrl.supervision.version_proyecto===null || version.version<$ctrl.supervision.version_proyecto">Cant.</th>
                    <th style="width:90px"
                        ng-if="$ctrl.supervision.version_proyecto===null || version.version<$ctrl.supervision.version_proyecto">P.U.</th>
                    <th ng-repeat-end style="width:90px"
                        ng-if="$ctrl.supervision.version_proyecto===null || version.version<$ctrl.supervision.version_proyecto">Total</th>
                    <th title="Cantidad" style="width:90px">Cant.</th>
                    <th title="Precio Unitario" style="width:90px">P.U.</th>
                    <th style="width:90px">Total(Bs)</th>
                    <th style="width:90px">Anterior</th>
                    <th style="width:90px">Actual</th>
                    <th title="Total Acumulado" style="width:90px">T.A.</th>
                    <th title="Falta ejecutar" style="width:90px">F.E.</th>
                    <th style="width:90px">Anterior</th>
                    <th style="width:90px">Actual</th>
                    <th title="Total Acumulado" style="width:90px">T.A.</th>
                    <th title="Falta ejecutar" style="width:90px">F.E.</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-dblclick="$ctrl.mostrarComputo(item)" ng-repeat="item in modulo.items" ng-show="item.show"
                  ng-class="[{'observado': (item.falta_ejecutar_fis === 0 && item.falta_ejecutar_fin !== 0) || (item.ejecutar_porcentaje_fis === 0  && item.falta_ejecutar_fis > 0)}]">
                    <td ng-class="$ctrl.getMgColor(item)" title="{{$ctrl.getTitle(item)}}">{{item.nro_item}}</td>
                    <td class="text-left">
                      {{item.nombre}}
                      <button md-effect class="btn btn-info btn-sm right" uib-tooltip="Reporte de Cómputos métricos"
                        ng-if="$ctrl.supervision.version_proyecto && item.cantidad_actual_fis > 0"
                        download-file="{{$ctrl.urlDescComputosItem + item.nro_item + '_' + $ctrl.supervision.nro_supervision + '/descargar'}}"
                        file-name="Computos metricos item nro {{item.nro_item}}">
                        <i class="fa fa-table"></i>
                      </button>
                    </td>
                    <td>{{$ctrl.unidades_obj[item.unidad_medida].nombre}}</td>
                    <td ng-repeat-start="version in item.item_historico"
                        ng-if="$ctrl.supervision.version_proyecto===null || version.version<$ctrl.supervision.version_proyecto"
                        ng-class="[{'text-info font-weight-bold modificado':version.modificado}, $ctrl.getTipoClass(version.modificacion)]">{{version.cantidad |number:2}}</td>
                    <td ng-class="$ctrl.getTipoClass(version.modificacion)"
                        ng-if="$ctrl.supervision.version_proyecto===null || version.version<$ctrl.supervision.version_proyecto">{{version.precio_unitario |number:2}}</td>
                    <td ng-repeat-end ng-class="[{'text-info font-weight-bold':version.modificado}, $ctrl.getTipoClass(version.modificacion)]"
                        ng-if="$ctrl.supervision.version_proyecto===null || version.version<$ctrl.supervision.version_proyecto">{{version.total |number:2}}</td>
                    <td ng-class="[{'text-info font-weight-bold modificado':item.modificado},$ctrl.getTipoClass($ctrl.proyecto.tipo_modificacion)]">{{item.cantidad | number:2}}</td>
                    <td ng-class="$ctrl.getTipoClass($ctrl.proyecto.tipo_modificacion)">{{item.precio_unitario | number:2}}</td>
                    <td ng-class="[{'text-info font-weight-bold':item.modificado},$ctrl.getTipoClass($ctrl.proyecto.tipo_modificacion)]">{{item.total | number:2}}</td>
                    <td>{{item.cantidad_anterior_fis | number:2}}</td>
                    <td>{{item.cantidad_actual_fis | number:2}}</td>
                    <td>{{item.total_acumulado_fis | number:2}}</td>
                    <td ng-class="{'danger' : item.falta_ejecutar_fis < 0}">{{item.falta_ejecutar_fis | number:2}}</td>
                    <td>{{item.cantidad_anterior_fin | number:2}}</td>
                    <td>{{item.cantidad_actual_fin | number:2}}</td>
                    <td>{{item.total_acumulado_fin | number:2}}</td>
                    <td ng-class="{'danger' : item.falta_ejecutar_fin < 0}">{{item.falta_ejecutar_fin | number:2}}</td>
                    <td>{{item.ejecutado_porcentaje_fis | number:2}}</td>
                    <td>{{item.ejecutar_porcentaje_fis | number:2}}</td>
                    <td>{{item.ejecutado_porcentaje_fin | number:2}}</td>
                    <td>{{item.ejecutar_porcentaje_fin | number:2}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
      <div class="alert alert-warning"ng-if="$ctrl.itemsNoCerrados.length > 0">
        <i class="fa fa-warning"></i>
        <span ng-if="$ctrl.itemsNoCerrados.length === 1"><strong>El item resaltado</strong> tiene</span>
        <span ng-if="$ctrl.itemsNoCerrados.length > 1"><strong>Los items resaltados</strong> tienen</span>
        <span>concluido el avance físico, sin embargo la parte financiera no ha cerrado o {{$ctrl.itemsNoCerrados.length > 1? 'tienen' : 'tiene'}}
          concluído el porcentaje de avance físico sin embargo aún hay una cantidad faltante por ejecutar. Este detalle será revisado por personal de la UPRE.</span>
      </div>

      <div class="fs-sm">
        <div class="row">
          <div class="col-md-6 text-left">
            <table class="table mod-t mod-t-b mb-0">
              <tbody>
                <tr>
                  <th>Monto actual ejecutado:</th>
                  <td>{{$ctrl.supervision.monto_total_actual_ejecutado | number:2}}</td>
                </tr>
                <tr>
                  <th>Porcentaje total ejecutado:</th>
                  <td>{{$ctrl.supervision.porcentaje_avance_fis | number:2}}%</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <table class="table mod-t mod-t-b mb-0">
              <tbody>
                <tr>
                  <th>Monto actual acumulado a la fecha:</th>
                  <td>{{$ctrl.supervision.monto_total_acumulado | number:2}}</td>
                </tr>
                <tr>
                  <th>Monto total por ejecutar:</th>
                  <td>{{$ctrl.supervision.monto_total_por_ejecutar | number:2}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="mt-4 texto">
        <div class="row">
          <div class="col-md-6 text-left">
            <table class="table mod-t mod-t-b mb-0">
              <tbody>
                <tr>
                  <th class="mot-t-sin-b" colspan="3">II. VERIFICACIÓN DE BOLETAS DE GARANTÍA </th>
                </tr>
                <tr>
                  <th>Descripción</th>
                  <th>Tipo</th>
                  <th>Fecha de vencimiento</th>
                </tr>
                <tr ng-repeat="boleta in $ctrl.boletasAnticipo">
                  <td rowspan="{{$ctrl.boletasAnticipo.length}}" ng-hide="$index>0">Buena inversión del Anticipo</td>
                  <td>{{ boleta.tipo_documento == 'POLIZA' ? 'Póliza' :'Boleta' }}</td>
                  <td>{{ boleta.fecha_fin_validez | date : 'dd/MM/yyyy' }}</td>
                </tr>
                <tr ng-repeat="boleta in $ctrl.boletasCcontrato">
                  <td rowspan="{{$ctrl.boletasCcontrato.length}}" ng-hide="$index>0">Cumplimiento de Contrato</td>
                  <td>{{ boleta.tipo_documento == 'POLIZA' ? 'Póliza' :'Boleta' }}</td>
                  <td>{{ boleta.fecha_fin_validez | date : 'dd/MM/yyyy' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <table class="table mod-t mod-t-b mb-0">
              <tbody>
                <tr>
                  <th class="mot-t-sin-b" colspan="3">III.  INFORME TÉCNICO DE CONCLUSIONES </th>
                </tr>
                <tr>
                  <th>Avance Físico</th>
                  <td>{{$ctrl.supervision.porcentaje_avance_fis | number:2}}%</td>
                </tr>
                <tr>
                  <th>Avance Financiero</th>
                  <td>{{$ctrl.supervision.porcentaje_avance_fin | number:2}}%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <section ng-if="$ctrl.Supervision.esAreaPermitida('DEUDA_ANTICIPO') && $ctrl.tieneDeudas">
          <h6 class="title-section m-top"> <i class="fa fa-money"></i> Descuento por anticipo </h6>
          <p> La empresa solicitó un anticipo de <strong>{{$ctrl.proyecto.anticipo | number : 2}} Bs.</strong>
            equivalente al {{$ctrl.proyecto.porcentaje_anticipo}}% del monto del contrato ({{$ctrl.proyecto.monto_total | number : 2}} Bs.).</p>

          <p ng-if="$ctrl.supervision.supervisiones_anteriores.length > 0"> A la fecha la empresa adeuda <strong>{{$ctrl.deudaAnticipo | number :2}} Bs.</strong> por concepto de anticipo pendiente. </p>

          <p> La empresa solicitó el descuento <strong>{{$ctrl.supervision.tipo_descuento_anticipo}}</strong> por concepto de anticipo,
            mismo que es equivalente a {{$ctrl.desembolso.descuento | number : 2}} Bs.
            y el monto a desembolsar será <strong>{{$ctrl.desembolso.total | number : 2}} Bs.</strong> para la actual planilla. </p>
        </section>

        <section ng-if="$ctrl.Supervision.esAreaPermitida('FOTOGRAFIAS')">
          <h6 class="title-section m-top"> <i class="fa fa-photo"></i> Fotografías de la supervisión </h6>
          <div class="alert alert-info" ng-if="$ctrl.supervision.fotos_supervision.length === 0">
            <i class="fa fa-info-circle"></i>
            <span>Debe sacar fotografías a la obra con la aplicación móvil.</span>
          </div>
          <fotos-supervision fotos="$ctrl.supervision.fotos_supervision" supervision="$ctrl.supervision" ng-if="$ctrl.supervision.fotos_supervision.length > 0"></fotos-supervision>
          <div class="alert alert-info" ng-if="$ctrl.supervision.nro_supervision===1">
            <i class="fa fa-exclamation-circle"></i>
            <strong>¡ADVERTENCIA!</strong><br>
            <span>* Deberá tomar en cuenta que las primeras 3 fotos tomadas y aprobadas en la 1ra. planilla de avance establecerán la Georeferenciación del proyecto, siendo que para el envio de las siguientes planillas de avance la aplicación móvil no permitirá tomar las 3 fotos de una ubicación diferente o que no se encuentre dentro del radio permitido.</span>
            <br><span>* Puede verificar la ubicación haciendo click en el botón <i class="fa fa-map-marker"></i> de cada foto.</span>
          </div>
        </section>

        <ng-form name="formSupervision">
          <section ng-if="$ctrl.Supervision.esAreaPermitida('INFORME')">
            <h6 class="title-section m-top">
              <i class="fa fa-file-text"></i> Informe técnico de conclusiones
            </h6>
            <c-textarea label="Breve informe narrativo acerca de la situación del proyecto:"
                        name="observacion" ng-model="$ctrl.supervision.informe" rows="7" ng-minlength="20" maxlength="3000"
                        ng-required="true"
                        ng-if="$ctrl.Supervision.esEditable('informe')">
            </c-textarea>
            <p ng-if="!$ctrl.Supervision.esEditable('informe')" style="white-space:pre-wrap" class="text-justify">{{$ctrl.supervision.informe}}</p>
          </section>
        </ng-form>
        <div class="mt-3">
          <small class="resaltado"><strong><em>La presente planilla tiene valor de declaración Jurada, por lo que si se identifica cualquier falsedad, se realizarán las acciones legales respectivas en contra de la empresa constructora infractora.</em></strong></small>
        </div>

        <section ng-if="$ctrl.supervision.observacion_proceso.mensaje">
          <h6 class="title-section error m-top">
            <i class="fa fa-exclamation-triangle"></i> Observación
          </h6>
          Mensaje: <strong>{{ $ctrl.supervision.observacion_proceso.mensaje }}</strong><br>
          Observado por: <strong>{{ $ctrl.supervision.observacion_proceso.usuario.persona | nombreUnido }}</strong>
        </section>

        <div class="row my-3 pr-3 justify-content-end">
          <button md-effect type="button" class="btn mr-3" ng-click="$ctrl.filtroItems === 'PARA_ENVIAR' ? $ctrl.filtroItems = 'TODOS' : $ctrl.filtroItems = 'PARA_ENVIAR'" ng-if="$ctrl.esEtapaEdicion">
            <i class="fa fa-eye"></i> {{ $ctrl.filtroItems === 'PARA_ENVIAR' ? 'Ver todos' : 'Ver Planilla a enviar'}}
          </button>
          <ejecutar-transicion elemento="$ctrl.supervision"
                               servicio="$ctrl.Supervision"
                               form="formSupervision"
                               atributo-estado="estado_supervision"
                               url="$ctrl.url"
                               confirmar="true"
                               metodo-previo="$ctrl.verificarPlanilla()">
          </ejecutar-transicion>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card" ng-if="$ctrl.supervision">
    <div class="card-body">
      <empresa-anterior supervision="$ctrl.supervision"></empresa-anterior>
    </div>
  </div>
</div>
