<div class="modal-header">
  <h5 class="modal-title"><i class="fa fa-search"></i> Verificación de anticipo</h5>
  <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cerrar()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Para este proyecto "<strong>{{$ctrl.supervision.proyecto.nombre}}</strong>", la empresa ha solicitado un
    <strong>anticipo del {{$ctrl.supervision.proyecto.porcentaje_anticipo}}% equivalente a {{$ctrl.supervision.proyecto.anticipo | number}} Bs.</strong> del monto del contrato. </p>
  <p>Para el pago de esta planilla requiere que se realice el descuento, elija el tipo de descuento que desea. </p>

  <p ng-if="$ctrl.supervision.supervisiones_anteriores.length > 0">
    La empresa aún adeuda <strong>{{$ctrl.deudaAnticipo | number : 2}} Bs.</strong> por concepto de anticipo.
  </p>

  <div class="alert alert-warning" ng-if="!$ctrl.puedeDescuentoTotal">
    <span>El monto total ejecutado es menor al monto del anticipo{{$ctrl.supervision.supervisiones_anteriores.length > 0 ? ' pendiente' : ''}}, por lo que el descuento será <strong>PROGRESIVO.</strong></span>
  </div>

  <div class="alert alert-warning" ng-if="!$ctrl.puedeDescuentoProgresivo && !$ctrl.esPlanillaCierre">
    <span>El monto calculado para el descuento <strong>progresivo</strong> supera la cantidad que adeuda la empresa, por lo que el descuento será por el <strong>TOTAL</strong>.</span>
  </div>

  <div class="alert alert-warning" ng-if="$ctrl.esPlanillaCierre">
    <span>La planilla actual corresponde a la <strong>planilla de cierre</strong>, por lo que el descuento debe ser por el <strong>TOTAL</strong>.</span>
  </div>
  <ng-form name="formDescuento">
    <c-radiobutton name="tipo_descuento" label="Tipo de descuento"
                   ng-model="$ctrl.supervision.tipo_descuento_anticipo"
                   options="$ctrl.tiposDescuento"
                   field="nombre"
                   ng-change="$ctrl.calcularDescuento(data)"
                   ng-required="true"
                   ng-disabled="!$ctrl.puedeDescuentoTotal || !$ctrl.puedeDescuentoProgresivo">
    </c-radiobutton>
  </ng-form>

  <p> El monto actual ejecutado es <strong>{{$ctrl.supervision.monto_total_actual_ejecutado | number : 2}} Bs.</strong> <br>
   <span ng-if="$ctrl.desembolso">El monto a descontar es <strong>{{$ctrl.desembolso.descuento | number : 2}} Bs.</strong> y el monto a desembolsar será <strong>{{$ctrl.desembolso.total | number : 2}} Bs.</strong></span> </p>
  <div class="alert alert-info">
    <span class="text-message"><strong>*</strong>&nbspDescuento de la totalidad del anticipo {{$ctrl.supervision.supervisiones_anteriores.length > 0 ? 'pendiente' : '' }} al monto total ejecutado de la planilla de avance.</span><br>
    <span class="text-message"><strong>**</strong>Descuento del porcentaje del anticipo respecto al monto total ejecutado de la planilla de avance.</span>
  </div>
</div>

<div class="modal-footer">
  <button type="button" md-effect class="btn btn-secondary" ng-click="$ctrl.cerrar()">
    <i class="fa fa-close"></i> Cancelar
  </button>
  <button type="submit" md-effect class="btn btn-primary" validar-formulario="formDescuento" ng-click="$ctrl.registrar()">
    <i class="fa fa-check"></i> Aceptar
  </button>
</div>
