<div class="container">
  <h2 class="page-title">
    <i class="fa fa-bars"></i> Proyectos pendientes
  </h2>
  <div class="card">
    <div class="card-body">

      <div class="crud-table" ng-table="$ctrl.tableParams" ng-table-columns-binding="columnas">
        <table class="table table-striped table-hover ng-table table-responsive">
          <tr ng-repeat="proyecto in $data track by proyecto.id_proyecto">
            <td data-title="'Acciones'">
              <button md-effect type="button" class="btn btn-{{acciones.md}} btn-sm" ng-repeat="acciones in $ctrl.config.acciones"
                uib-tooltip="{{acciones.tooltip}}" ng-click="acciones.metodo(proyecto)" ng-if="proyecto.estado_proyecto !== 'APROBADO'">
                <i class="fa fa-{{acciones.icon}}"></i>
              </button>
              <button md-effect type="button" class="btn btn-{{acciones.md}} btn-sm mt-1" ng-repeat="acciones in $ctrl.configSupervisiones.acciones"
                uib-tooltip="{{acciones.tooltip}}" ng-click="acciones.metodo(proyecto)"
                ng-if="proyecto.estado_proyecto === 'APROBADO' && proyecto.supervisiones && (acciones.condicion? acciones.condicion(proyecto) : true)">
                <i class="fa fa-{{acciones.icon}}"></i>
              </button>
              <lista-supervisiones proyecto="proyecto" ng-if="$ctrl.puedeVerSupervision(proyecto)"></lista-supervisiones>
              <lista-modificaciones proyecto="proyecto" ng-if="$ctrl.puedeVerModificacion(proyecto)"></lista-modificaciones>
            </td>
            <td data-title="'Código'" filter="{codigo: 'text'}" sortable="'codigo'">{{proyecto.codigo}}</td>
            <td data-title="'Nombre'" filter="{nombre: 'text'}" sortable="'nombre'">
              {{proyecto.nombre}}
              <br><strong class="resaltado" ng-if="proyecto.supervisiones.length > 0">PLANILLA: {{proyecto.supervisiones[0].nro_supervision}}</strong>
            </td>
            <td data-title="'Tipo'" filter="{tipo: 'text'}" sortable="'tipo'">{{proyecto.tipo_proyecto.nombre}}</td>
            <td data-title="'Monto total'" filter="{monto_total: 'text'}" sortable="'monto_total'">{{proyecto.monto_total | formatDecimal}}</td>
            <td data-title="'Plazo ejecución'" filter="{plazo_ejecucion: 'text'}" sortable="'plazo_ejecucion'">{{proyecto.plazo_ejecucion | formatDecimal}}</td>
            <td data-title="'Estado Proyecto'" filter="{estado_proyecto: 'text'}" sortable="'estado_proyecto'">
              {{proyecto.estado_actual.nombre}} <br>
              <span ng-if="proyecto.observacion.mensaje" class="text-danger"> {{ proyecto.observacion.mensaje }} </span>
            </td>
            <td data-title="'Estado Supervisión'" filter="{estado_proyecto: 'text'}" sortable="'estado_proyecto'">
              {{proyecto.supervisiones[0].estado_actual.nombre}} <br>
              <span ng-if="proyecto.supervisiones[0].observacion_proceso.mensaje" class="text-danger"> {{ proyecto.supervisiones[0].observacion_proceso.mensaje }} </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
