<section>
  <h6 class="title-section m-top">
    <i class="fa fa-file-text-o"></i> Boleta {{$ctrl.indice + 1}}
  </h6>
  <div class="row">
    <div class="col-md-12">
      <c-radiobutton name="tipo_documento_{{$ctrl.tipoBoleta}}_{{$ctrl.indice}}_{{$ctrl.bid}}" label="Tipo"
                     ng-model="$ctrl.model.tipo_documento"
                     options="$ctrl.tiposDocumento"
                     field="nombre"
                     horizontal="true"
                     ng-required="true && !$ctrl.modoVista"
                     ng-disabled="$ctrl.modoVista">
      </c-radiobutton>
    </div>
    <div class="md-input-group col-md-6">
      <c-input name="numero_boleta_{{$ctrl.tipoBoleta}}_{{$ctrl.indice}}_{{$ctrl.bid}}" label="Número"
               ng-model="$ctrl.model.numero"
               ng-required="true && !$ctrl.modoVista"
               ng-disabled="$ctrl.modoVista">
      </c-input>
    </div>

    <div class="md-input-group col-md-6">
      <c-input-numeric name="monto_boleta_{{$ctrl.tipoBoleta}}_{{$ctrl.indice}}_{{$ctrl.bid}}" label="Monto en (Bs)"
                       ng-model="$ctrl.model.monto"
                       ng-minvalue="0" ng-formatting="false" ng-decimals="2"
                       ng-required="true && !$ctrl.modoVista"
                       ng-disabled="$ctrl.modoVista">
      </c-input-numeric>
    </div>

    <div class="md-input-group col-md-6">
      <c-date name="fecha_inicio_validez_{{$ctrl.tipoBoleta}}_{{$ctrl.indice}}_{{$ctrl.bid}}" label="Fecha inicio de validez"
              ng-model="$ctrl.model.fecha_inicio_validez"
              ng-required="true && !$ctrl.modoVista"
              ng-disabled="$ctrl.modoVista"
              min-date="$ctrl.validaciones.fec_ini_minima"
              mensaje-min-date="{{$ctrl.validaciones.mensaje_fecminima}}"
              max-date-key="fecha_fin_validez_{{$ctrl.tipoBoleta}}_{{$ctrl.indice}}_{{$ctrl.bid}}">
      </c-date>
    </div>

    <div class="md-input-group col-md-6">
      <c-date name="fecha_fin_validez_{{$ctrl.tipoBoleta}}_{{$ctrl.indice}}_{{$ctrl.bid}}" label="Fecha fin de validez"
              ng-model="$ctrl.model.fecha_fin_validez"
              ng-required="true && !$ctrl.modoVista"
              ng-disabled="$ctrl.modoVista"
              min-date-key="fecha_inicio_validez_{{$ctrl.tipoBoleta}}_{{$ctrl.indice}}_{{$ctrl.bid}}">
      </c-date>
    </div>
  </div>
</section>
