<div class="modal-header">
  <h5 class="modal-title"><i class="fa {{$ctrl.icon}}"></i> {{$ctrl.title}}</h5>
  <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cerrar()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" style="max-height:400px;overflow:auto;">
  <div class="row">
    <div class="col-md-12">
      <ul ng-repeat="mensaje in $ctrl.mensajes">
        <li>{{mensaje.mensaje}}
          <ul ng-repeat="item in mensaje.items">
            <li>Item: <strong>{{item.item}}</strong> debe verificar el valor <strong>{{item.texto}}</strong></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" md-effect class="btn btn-primary" ng-click="$ctrl.cerrar()">
    <i class="fa fa-check"></i> Aceptar
  </button>
</div>
