<div class="container">
  <h2 class="page-title">
    <i class="fa fa-bars"></i> Mis proyectos
  </h2>
  <div class="card">
    <div class="card-body">

      <div class="btn-container d-flex flex-row">
        <button class="btn btn-{{boton.md}} boton-circular-mediano p-2" md-effect type="button"
          ng-click="$ctrl.eventoOpcion($event, boton)" uib-tooltip="{{boton.tooltip}}"
          ng-if="$ctrl.config.opciones" ng-repeat="boton in $ctrl.config.opciones">
          <i class="fa fa-{{boton.icon}}"></i>
        </button>
      </div>

      <div class="crud-table" ng-table="$ctrl.tableParams">
        <table class="table table-striped table-hover ng-table table-responsive">
          <tr ng-repeat="proyecto in $data track by proyecto.id_proyecto">
            <td data-title="''" >
              <button md-effect type="button" class="btn btn-{{boton.md}} btn-sm mt-1"
                ng-click="$ctrl.eventoOpcion($event, boton, proyecto)" uib-tooltip="{{boton.tooltip}}"
                ng-if="$ctrl.config.acciones" ng-repeat="boton in $ctrl.config.acciones">
                <i class="fa fa-{{boton.icon}}"></i>
              </button>
              <button md-effect type="button" class="btn btn-success btn-sm mt-1"
                ng-click="$ctrl.nuevaPlanilla(proyecto)" uib-tooltip="Crear Planilla"
                ng-if="proyecto.estado_proyecto === 'APROBADO' && $ctrl.esEmpresa && $ctrl.puedeCrearPlanilla(proyecto)">
                <i class="fa fa-plus"></i>
              </button>
              <lista-supervisiones proyecto="proyecto"
                ng-if="$ctrl.puedeVerSupervision(proyecto)">
              </lista-supervisiones>
              <lista-modificaciones proyecto="proyecto" ng-if="$ctrl.puedeVerModificacion(proyecto)"></lista-modificaciones>
              <button-paralizar proyecto="proyecto" ng-if="$ctrl.puedeParalizar(proyecto)"></button-paralizar>
            </td>
            <td data-title="'Código'" filter="{codigo: 'text'}" sortable="'codigo'">{{proyecto.codigo}}</td>
            <td data-title="'Nombre'" filter="{nombre: 'text'}" sortable="'nombre'">
              {{proyecto.nombre}}
              <br><strong class="resaltado" ng-if="proyecto.supervisiones.length > 0">PLANILLA: {{proyecto.supervisiones[0].nro_supervision}}</strong>
            </td>
            <td data-title="'Tipo'" filter="{tipo: 'text'}" sortable="'tipo'">{{proyecto.tipo_proyecto.nombre}}</td>
            <td data-title="'Monto total'" filter="{monto_total: 'text'}" sortable="'monto_total'">{{proyecto.monto_total | formatDecimal}}</td>
            <td data-title="'Plazo ejecución'" filter="{plazo_ejecucion: 'text'}" sortable="'plazo_ejecucion'">{{proyecto.plazo_ejecucion | formatDecimal}}</td>
            <td data-title="'Código de acceso'" filter="{codigo_acceso: 'text'}" sortable="'codigo_acceso'">{{proyecto.codigo_acceso}}</td>
            <td data-title="'Estado Proyecto'" filter="{estado_proyecto: 'text'}" sortable="'estado_proyecto'">{{proyecto.estado_actual.nombre}}</td>
            <td data-title="'Estado Supervisión'" filter="{estado_proyecto: 'text'}" sortable="'estado_proyecto'">
              {{proyecto.supervisiones[0].estado_actual.nombre}}
            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>
