<div class="row">
  <div class="md-input-group col-md-6">
    <c-input-numeric name="{{$ctrl.datos.nombrePorcentaje}}" label="Porcentaje"
      ng-model="$ctrl.porcentaje"
      ng-minvalue="0" ng-maxvalue="20" ng-formatting="false" ng-decimals="2"
      ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('porcentaje_anticipo')"
      ng-disabled="$ctrl.modoVista || $ctrl.datos.porcentajeFijo">
    </c-input-numeric>
  </div>

  <div class="md-input-group col-md-6">
    <c-input-money name="{{$ctrl.datos.nombreMonto}}" label="Monto" ng-model="$ctrl.monto"
      ng-minvalue="0"
      ng-disabled="true"></c-input-money>
  </div>
</div>

<div class="row">
  <div class="col" ng-if="$ctrl.mostrarBoletas && !$ctrl.completado && !$ctrl.modoVista">
    <button md-effect class="btn btn-success text-right" type="submit"
      ng-click="$ctrl.adicionarBoleta()">
      <i class="fa fa-plus"></i> Agregar boleta
    </button>
  </div>
  <div class="col-md-9" ng-if="$ctrl.mostrarBoletas && $ctrl.mensaje.mensaje">
    <div class="alert alert-{{$ctrl.mensaje.class}}">
      <i class="fa fa-{{$ctrl.mensaje.icono}}"></i>
      {{$ctrl.mensaje.mensaje}}, la suma de las boletas es <strong>{{$ctrl.sumaMontoBoletas | formatDecimal}}</strong>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 warning" ng-repeat="boleta in $ctrl.boletas" ng-if="($ctrl.mostrarBoletas || $ctrl.modoVista) && boleta.estado=='ACTIVO'">
    <boleta model="$ctrl.boletas[$index]" indice="$index"
            validaciones="$ctrl.validaciones"
            tipo-boleta="$ctrl.tipo"
            bid="1"
            modo-vista="$ctrl.modoVista">
    </boleta>
    <button md-effect class="btn btn-danger float-right" type="submit"
            ng-click="$ctrl.quitarBoleta($index)"
            ng-if="!$ctrl.modoVista">
      <i class="fa fa-trash-o"></i> Quitar boleta
    </button>
    <button md-effect class="btn btn-warning float-right" type="submit"
            ng-click="$ctrl.invalidarBoleta($index)"
            ng-if="$ctrl.modoVista && $ctrl.pModificar">
      <i class="fa fa-close"></i> Renovar boleta
    </button>
  </div>
</div>

<div class="row" ng-if="$ctrl.pModificar">
  <div class="col">
    <button md-effect class="btn btn-success text-right" type="submit"
      ng-click="$ctrl.adicionarBoletaEx()">
      <i class="fa fa-plus"></i> Agregar nueva boleta
    </button>
  </div>
</div>

<div class="row" ng-if="$ctrl.pModificar">
  <div class="col-md-6" ng-repeat="boleta in $ctrl.boletasEx">
    <boleta model="$ctrl.boletasEx[$index]" indice="$index"
            validaciones="$ctrl.validacionesEx"
            bid="2"
            tipo-boleta="$ctrl.tipo">
    </boleta>
    <button md-effect class="btn btn-danger float-right" type="submit"
            ng-click="$ctrl.quitarBoletaEx($index)">
      <i class="fa fa-trash-o"></i> Quitar boleta
    </button>
  </div>
  <div class="col-12" ng-if="$ctrl.boletasEx.length">
    <button md-effect class="btn btn-primary text-right" type="submit"
      ng-click="$ctrl.enviarBoletaEx()">
      <i class="fa fa-plus"></i> Guardar boletas agregadas
    </button>
  </div>
</div>