<div class="container">
  <h2 class="page-title">
    <i class="fa fa-bars"></i> {{$ctrl.proyecto.nombre}}<br>
    <small>Bandeja de planillas</small>
  </h2>
  <div class="card">
    <div class="card-body">
      <crud-table url="$ctrl.planillas.url"
                query-extra="$ctrl.planillas.queryExtra"
                data="$ctrl.planillas.data"
                fields="$ctrl.planillas.fields"
                permission="$ctrl.planillas.permission"
                event-create="$ctrl.planillas.eventCreate"
                buttons="$ctrl.planillas.buttons"
                labels="$ctrl.planillas.labels"
                fks="$ctrl.planillas.fks"
                update="$ctrl.planillas.update"
                clases="$ctrl.planillas.clases"
                ng-if="$ctrl.planillas" 
                hidden-fields="$ctrl.planillas.hiddenFields">
      </crud-table>


    </div>
</div>
