<div class="modal-header">
  <h5 class="modal-title"><i class="fa fa-user"></i> Cambiar contrase&ntilde;a</h5>
  <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <form name="form">
      <div class="row">
        <div class="col-12 alert alert-info">
          <i class="fa fa-info-circle"></i> <strong>IMPORTANTE:</strong>
          <ul class="btm-0">
            <li>Debe escribir su contraseña actual (se distingue entre mayúsculas y minúsculas).</li>
            <!-- <li>Su contraseña nueva debe tener hasta 16 caracteres.</li> -->
            <li>Luego de modificar su contraseña, se cerrará su sesión y se le redirigirá a la página de inicio automáticamente.</li>
          </ul>
        </div>
        <div class="col-sm-12">
          <c-input type="password" name="actual" label="Contraseña actual" ng-model="$ctrl.datos.actual" ng-minlength="3" ng-maxlength="16" maxlength="16" ng-required="true" uib-tooltip="Escriba la contraseña actual."></c-input>
        </div>
        <!-- div class="col-sm-6">
          <c-input type="text" name="nombre" label="Usuario" ng-model="$ctrl.datos.usuario" ng-minlength="3" ng-maxlength="32" maxlength="32" ng-required="true" uib-tooltip="Escriba su nombre de usuario." ng-validation="alfa-numerico"></c-input>
        </div -->
        <div class="col-sm-12">
          <c-input type="password" name="nueva" label="Nueva contraseña" ng-model="$ctrl.datos.nueva" ng-minlength="3" ng-maxlength="16" maxlength="16" ng-required="true" uib-tooltip="Escriba la nueva contraseña." ng-validation="alfa-numerico" ></c-input>
        </div>
        <div class="col-sm-12">
          <c-input type="password" name="confirmado" label="Repita la nueva contraseña" ng-model="$ctrl.datos.confirmado" ng-minlength="3" ng-maxlength="16" maxlength="16" ng-required="true" uib-tooltip="Vuelva a escribir la nueva contraseña." c-ui-validate="{contrasena:'$ctrl.form.confirmado.$viewValue==$ctrl.form.nueva.$modelValue'}" c-ui-validate-watch="'$ctrl.form.nueva.$modelValue'" message-error-password="Las nuevas contraseñas no son iguales. Revise por favor."></c-input>
        </div>
      </div>
    </form>
</div>
<div class="modal-footer">
  <button md-effect type="button" class="btn btn-secondary" ng-click="$ctrl.cancel()">
    <i class="fa fa-close"></i> Cerrar
  </button>
  <button md-effect type="button" class="btn btn-primary" ng-click="$ctrl.ok()" ng-disabled="$ctrl.enviando || form.$invalid">
    <i class="fa fa-check"></i> Modificar
  </button>
</div>
