<div id="items">
<button md-effect type="button" class="btn btn-success" ng-click="$ctrl.adicionarModulo()"
        ng-if="!$ctrl.modoVista">
  <i class="fa fa-plus"></i> Adicionar Módulo
</button>
<button md-effect type="button" class="btn btn-warning" ng-click="$ctrl.importarItems()"
        ng-if="!$ctrl.modoVista">
  <i class="fa fa-upload"></i> Importar Items
</button>
<button md-effect type="button" class="btn btn-warning" ng-click="$ctrl.cargarEspecificacionesTecnicas()"
        ng-if="!$ctrl.modoVista">
  <i class="fa fa-upload"></i> Cargar Especificaciones Técnicas
</button>
<button md-effect type="button" class="btn btn-info" ng-click="$ctrl.verEspecificacionesTecnicas()"
  ng-if="$ctrl.proyecto.doc_especificaciones_tecnicas">
  <i class="fa fa-file-text-o"></i> Ver Especificaciones Técnicas
</button>
<br><br>
<ng-form name="form_{{modulo.id_modulo}}" ng-repeat="(keyModulo,modulo) in $ctrl.modulos | orderBy : 'id_modulo'">
  <span md-effect class=" text-primary" ng-click="modulo.show=!modulo.show"><i class="fa fa-plus" ng-if="!modulo.show"></i><i class="fa fa-minus" ng-if="modulo.show"></i> {{modulo.nombre}}</span>
  <div class="float-right" ng-if="!$ctrl.modoVista">
    <button class="btn btn-link text-success ml-1  pl-1 pr-1" ng-click="$ctrl.guardarDatosModulo(modulo)"
    uib-tooltip="Guardar datos módulo" validar-formulario nombre-formulario="form_{{modulo.id_modulo}}">
      <i class="fa fa-save"></i>
    </button>
    <button class="btn btn-link text-success ml-1  pl-1 pr-1" ng-click="$ctrl.adicionarItem(modulo);modulo.show=true" uib-tooltip="Nuevo Item">
      <i class="fa fa-plus-square-o"></i>
    </button>
    <button class="btn btn-link text-primary ml-1 pl-1 pr-1" ng-click="$ctrl.editarModulo(modulo)" uib-tooltip="Editar">
      <i class="fa fa-edit"></i>
    </button>
    <button class="btn btn-link text-danger ml-1 pl-1 pr-1" ng-click="$ctrl.eliminarModulo(modulo)" uib-tooltip="Eliminar">
      <i class="fa fa-trash-o"></i>
    </button>
  </div>
  <hr>

    <div class="items" ng-repeat="(keyItem,item) in modulo.items | orderBy : 'nro_item' " ng-if="modulo.show">
        <div class="row">
          <div class="col-md-1 nro-item text-info">
              <strong class="mt-3"> {{item.nro_item}} </strong>
          </div>
          <div class="md-input-group col-md-4">
            <c-input name="item_nombre_{{keyItem}}" label="Nombre" ng-model="item.nombre"
            maxlength="150"
            ng-required="true" ng-disabled="!item.edicion">
            </c-input>
          </div>

          <div class="md-input-group col-md-2">
            <c-select name="item_unidad_{{keyItem}}" label="Unidad" ng-model="item.unidad_medida"
              options="$ctrl.unidades" key-value="codigo" ng-required="true" ng-disabled="!item.edicion">
            </c-select>
          </div>

          <div class="md-input-group col-md-3">
            <c-input-numeric name="item_cantidad_{{keyItem}}" label="Cantidad" ng-model="item.cantidad"
                             ng-minvalue="1" ng-maxvalue="1" ng-decimals="0"
                             ng-required="true" ng-disabled="!item.edicion" ng-if="item.unidad_medida === 'UN_GLOBAL'">
            </c-input-numeric>
            <c-input-numeric name="item_cantidad_{{keyItem}}" label="Cantidad" ng-model="item.cantidad"
                             ng-minvalue="1" ng-maxvalue="999999" ng-decimals="0"
                             ng-required="true" ng-disabled="!item.edicion" ng-if="item.unidad_medida === 'UN_PIEZA' || item.unidad_medida === 'UN_PUNTO'">
            </c-input-numeric>
            <c-input-numeric name="item_cantidad_{{keyItem}}" label="Cantidad" ng-model="item.cantidad"
                             ng-minvalue="0" ng-maxvalue="999999" ng-decimals="2"
                             ng-required="true" ng-disabled="!item.edicion" ng-if="item.unidad_medida !== 'UN_GLOBAL' && item.unidad_medida !== 'UN_PIEZA' && item.unidad_medida !== 'UN_PUNTO'">
            </c-input-numeric>
          </div>

          <div class="float-right">
            <button class="btn btn-link text-success ml-1 pl-1 pr-1"
              ng-click="!item.id_item? $ctrl.guardarItem(item, keyItem, keyModulo, modulo) : $ctrl.actualizarItem(item, keyItem, modulo)"
              ng-if="item.edicion && !$ctrl.modoVista" uib-tooltip="Guardar">
              <i class="fa fa-save"></i>
            </button>

            <button class="btn btn-link text-primary ml-1 pl-1 pr-1" ng-click="item.edicion = true"
              ng-if="!item.edicion && !$ctrl.modoVista" uib-tooltip="Editar">
              <i class="fa fa-edit"></i>
            </button>

            <button class="btn btn-link text-primary ml-1 pl-1 pr-1" ng-click="$ctrl.verEspecificacionesItem(item)"
              ng-if="!item.edicion && item.especificaciones" uib-tooltip="Ver especificaciones">
              <i class="fa fa-file-text-o"></i>
            </button>

            <button class="btn btn-link text-info ml-1 pl-1 pr-1" ng-click="$ctrl.cargarEspecificacionesItem(item)"
              ng-if="!item.edicion && !$ctrl.modoVista" uib-tooltip="Cargar especificaciones">
              <i class="fa fa-upload"></i>
            </button>

            <button class="btn btn-link text-danger ml-1 pl-1 pr-1" ng-click="$ctrl.eliminarItem(item, keyItem, modulo)"
              ng-if="!$ctrl.modoVista" uib-tooltip="Eliminar">
              <i class="fa fa-trash-o"></i>
            </button>
          </div>

        </div>
    </div>

  </ng-form>
</div>
