<div class="modal-header">
  <h5 class="modal-title"><i class="fa {{$ctrl.icon}}"></i> {{$ctrl.title}}</h5>
  <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cerrar()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ng-form name="formItem">
    <div class="row">

      <div class="md-input-group col-md-12">
        <c-input name="modulo_nombre" label="Nombre" ng-model="$ctrl.modulo.nombre"
          ng-directives="uppercase"
          ng-required="true" maxlength="150">
        </c-input>
      </div>

    </div>
  </ng-form>
</div>
<div class="modal-footer">
  <button type="button" md-effect class="btn btn-secondary" ng-click="$ctrl.cerrar()">
    <i class="fa fa-close"></i> Cancelar
  </button>
  <button type="button" md-effect class="btn btn-primary" validar-formulario="formItem"
    ng-click="!$ctrl.modulo.id_modulo? $ctrl.guardar() : $ctrl.actualizar()">
    <i class="fa" ng-class="!$ctrl.modulo.id_modulo? 'fa-check' : 'fa-save'"></i>
    {{!$ctrl.modulo.id_modulo? 'Adicionar' : 'Guardar'}}
  </button>
</div>
