<div class="container">
  <h2 class="page-title">
    <i class="fa fa-bars"></i> Proyecto <small><strong>{{$ctrl.proyecto.nombre}}</strong></small>
  </h2>
  <div class="card">
    <div class="card-body">
      <ng-form name="formProyecto">
        <uib-tabset active="active">
          <uib-tab index="0" heading="Datos Generales">
            <datos-generales proyecto="$ctrl.proyecto" ng-if="$ctrl.Proyecto.esAreaPermitida('DATOS_GENERALES')"></datos-generales>
            <proyecto-adjudicado proyecto="$ctrl.proyecto" ng-if="$ctrl.Proyecto.esAreaPermitida('PROYECTO_ADJUDICADO')"></proyecto-adjudicado>
            <codigo-contrato proyecto="$ctrl.proyecto" modo-vista="true" ng-if="$ctrl.Proyecto.esAreaPermitida('PROYECTO_ADJUDICADO')"></codigo-contrato>
            <convenio proyecto="$ctrl.proyecto" ng-if="$ctrl.Proyecto.esAreaPermitida('CONVENIO')"></convenio>
            <asignacion-responsable proyecto="$ctrl.proyecto" ng-if="$ctrl.Proyecto.esAreaPermitida('ASIGNACION_RESPONSABLE')"></asignacion-responsable>
            <desembolso proyecto="$ctrl.proyecto" ng-if="$ctrl.Proyecto.esAreaPermitida('DESEMBOLSO')"></desembolso>
            <orden-proceder proyecto="$ctrl.proyecto" ng-if="$ctrl.Proyecto.esAreaPermitida('ORDEN_PROCEDER')"></orden-proceder>
          </uib-tab>

          <uib-tab index="1" heading="MAE Beneficiarios/as" ng-if="$ctrl.Proyecto.esAreaPermitida('AUTORIDAD_BENEFICIARIA')">
            <autoridad-beneficiaria proyecto="$ctrl.proyecto" modo-vista="!$ctrl.Proyecto.esEditable('autoridad_beneficiaria')"></autoridad-beneficiaria>
          </uib-tab>

          <uib-tab index="2" heading="Módulos/Items" ng-if="$ctrl.Proyecto.esAreaPermitida('MODULOS_ITEMS')">
            <items proyecto="$ctrl.proyecto" modulos="$ctrl.modulos" modo-vista="!$ctrl.Proyecto.esEditable('modulos')"></items>
          </uib-tab>

          <uib-tab index="3" heading="DBC" ng-if="$ctrl.Proyecto.esAreaPermitida('DOCUMENTO_BASE_CONTRATACION')">
            <dbc proyecto="$ctrl.proyecto"></dbc>
          </uib-tab>

          <uib-tab index="4" heading="Formularios" ng-if="$ctrl.Proyecto.esAreaPermitida('FORMULARIOS')">
            <formularios-generados proyecto="$ctrl.proyecto"></formularios-generados>
          </uib-tab>

          <uib-tab index="5" heading="Garantías" ng-if="$ctrl.Proyecto.esAreaPermitida('GARANTIAS')">
            <garantia proyecto="$ctrl.proyecto" modo-vista="!$ctrl.Proyecto.esEditable('boletas')"></garantia>
          </uib-tab>

          <uib-tab index="6" heading="Equipo Técnico" ng-if="$ctrl.Proyecto.esAreaPermitida('EQUIPO_TECNICO')">
            <equipo-tecnico proyecto="$ctrl.proyecto" modo-vista="!$ctrl.Proyecto.esEditable('equipo_tecnico')"></equipo-tecnico>
          </uib-tab>

        </uib-tabset>
      </ng-form>

      <section ng-if="$ctrl.proyecto.observacion.mensaje">
        <h6 class="title-section error m-top">
          <i class="fa fa-exclamation-triangle"></i> Observación
        </h6>
        Mensaje: <strong>{{ $ctrl.proyecto.observacion.mensaje }}</strong><br>
        Observado por: <strong>{{ $ctrl.proyecto.observacion.usuario.persona | nombreUnido }}</strong>
      </section>
    </div>
    <div class="card-footer text-right">
      <ejecutar-transicion elemento="$ctrl.proyecto"
                           servicio="$ctrl.Proyecto"
                           form="formProyecto"
                           opcion-cancelar="true"
                           atributo-estado="estado_proyecto"
                           url="$ctrl.url"
                           confirmar="true"
                           metodo-previo="$ctrl.verificarSegunEstado()"
                           validacion-paralela=$ctrl.verificarEnParalelo()>
      </ejecutar-transicion>
    </div>
  </div>
</div>
