<div class="modal-header">
  <h5 class="modal-title"><i class="fa fa-list"></i> {{$ctrl.proyecto.nombre}}</h5>  
  <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cerrar()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <strong>Componente: {{$ctrl.proyecto.adjudicacion.referencia}} ({{$ctrl.proyecto.adjudicacion.id_adjudicacion}})</strong>
  <div class="alert alert-info" ng-if="$ctrl.existeSupervisionesEnCurso">
    <i class="fa fa-info-circle"></i>
    <span>No se pueden realizar modificaciones mientras existan supervisiones en curso de aprobación.</span>
  </div>
  <div class="alert alert-info" ng-if="$ctrl.proyecto.estado_proyecto === 'CERRADO_FDI'">
    <i class="fa fa-info-circle"></i>
    <span>No se pueden realizar modificaciones a un proyecto concluído.</span>
  </div>
  <section ng-if="$ctrl.puedeModificar">
    <div class="alert alert-secondary">
      <i class="fa fa-info-circle"></i>
      <span>Seleccione el tipo de modificación que desea realizar al proyecto.</span>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card card-modificacion" ng-mouseover="$ctrl.tipo=1">
          <div class="card-header text-center">
            <h6><strong>ORDEN<br>DE TRABAJO</strong></h6>
          </div>
          <div class="card-body text-center">
            <button md-effect type="button" class="btn btn-success" ng-click="$ctrl.abrirModificacion(1)">
              <i class="fa fa-check"></i> Seleccionar
            </button>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card-modificacion" ng-mouseover="$ctrl.tipo=2">
          <div class="card-header text-center">
            <h6><strong>ORDEN<br>DE CAMBIO</strong></h6>
          </div>
          <div class="card-body text-center">
            <button md-effect type="button" class="btn btn-success" ng-click="$ctrl.abrirModificacion(2)">
              <i class="fa fa-check"></i> Seleccionar
            </button>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card-modificacion" ng-mouseover="$ctrl.tipo=3">
          <div class="card-header text-center">
            <h6><strong>CONTRATO<br>MODIFICATORIO</strong></h6>
          </div>
          <div class="card-body text-center">
            <button md-effect type="button" class="btn btn-success" ng-click="$ctrl.abrirModificacion(3)">
              <i class="fa fa-check"></i> Seleccionar
            </button>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
    </div>

    <div class="alert alert-primary">
      <div ng-click="$ctrl.tipo=1">
        <i class="fa fa-info-circle"></i>
        <strong>Orden de trabajo</strong>
        <ul ng-if="$ctrl.tipo==1">
          <li>Modificación de cantidades (volúmenes) de los ítems.</li>
          <li>Las modificaciones realizadas no deberán incrementar o disminuir el monto contractual del proyecto.</li>
          <li>No afectará a los plazos de ejecución.</li>
        </ul>
      </div>
      <div ng-click="$ctrl.tipo=2">
        <i class="fa fa-info-circle"></i>
        <strong>Orden de cambio</strong>
        <ul ng-if="$ctrl.tipo==2">
          <li>Modificación de cantidades (volúmenes) de los ítems, misma que podrá incrementar o disminuir el monto contractual del proyecto hasta un 5%.</li>
          <li>Modificación del plazo de ejecución del proyecto (por volumen o compensación).</li>
          <li>El total de las modificaciones no deberá superar el 15% del monto contractual del proyecto.</li>
        </ul>
      </div>
      <div ng-click="$ctrl.tipo=3">
        <i class="fa fa-info-circle"></i>
        <strong>Contrato modificatorio</strong>
        <ul ng-if="$ctrl.tipo==3">
          <li>Modificación de cantidades (volúmenes) de los ítems, misma que podrá incrementar o disminuir el monto contractual del proyecto hasta un 10%.</li>
          <li>Modificación del plazo de ejecución del proyecto (por volumen o compensación).</li>
          <li>Adición de ítems.</li>
          <li>El total de las modificaciones no deberá superar el 15% del monto contractual del proyecto.</li>
        </ul>
      </div>
    </div>

    <div class="alert alert-success">
      <i class="fa fa-info-circle"></i>
      <span>* Las modificaciones solo se las podrá realizar sobre las cantidades no ejecutadas de los ítems, y no así sobre ítems cerrados físicamente.</span>
    </div>
  </section>

  <hr>
  <section ng-if="$ctrl.modificando">
    <p class="text-center"><strong>Modificaciones</strong></p>
    <div class="crud-table mt-3 table-responsive">
      <table class="table table-striped table-hover ng-table">
        <thead>
          <tr>
            <td><strong></strong></td>
            <td><strong>Tipo</strong></td>
            <td><strong>Estado</strong></td>
            <td><strong>Fecha</strong></td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="modificacion in $ctrl.modificaciones">
            <td data-title="'Acción'">
              <button md-effect type="button" class="btn btn-primary btn-noborder btn-sm mb-1" ng-if="$ctrl.verUltimaModificacion(modificacion)"
                uib-tooltip="Ver Modificacion {{modificacion.version}}" ng-click="$ctrl.irAModificacion(modificacion)">
                <i class="fa fa-eye"></i>
              </button>
              <button md-effect type="button" class="btn btn-success btn-noborder btn-sm mb-1" ng-if="modificacion.estado_adjudicacion == 'ADJUDICADO_FDI' && modificacion.version > 1"
                uib-tooltip="Ver Modificacion {{modificacion.version}}" ng-click="$ctrl.irAModificacion(modificacion)">
                <i class="fa fa-eye"></i>
              </button>
              <button md-effect type="button" class="btn btn-primary btn-noborder btn-sm mb-1" ng-if="$ctrl.verModificar(modificacion)"
                uib-tooltip="Ver Modificacion {{modificacion.version}}" ng-click="$ctrl.irAModificacion(modificacion,true)">
                <i class="fa fa-edit"></i>
              </button>
            </td>
            <td>{{modificacion.nombre}}</td>
            <td>
              {{modificacion.estado_actual.nombre}}<br>
              <span ng-if="modificacion.observacion.mensaje" class="text-danger"> {{ modificacion.observacion.mensaje }} </span>
            </td>
            <td>{{modificacion.fecha_modificacion | date : 'dd/MM/yyyy'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>

<div class="modal-footer">
  <button type="button" md-effect class="btn btn-primary" ng-click="$ctrl.cerrar()">
    <i class="fa fa-check"></i> Cerrar
  </button>
</div>
