<div class="row" style="font-size:0.9em;">
  <div class="col-md-6">
    <div class="ayuda-form-computo">
      <ul class="pl-0" ng-show="$ctrl.item.unidad_medida=='UN_GLOBAL' || $ctrl.item.unidad_medida == 'UN_PIEZA' || $ctrl.item.unidad_medida == 'UN_PUNTO'">
        <li>Los campos con <span class="th-req">(</span>) son requeridos</li>
        <li>La cantidad parcial para item <strong>{{$ctrl.item.unidad.nombre | uppercase}}</strong> será: <strong>C.P. =  Nro_de_veces </strong></li>
      </ul>
      <ul class="pl-0" ng-show="$ctrl.item.unidad_medida=='UN_METRO'">
        <li>Los campos con <span class="th-req">(</span>) son requeridos</li>
        <li> La cantidad parcial para item <strong>{{$ctrl.item.unidad.nombre | uppercase}}</strong> será: <strong>C.P. =  Nro_de_veces * largo </strong></li>
      </ul>
      <ul class="pl-0" ng-show="$ctrl.item.unidad_medida=='UN_METRO_CUAD'">
        <li>Los campos con <span class="th-req">(</span>) son requeridos</li>
        <li> El área será: <strong>Area = factor_forma * largo * alto</strong></li>
        <li> La cantidad parcial para item <strong>{{$ctrl.item.unidad.nombre | uppercase}}</strong> será: <strong>C.P. =  Nro_de_veces * area </strong></li>
      </ul>
      <ul class="pl-0" ng-show="$ctrl.item.unidad_medida=='UN_METRO_CUB'">
        <li>Los campos con <span class="th-req">(</span>) son requeridos</li>
        <li> El volumen será: <strong> Volumen = factor_forma * largo * ancho * alto</strong> </li>
        <li> La cantidad parcial para item <strong>{{$ctrl.item.unidad.nombre | uppercase}}</strong> será: <strong>C.P. =  Nro_de_veces * volumen </strong></li>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <table class="table table-striped mod-t table-responsive">
      <tbody>
        <tr>
          <th rowspan="2" class="text-center">RESUMEN</th>
          <td class="text-right">Cantidad Contractual</td>
          <td class="text-right">Cantidad Ejecutada</td>
          <td class="text-right">Cantidad Faltante</td>
        </tr>
        <tr>
          <td class="text-right">{{$ctrl.item.cantidad | number:2}}</td>
          <td class="text-right" ng-class="{'error' : $ctrl.resumen.cant_ejecutada < 0 || $ctrl.resumen.cant_ejecutada > $ctrl.item.cantidad}">
            <span uib-tooltip="{{$ctrl.resumen.cant_ejecutada < 0? 'La cantidad ejecutada no puede ser negativa' : $ctrl.resumen.cant_ejecutada > $ctrl.item.cantidad? 'La cantidad ejecutada no puede ser mayor a la cantidad contractual.' : ''}}"
            tooltip-is-open="$ctrl.resumen.cant_ejecutada < 0 || $ctrl.resumen.cant_ejecutada > $ctrl.item.cantidad"
            tooltip-enable="$ctrl.resumen.cant_ejecutada < 0 || $ctrl.resumen.cant_ejecutada > $ctrl.item.cantidad">{{$ctrl.resumen.cant_ejecutada | number:2}}</span>
          </td>
          <td class="text-right">{{$ctrl.resumen.cant_faltante | number:2}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
