<div class="container">
	<h2 class="page-title">
		<i class="fa fa-bars"></i> Reporte convenios
	</h2>
	<div class="card">
		<div class="card-body">
			<h6 class="title-section m-top">
				<i class="fa fa-filter"></i> Filtrar
			</h6>
			<form name ="resumen">
				<div class="col-md-12">
					<c-select-dpa ng-model="$ctrl.dpa" horizontal="true" ></c-select-dpa>
				</div>
				<div class="col-md-3">
					<c-select name="cartera" label="Cartera" ng-model="$ctrl.carteraSelected" options="$ctrl.carteras"  key-value="id_cartera" field="descripcion" ng-disabled="true"></c-select>
				</div>
				<div class="col-md-3">
					<button md-effect class="btn btn-outline-info" ng-click="$ctrl.buscar($ctrl.dpa,$ctrl.carteraSelected)"><i class="fa fa-search"></i> Buscar</button>
					<hr ng-if="$ctrl.datos.length">
					 <div class="alert alert-info" role="alert" ng-if="$ctrl.datos.length > 1">
						<i class="fa fa-info-circle"></i> Se han encontrado {{$ctrl.datos.length}} registros.
					</div>
				</div>
				
			</form>

		</div>
	</div>

	<div class="card" ng-if="$ctrl.datos.length">
		<div class="card-body">
			<section>
				<h6 class="title-section m-top"><i class="fa fa-table"></i></h6>
				<button class="btn btn-sm btn-danger" ng-click="$ctrl.generarPDF()" uib-tooltip="Descargar Reporte"><i class="fa fa-file-pdf-o"></i></button>
			<small>

			<table id="tabla1" class="table table-striped table-hover table-responsive">
				<thead>
					<tr><th colspan="9" class="encabezado"><center><h4 class="titulocentral">{{$ctrl.titulo}}</h4><center></th>
					<th colspan="2" class="encabezado"><center><h4 class="titulocentral" style="opacity:.2">Fuente Sispro</h4><center></th></tr>
					<tr>
						<th class="colorcabezera">Nº</th>
						<th class="colorcabezera">Nº CONVENIO</th>
						<th class="colorcabezera">NOMBRE DEL PROYECTO</th>
						<th class="colorcabezera">FECHA SUSCRIPCION</th>
						<th class="colorcabezera">FECHA INICIO</th>
						<th class="colorcabezera">PLAZO CONV.</th>
						<th class="colorcabezera">ADENDA 1</th>
						<th class="colorcabezera">ADENDA 2</th>
						<th class="colorcabezera">ADENDA 3</th>
						<th class="colorcabezera">ADENDA 4</th>
						<th class="colorcabezera">FECHA CONCLUSION</th>
						<!-- <th class="colorcabezera">ESTADO</th> -->
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="proy in $ctrl.datos">
						<td>{{$index + 1}}</td>
						<td>{{proy.convenio.nro_convenio}}</td>
						<td>{{proy.nombre}}</td>
						<td>{{proy.convenio.fecha_suscripcion | date}}</td>
						<td>{{proy.orden_proceder | date}}</td>
						<td>{{proy.plazo_ejecucion}}</td>
						<td>{{proy.convenio.plazo_convenio_ampliado}}</td>
						<td>{{proy.convenio.plazo_convenio_ampliado2}}</td>
						<td>{{proy.convenio.plazo_convenio_ampliado3}}</td>
						<td>{{proy.convenio.plazo_convenio_ampliado4}}</td>
						<td>{{proy.fconclusion | date}}</td>
						<!-- <td>{{proy.estado_proyecto}}</td> -->
					</tr>
					
				</tbody>
				<tfoot>
					<tr>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr><td class="encabezado" colspan="2">{{$ctrl.fechaRep}}</span>
					</td></tr>
				</tfoot>

			</table>
			</small>
			</section>
		</div>
	</div>
</div>