<form>
<div class="modal-header">
  <h5 class="modal-title"><i class="fa fa-plus-circle"></i> Cambiar Nro Convenio</h5>
  <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cerrar()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="md-input-group col-md-12">
    <c-input name="codigo" label="Nro Convenio" ng-model="$ctrl.proyecto.nro_convenio"></c-input>
  </div>
  <div class="col-md-12 bg-warning" ng-if="$ctrl.duplicados.length > 0">
    Proyectos con código {{$ctrl.proyecto.nro_convenio}}:
    <ul ng-class="{'bg-warning':$ctrl.duplicados}" style="font-size:10px">
      <li ng-repeat="nom in $ctrl.duplicados">{{nom}}</li>
    </ul>
  </div>
</div>

<div class="modal-footer">
  <button type="button" md-effect class="btn btn-default" ng-click="$ctrl.cerrar()">
    <i class="fa fa-close"></i> Cancelar
  </button>
  <button type="button" md-effect class="btn btn-primary" ng-click="$ctrl.corregir()">
    <i class="fa fa-check"></i> Aceptar
  </button>
</div>
</form>