.matriculas {
  .card-matricula {
    min-width: 200px;
    max-width: 250px;
    margin: 0 15px 15px 15px;
    .card-image {
      border-bottom: 1.5px solid rgba(0, 0, 0, 0.125);
      width: 100%;
      opacity: 0.9;
    }
  }

}
