<div class="container matriculas">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="card card-matricula" ng-repeat="matricula in $ctrl.matriculas">
          <img src="./images/matricula.jpg" class="card-image" alt="Matrícula de comercio">
          <div class="card-body">
            <h4><strong>{{matricula.IdMatricula}}</strong></h4>
            <span class="">{{matricula.RazonSocial}}</span>
          </div>
          <div class="card-footer pull-rigth">
            <div class="text-center">
              <button md-effect type="button" class="btn btn-primary" ng-click="$ctrl.cargarDatosMatricula(matricula)">
                <i class="fa fa-check"></i> Seleccionar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
