<section>
  <h6 class="title-section m-top"><i class="fa fa-user"></i> Asignación de Responsable</h6>
  <div class="row">
    <div class="col-md-12">
      <c-select name="usuario_asignado"
      label="Responsable de Proyecto"
      ng-model="$ctrl.usuario_asignado"
      on-select="$ctrl.seleccionado()"
      options="$ctrl.usuariosParaAsignar"
      field="nombre"
      ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('fid_usuario_asignado')"
      ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('fid_usuario_asignado')"></c-select>
    </div>
  </div>
</section>
