<div class="row">
  <div ng-class="$ctrl.horizontal? 'col-md-4' : 'col-md-12'">
    <div class="md-form-group md-select-group" md-event-label>
      <ui-select ng-if="!$ctrl.Util.isMobile.any()" name="departamento" ng-model="$ctrl.ngModel.departamento"
                 theme="bootstrap" class="md-select" spinner-enabled="true" ng-required="$ctrl.ngRequired"
                 ng-disabled="$ctrl.ngDisabled" ng-change="$ctrl.getProvincias({{$select.selected}}, true)" maxlen="10">
        <ui-select-match placeholder="Seleccione Departamento" allow-clear="!$ctrl.ngRequired" allow-clear-class>{{$select.selected.nombre}}</ui-select-match>
        <ui-select-choices repeat="item in $ctrl.departamentos | orderBy : 'nombre' | filter: $select.search">
          <span ng-bind-html="item.nombre | highlight: $select.search"></span>
        </ui-select-choices>
        <ui-select-no-choice>
          <small> Departamento no encontrado. </small>
        </ui-select-no-choice>
      </ui-select>

      <select ng-if="!!$ctrl.Util.isMobile.any()" name="departamento" ng-model="$ctrl.ngModel.departamento" ng-options="item.nombre for item in $ctrl.departamentos"
      class="select-mobile" ng-change="$ctrl.getProvincias($ctrl.ngModel.departamento, true)" ng-required="$ctrl.ngRequired" ng-disabled="$ctrl.ngDisabled || $ctrl.disabledDepto"></select>

      <label for="departamento" class="{{!!$ctrl.Util.isMobile.any()? 'label-mobile' : 'md-control-label'}}"
      ng-class="{'requerido':$ctrl.ngRequired, 'md-control-label': $ctrl.ngModel.departamento && !!$ctrl.Util.isMobile.any()}">Departamento</label>

      <i class="md-bar" ng-class="{'error':$ctrl.form.departamento.$invalid && $ctrl.form.departamento.$touched}"></i>
      <div ng-messages="$ctrl.form.departamento.$error" ap-error ng-if="$ctrl.form.departamento.$touched" role="alert">
        <div ng-message="required" ng-if="$ctrl.ngRequired"> El campo es requerido. </div>
      </div>
    </div>
  </div>

  <div ng-class="$ctrl.horizontal? 'col-md-4' : 'col-md-12'">
    <div class="md-form-group md-select-group" md-event-label>
      <ui-select ng-if="!$ctrl.Util.isMobile.any()" name="provincia" ng-model="$ctrl.ngModel.provincia" theme="bootstrap" class="md-select"
      ng-disabled="$ctrl.ngDisabled || $ctrl.disableProvincia" ng-change="$ctrl.getMunicipios({{$select.selected}}, true)" maxlen="20">
        <ui-select-match placeholder="Seleccione Provincia" allow-clear="!$ctrl.ngRequired" allow-clear-class>{{$select.selected.nombre}}</ui-select-match>
        <ui-select-choices repeat="item in $ctrl.provincias | orderBy : 'nombre' | filter: $select.search">
          <span ng-bind-html="item.nombre | highlight: $select.search"></span>
        </ui-select-choices>
        <ui-select-no-choice>
          <small> {{!$ctrl.ngModel.departamento? 'Seleccione un departamento' : 'Provincia no encontrada'}} </small>
        </ui-select-no-choice>
      </ui-select>

      <select ng-if="!!$ctrl.Util.isMobile.any()" name="provincia" ng-model="$ctrl.ngModel.provincia" ng-options="item.nombre for item in $ctrl.provincias"
      class="select-mobile" ng-change="$ctrl.getMunicipios($ctrl.ngModel.provincia, true)" ng-disabled="$ctrl.ngDisabled || $ctrl.disableProvincia"></select>

      <label for="provincia" class="{{!!$ctrl.Util.isMobile.any()? 'label-mobile' : 'md-control-label'}}"
      ng-class="{'md-control-label': $ctrl.ngModel.provincia && !!$ctrl.Util.isMobile.any()}">Provincia</label>

      <i class="md-bar" ng-class="{'error':$ctrl.form.provincia.$invalid && $ctrl.form.provincia.$touched}"></i>
      <div ng-messages="$ctrl.form.provincia.$error" ap-error ng-if="$ctrl.form.provincia.$touched" role="alert">
        <div ng-message="required" ng-if="$ctrl.ngRequired && !$ctrl.ngModel.departamento"> El campo es requerido. </div>
        <div ng-if="$ctrl.ngModel.departamento && !$ctrl.ngModel.provincia"> Debe seleccionar la Provincia. </div>
      </div>
    </div>
  </div>

  <div ng-class="$ctrl.horizontal? 'col-md-4' : 'col-md-12'">
    <div class="md-form-group md-select-group" md-event-label>
      <ui-select ng-if="!$ctrl.Util.isMobile.any()" name="municipio" on-select="$ctrl.onSelectMunicipio({item:$item})" ng-model="$ctrl.ngModel.municipio" theme="bootstrap" class="md-select"
      ng-required="$ctrl.ngRequired" ng-disabled="$ctrl.ngDisabled" ng-change="$ctrl.setMunicipio($select.selected, true)" maxlen="20">
        <ui-select-match placeholder="Seleccione Municipio" allow-clear="!$ctrl.ngRequired" allow-clear-class>{{$select.selected.nombre}}</ui-select-match>
        <ui-select-choices repeat="item in $ctrl.municipios | orderBy : 'nombre' | filter: $select.search">
          <span ng-bind-html="item.nombre | highlight: $select.search"></span>
        </ui-select-choices>
        <ui-select-no-choice>
          <small> {{!$ctrl.ngModel.provincia? 'Seleccione una provincia' : 'Provincia no encontrada'}} </small>
        </ui-select-no-choice>
      </ui-select>

      <select ng-if="!!$ctrl.Util.isMobile.any()" name="municipio" ng-model="$ctrl.ngModel.municipio" ng-options="item.nombre for item in $ctrl.municipios"
      class="select-mobile" ng-change="$ctrl.setMunicipio($ctrl.ngModel.municipio, true)" ng-required="$ctrl.ngRequired" ng-disabled="$ctrl.ngDisabled"></select>

      <label for="municipio" class="{{!!$ctrl.Util.isMobile.any()? 'label-mobile' : 'md-control-label'}}"
      ng-class="{'requerido':$ctrl.ngRequired, 'md-control-label': $ctrl.ngModel.municipio && !!$ctrl.Util.isMobile.any()}">Municipio</label>

      <i class="md-bar" ng-class="{'error':$ctrl.form.municipio.$invalid && $ctrl.form.municipio.$touched}"></i>
      <div ng-messages="$ctrl.form.municipio.$error" ap-error ng-if="$ctrl.form.municipio.$touched" role="alert">
        <div ng-message="required" ng-if="$ctrl.ngRequired && !$ctrl.ngModel.provincia"> El campo es requerido. </div>
        <div ng-if="$ctrl.ngModel.provincia && !$ctrl.ngModel.municipio"> Debe seleccionar el Municipio. </div>
      </div>
    </div>
  </div>
</div>
