<div class="container">
  <h2 class="page-title">
    <i class="fa fa-bars"></i> Configuración de Paramétricas
  </h2>
  <div class="card">
    <div class="card-body">
      <h4>INSTITUCION</h4>
      <form name="institucion">
        <table class="table table-striped">
          <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Descripción (Valor)</th>
            <th>Acciones</th>
          </tr>
          <tr ng-repeat="institucion in $ctrl.org_instituciones">
            <td>
              <c-input name="codigo{{$index}}" ng-model="institucion.codigo" ng-disabled="institucion.codigo_ant"></c-input>
            </td>
            <td>
              <c-input name="nombre{{$index}}" ng-model="institucion.nombre"></c-input>
            </td>
            <td>
              <c-input name="descripcion{{$index}}" ng-model="institucion.descripcion"></c-input>
            </td>
            <td>
              <button type="button" class="btn btn-sm" ng-class="{'btn-success':(institucion.nombre!=institucion.nombre_ant||institucion.descripcion!=institucion.descripcion_ant)}" ng-click="$ctrl.actualizar(institucion, 'ORG_INSTITUCION')"><i class="fa fa-save"></i></button>
            </td>
          </tr>
        </table>
        <!--div>
          <button type="button" class="btn btn-sm btn-primary" ng-click="$ctrl.nuevo(institucion)"><i class="fa fa-check"></i> Nuevo parámetro</button>
        </div-->
      </form>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4>PARAMETROS GENERALES</h4>
      <form name="param">
        <table class="table table-striped">
          <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Valor</th>
            <th>Acciones</th>
          </tr>
          <tr ng-repeat="param in $ctrl.configParams">
            <td>
              <c-input name="codigo{{$index}}" ng-model="param.codigo" ng-disabled="param.codigo_ant"></c-input>
            </td>
            <td>
              <c-input name="nombre{{$index}}" ng-model="param.nombre"></c-input>
            </td>
            <td>
              <c-input name="descripcion{{$index}}" ng-model="param.descripcion"></c-input>
            </td>
            <td>
              <button type="button" class="btn btn-sm" ng-class="{'btn-success':(param.nombre != param.nombre_ant || param.descripcion != param.descripcion_ant)}" ng-click="$ctrl.actualizar(param, 'CONFIG')"><i class="fa fa-save"></i></button>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
