<div class="container">
  <h2 class="page-title">
    <i class="fa fa-bars"></i> Configuracion de Paramétricas
  </h2>
  <div class="card">
    <div class="card-body">
      <h4>UNIDAD</h4>
      <form name="unidad">
        <table>
          <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Descripción</th>
          </tr>
          <tr ng-repeat="unidad in $ctrl.unidades">
            <td>
              <c-input name="codigo{{$index}}" ng-model="unidad.codigo" ng-maxlength="50" ng-disabled="unidad.codigo_ant"></c-input>
            </td>
            <td>
              <c-input name="nombre{{$index}}" ng-model="unidad.nombre"></c-input>
            </td>
            <td>
              <c-input name="descripcion{{$index}}" ng-model="unidad.descripcion"></c-input>
            </td>
            <td>
              <button type="button" class="btn btn-sm" ng-class="{'btn-success':(unidad.nombre!=unidad.nombre_ant||unidad.descripcion!=unidad.descripcion_ant)}" ng-click="$ctrl.actualizar(unidad)"><i class="fa fa-save"></i></button>
            </td>
          </tr>
        </table>
        <div>
          <button type="button" class="btn btn-sm btn-primary" ng-click="$ctrl.nuevo(unidad)"><i class="fa fa-check"></i> Nuevo parámetro</button>
        </div>
      <form>
    </div>
  </div>
</div>
