
// $colorPrimary: #1f3853;
// $colorSuccess: #0aa699;
// $colorInfo:    #0090d9;
// $colorWarning: #fbb05e;
// $colorDanger:  #f35958;
// $colorSecondary: #aaaaaa;
$colorPrimary: #69A03D;
$colorSuccess: #80BA5D;
$colorInfo:    #709943;
$colorWarning: #fbb05e;
$colorDanger:  #f35958;
$colorSecondary: #496D89;
$colorTertiary: #478566;

// $colorSidenav: $colorSecondary;
$colorSidenav: $colorPrimary;
