<div class="container">
  <h2 class="page-title">
    <i class="fa fa-bars"></i> Tabla de usuarios
  </h2>
  <div class="card">
    <div class="card-body">
      <crud-table url="$ctrl.usuarios.url"
                data="$ctrl.usuarios.data"
                fields="$ctrl.usuarios.fields"
                permission="$ctrl.usuarios.permission"
                event-create="$ctrl.usuarios.eventCreate"
                event-edit="$ctrl.usuarios.eventEdit"
                event-delete="$ctrl.usuarios.eventDelete"
                buttons="$ctrl.usuarios.buttons"
                labels="$ctrl.usuarios.labels"
                fks="$ctrl.usuarios.fks"
                update="$ctrl.usuarios.update"
                clases="$ctrl.usuarios.clases"
                ng-if="$ctrl.usuarios" 
                hidden-fields="$ctrl.usuarios.hiddenFields">
      </crud-table>
    </div>
</div>
