<section ng-init="$ctrl.initPlantilla()">
  <h6 class="title-section m-top"><i class="fa fa-file-text-o"></i> Estructura de Financiamiento</h6>
  <div class="row">
    <div class="col-md-6 col-lg-3">
      <c-input-money name="monto_fdi" label="Monto FDI*" ng-model="$ctrl.proyecto.financiamiento.monto_fdi"
      ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('monto_total')"
      ng-disabled="$ctrl.modoVista || $ctrl.proyecto.financiamiento.cuadro || !$ctrl.Proyecto.esEditable('monto_total')"
      ng-blur="$ctrl.calcularFinanciamiento()"></c-input-money>
    </div>
    <div class="col-md-6 col-lg-3">
      <c-input-money name="monto_contraparte" label="Monto Contraparte (GAM/GAIOC)" ng-model="$ctrl.proyecto.financiamiento.monto_contraparte"
      ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('monto_total')"
      ng-disabled="$ctrl.modoVista || $ctrl.proyecto.financiamiento.cuadro || !$ctrl.Proyecto.esEditable('monto_total')"
      ng-blur="$ctrl.calcularFinanciamiento()"></c-input-money>
    </div>
    <div class="col-md-6 col-lg-3">
      <c-input-money name="monto_beneficiarios" label="Monto beneficiarios" ng-model="$ctrl.proyecto.financiamiento.monto_beneficiarios"
      ng-disabled="$ctrl.modoVista || $ctrl.proyecto.financiamiento.cuadro || !$ctrl.Proyecto.esEditable('monto_total')"
      ng-blur="$ctrl.calcularFinanciamiento()"></c-input-money>
    </div>
    <div class="col-md-6 col-lg-3">
      <c-input-money name="monto_otros" label="Monto otros" ng-model="$ctrl.proyecto.financiamiento.monto_otros"
      ng-disabled="$ctrl.modoVista || $ctrl.proyecto.financiamiento.cuadro || !$ctrl.Proyecto.esEditable('monto_total')"
      ng-blur="$ctrl.calcularFinanciamiento()"></c-input-money>
    </div>
    <div class="col-md-6 col-lg-3">
      <c-input-money name="monto_total_proyecto" label="Monto total proyecto" ng-model="$ctrl.proyecto.financiamiento.monto_total_proyecto"
      ng-disabled="true" ng-init="ctrl.func1(2)"></c-input-money>
    </div>
    <div class="col-md-6 col-lg-3">
      <c-input-money name="monto_restante" label="Monto disponible según techo presupuestario" ng-model="$ctrl.techoPresupuestario.monto_restante"
      ng-if="$ctrl.techoPresupuestario" ng-disabled="true"></c-input-money>
    </div>
    <!-- ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('monto_total')" -->
  </div>
</section>

<!-- Tabla para tipo de financiamiento publico o privado -->
<section ng-if="$ctrl.proyecto.financiamiento.cuadro.tipo == 1">
  <div class="financiamiento-cuadro1 table-responsive">
    <table>
      <tr>
        <td class="titulo" rowspan="2">Costos de inversión</td>
        <td class="titulo" rowspan="2">Detalle de la inversión</td>
        <td class="titulo" rowspan="2">COSTO TOTAL (en Bs)</td>
        <td class="titulo" colspan="4">Estructura de financiamiento<br>(En Bolivianos)</td>
      </tr>
      <tr>
        <td class="titulo">FDI</td>
        <td class="titulo">GAM</td>
        <td class="titulo">BENEFICIARIOS</td>
        <td class="titulo">OTROS</td>
      </tr>
      <tr ng-repeat="(r,row) in $ctrl.proyecto.financiamiento.cuadro.datos">
        <td ng-repeat="(c,col) in row.cols" colspan="{{col.colspan}}" rowspan="{{col.rowspan}}" ng-class="col.class">
          <strong ng-bind-html="col.titulo"></strong>
          <div ng-if="col.contenido.type=='inputMoney'">
            <c-input-money name="{{col.contenido.value}}{{r}}{{c}}" ng-model="col.contenido.value"
              ng-disabled="$ctrl.modoVista || col.contenido.disabled || !$ctrl.Proyecto.esEditable('monto_total')"
              ng-click="$ctrl.limpiarCero(col, disabled=$ctrl.modoVista || col.contenido.disabled || !$ctrl.Proyecto.esEditable('monto_total'))"
              ng-blur="$ctrl.reemplazarVacio(col); $ctrl.calTotales()"
              ng-keyup="$ctrl.calTotales()"
              ng-decimals="2" icon="false">
            </c-input-money>
          </div>
          <div ng-if="!col.contenido.type" ng-bind-html="col.contenido"></div>
        </td>
      </tr>
      <tr>
        <td class="titulo" colspan="2">PORCENTAJES</td>
        <td class="titulo text-right">{{$ctrl.proyecto.financiamiento.cuadro.porcentajes.total_referencia |number:2}}</td>
        <td class="titulo text-right">{{$ctrl.proyecto.financiamiento.cuadro.porcentajes.porcentaje_fdi |number:2}}</td>
        <td class="titulo text-right">{{$ctrl.proyecto.financiamiento.cuadro.porcentajes.porcentaje_gam |number:2}}</td>
        <td class="titulo text-right">{{$ctrl.proyecto.financiamiento.cuadro.porcentajes.porcentaje_beneficiarios |number:2}}</td>
        <td class="titulo text-right">{{$ctrl.proyecto.financiamiento.cuadro.porcentajes.porcentaje_otros |number:2}}</td>
      </tr>
      <tr>
        <td class="titulo" colspan="2">TOTAL</td>
        <td class="titulo text-right">{{$ctrl.proyecto.financiamiento.cuadro.totales.costo_total |number:2}}</td>
        <td class="titulo text-right">{{$ctrl.proyecto.financiamiento.cuadro.totales.fdi |number:2}}</td>
        <td class="titulo text-right">{{$ctrl.proyecto.financiamiento.cuadro.totales.gam |number:2}}</td>
        <td class="titulo text-right">{{$ctrl.proyecto.financiamiento.cuadro.totales.beneficiarios |number:2}}</td>
        <td class="titulo text-right">{{$ctrl.proyecto.financiamiento.cuadro.totales.otros |number:2}}</td>
      </tr>
    </table>
  </div>
  <br>
  <div class="alert alert-info">
    <i class="fa fa-info-circle"></i>
    <span>NOTA: El aporte de la comunidad en especie se menciona en el convenio intergubernativo pero no se inscribe presupuestariamente</span>
  </div>
  <div class="row">
    <div class="col-md-12">
      <c-textarea name="observacion-cuadro-financiamiento" label="Introducir el detalle del aporte del beneficiario" ng-model="$ctrl.proyecto.financiamiento.cuadro.observacion" ng-required="false" ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('monto_total')"></c-textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <c-select name="plazo_tiempo_administrativo" label="Plazo Administrativo" ng-model="$ctrl.proyecto.financiamiento.plazo_tiempo_administrativo"
      options="$ctrl.opciones_plazo_administrativo"
      ng-required="true"
      ng-disabled= "$ctrl.modoVista || !$ctrl.Proyecto.esEditable('plazo_tiempo_administrativo')"
      ></c-select>
    </div>
  </div>
</section>

<!-- Tabla para tipo de financiamiento mixto -->
<section ng-if="$ctrl.proyecto.financiamiento.cuadro.tipo == 2">
  <div class="financiamiento-cuadro1 table-responsive">
    <table>
      <tr>
        <td class="titulo" rowspan="3">Costos de inversión</td>
        <td class="titulo" rowspan="3">Detalle de la inversión</td>
        <td ng-if="$ctrl.proyecto.cartera !== 1 && $ctrl.proyecto.cartera !== 2 && $ctrl.proyecto.cartera !== 3" class="titulo" rowspan="3">COSTO TOTAL (en Bs)</td>
        <td class="titulo" colspan="8">ESTRUCTURA DE FINANCIAMIENTO<br>(En Bolivianos)</td>
      </tr>
      <tr>
        <td class="titulo" rowspan="2">FDI</td>
        <td class="titulo" rowspan="2">GAM</td>
        <td class="titulo" rowspan="2">BENEFICIARIOS</td>
        <td class="titulo" rowspan="2">OTROS</td>
        <td class="titulo" colspan="2">FDI</td>
        <td class="titulo" colspan="2">GAM</td>
      </tr>
      <tr>
        <td class="titulo">PÚBLICO</td>
        <td class="titulo">PRIVADO</td>
        <td class="titulo">PÚBLICO</td>
        <td class="titulo">PRIVADO</td>
      </tr>
      <tr ng-repeat="(r,row) in $ctrl.proyecto.financiamiento.cuadro.datos">
        <td ng-repeat="(c,col) in row.cols" colspan="{{col.colspan}}" rowspan="{{col.rowspan}}" ng-class="col.class">
          <strong ng-bind-html="col.titulo"></strong>
          <div ng-if="col.contenido.type=='inputMoney'">
            <c-input-money name="{{col.contenido.value}}" ng-model="col.contenido.value"
              ng-disabled="$ctrl.modoVista || col.contenido.disabled || !$ctrl.Proyecto.esEditable('monto_total')"
              ng-click="$ctrl.limpiarCero(col, disabled=$ctrl.modoVista || col.contenido.disabled || !$ctrl.Proyecto.esEditable('monto_total'))"
              ng-blur="$ctrl.reemplazarVacio(col); $ctrl.calTotales()"
              ng-decimals="2" icon="false">
            </c-input-money>
          </div>
          <div ng-if="!col.contenido.type" ng-bind-html="col.contenido"></div>
        </td>
      </tr>
      <tr>
        <td class="titulo" colspan="2">SUBTOTALES</td>
        <td ng-if="$ctrl.proyecto.cartera !== 1 && $ctrl.proyecto.cartera !== 2 && $ctrl.proyecto.cartera !== 3" class="titulo text-right">{{$ctrl.proyecto.financiamiento.cuadro.totales.costo_total |number:2}}</td>
        <td class="titulo text-right">{{$ctrl.proyecto.financiamiento.cuadro.totales.fdi |number:2}}</td>
        <td class="titulo text-right">{{$ctrl.proyecto.financiamiento.cuadro.totales.gam |number:2}}</td>
        <td class="titulo text-right">{{$ctrl.proyecto.financiamiento.cuadro.totales.beneficiarios |number:2}}</td>
        <td class="titulo text-right">{{$ctrl.proyecto.financiamiento.cuadro.totales.otros |number:2}}</td>
        <td class="titulo text-right">{{$ctrl.proyecto.financiamiento.cuadro.totales.publico |number:2}}</td>
        <td class="titulo text-right">{{$ctrl.proyecto.financiamiento.cuadro.totales.privado |number:2}}</td>
        <td class="titulo text-right">{{$ctrl.proyecto.financiamiento.cuadro.totales.gampublico |number:2}}</td>
        <td class="titulo text-right">{{$ctrl.proyecto.financiamiento.cuadro.totales.gamprivado |number:2}}</td>
      </tr>
      <tr>
        <td class="titulo" colspan="2">PORCENTAJES</td>
        <td  ng-if="$ctrl.proyecto.cartera !== 1 && $ctrl.proyecto.cartera !== 2 && $ctrl.proyecto.cartera !== 3" class="titulo text-right">{{$ctrl.proyecto.financiamiento.cuadro.porcentajes.total_referencia |number:2}}</td>
        <td class="titulo text-right">{{$ctrl.proyecto.financiamiento.cuadro.porcentajes.porcentaje_fdi |number:2}}</td>
        <td class="titulo text-right">{{$ctrl.proyecto.financiamiento.cuadro.porcentajes.porcentaje_gam |number:2}}</td>
        <td class="titulo text-right">{{$ctrl.proyecto.financiamiento.cuadro.porcentajes.porcentaje_beneficiarios |number:2}}</td>
        <td class="titulo text-right">{{$ctrl.proyecto.financiamiento.cuadro.porcentajes.porcentaje_otros |number:2}}</td>
        <td class="titulo text-right">{{$ctrl.proyecto.financiamiento.cuadro.porcentajes.porcentaje_fdi_publico |number:2}}</td>
        <td class="titulo text-right">{{$ctrl.proyecto.financiamiento.cuadro.porcentajes.porcentaje_fdi_privado |number:2}}</td>
        <td class="titulo text-right">{{$ctrl.proyecto.financiamiento.cuadro.porcentajes.porcentaje_gam_publico |number:2}}</td>
        <td class="titulo text-right">{{$ctrl.proyecto.financiamiento.cuadro.porcentajes.porcentaje_gam_privado |number:2}}</td>
      </tr>
      <tr>
        <td class="titulo" colspan="2">TOTALES</td>
        <td class="titulo text-right" colspan="5">{{$ctrl.proyecto.financiamiento.cuadro.totales.costo_total |number:2}}</td>
        <td class="titulo text-right" colspan="2">{{$ctrl.proyecto.financiamiento.cuadro.totales.fdi_pp |number:2}}</td>
        <td class="titulo text-right" colspan="2">{{$ctrl.proyecto.financiamiento.cuadro.totales.gam_pp |number:2}}</td>
      </tr>
      <!--<tr>
        <td class="titulo" colspan="2">TOTALES</td>
        <td class="titulo text-right" colspan="2">{{$ctrl.proyecto.financiamiento.cuadro.totales.fdi_gam |number:2}}</td>
        <td class="titulo text-right">{{$ctrl.proyecto.financiamiento.cuadro.totales.beneficiarios |number:2}}</td>
        <td class="titulo text-right">{{$ctrl.proyecto.financiamiento.cuadro.totales.otros |number:2}}</td>
        <td class="titulo text-right" colspan="2">{{$ctrl.proyecto.financiamiento.cuadro.totales.fdi_pp |number:2}}</td>
      </tr>-->
    </table>
  </div><br>
  <div class="row">
    <div class="col-md-12">
      <c-textarea name="observacion-cuadro-financiamiento" label="Introducir el detalle del aporte del beneficiario" ng-model="$ctrl.proyecto.financiamiento.cuadro.observacion" ng-required="false" ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('monto_total')"></c-textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <c-select name="plazo_tiempo_administrativo" label="Plazo Administrativo" ng-model="$ctrl.proyecto.financiamiento.plazo_tiempo_administrativo"
      options="$ctrl.opciones_plazo_administrativo"
      ng-required="true"
      ng-disabled= "$ctrl.modoVista || !$ctrl.Proyecto.esEditable('plazo_tiempo_administrativo')"></c-select>
    </div>
  </div>
</section>
<style>
.financiamiento-cuadro1 table {
  width: 100%;
}
.financiamiento-cuadro1 table td {
  border: 1px solid #000;
  padding-left: 4px;
  padding-right: 4px;
}
.financiamiento-cuadro1 table td.titulo {
  font-weight: bold;
  text-align: center;
}

.financiamiento-cuadro1 .input-group button{
  margin-left: -22px !important;
}
.financiamiento-cuadro1 .md-form-group {
  margin-top: 2px;
  margin-bottom: 2px;
}
</style>
