<div class="modal-header">
  <h5 class="modal-title"><i class="fa fa-plus-circle"></i>
    {{$ctrl.miembro.tipo_equipo != 'TE_UPRE' && !$ctrl.miembro.id_equipo_tecnico ? 'Registro' : $ctrl.modoEdicion ? 'Edición del' : ''}} Integrante del Equipo Técnico
  </h5>
  <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cerrar()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ng-form name="formMiembro">
    <documento-identidad ng-model="$ctrl.miembro" modo-vista="$ctrl.miembro.tipo_equipo == 'TE_UPRE' || !$ctrl.modoEdicion"></documento-identidad>

    <div class="row">
      <div class="md-input-group col-md-6">
        <c-input name="celular_miembro" label="Celular" ng-model="$ctrl.miembro.telefono"
        ng-validation="celular" ng-directives="numeric" maxlength="8"
        ng-required="true" ng-disabled="$ctrl.miembro.tipo_equipo == 'TE_UPRE' || !$ctrl.modoEdicion"></c-input>
      </div>

      <div class="md-input-group col-md-6">
        <c-input name="correo_miembro" label="Correo Electrónico" ng-model="$ctrl.miembro.correo"
        ng-validation="correo" ng-required="true" ng-disabled="$ctrl.miembro.tipo_equipo == 'TE_UPRE' || !$ctrl.modoEdicion"></c-input>
      </div>

      <div class="col-md-6">
        <c-select name="cargo" label="Cargo" ng-model="$ctrl.miembro.cargo"
        options="$ctrl.cargos" key-value="codigo" ng-required="true"
        on-select="$ctrl.verificarSiEsSupervisor()" ng-disabled="$ctrl.miembro.tipo_equipo == 'TE_UPRE' || !$ctrl.modoEdicion"></c-select>
      </div>

      <div class="col-md-6" ng-if="$ctrl.miembro.tipo_equipo != 'TE_UPRE'">
        <archivo name="doc_designacion" label="Documento de Designación"
                ng-model="$ctrl.miembro.doc_designacion"
                types="pdf" mime-types=".pdf" maxsize="3MB"
                url="{{$ctrl.archivo.url}}"
                url-descarga="{{$ctrl.archivo.urlDescarga}}"
                ver="false"
                modo-vista="!$ctrl.modoEdicion">
        </archivo>
      </div>
    </div>
  </ng-form>
</div>

<div class="modal-footer">
  <button type="button" md-effect class="btn btn-primary" ng-click="$ctrl.cerrar()" ng-if="$ctrl.miembro.tipo_equipo == 'TE_UPRE' || $ctrl.modoVista">
    <i class="fa fa-check"></i> Aceptar
  </button>
  <button type="button" md-effect class="btn btn-secondary" ng-click="$ctrl.cerrar()" ng-if="$ctrl.miembro.tipo_equipo != 'TE_UPRE' && !$ctrl.modoVista">
    <i class="fa fa-close"></i> Cancelar
  </button>
  <button type="submit" md-effect class="btn btn-primary" ng-click="$ctrl.registrar()" validar-formulario="formMiembro"
  ng-if="$ctrl.modoEdicion && $ctrl.miembro.tipo_equipo != 'TE_UPRE' && !$ctrl.modoVista">
    <i class="fa fa-check"></i> {{$ctrl.miembro.id_equipo_tecnico ? 'Actualizar' : 'Registrar'}}
  </button>
  <button type="submit" md-effect class="btn btn-primary" ng-click="$ctrl.modoEdicion=true"
  ng-if="$ctrl.miembro.id_equipo_tecnico && !$ctrl.modoEdicion && $ctrl.miembro.tipo_equipo != 'TE_UPRE' && !$ctrl.modoVista">
    <i class="fa fa-edit"></i> Editar
  </button>
</div>
