<section>
  <h6 class="title-section m-top">
    <i class="fa fa-hand-o-right"></i> Plazo de recepción definitiva
  </h6>

  <!-- <div class="alert alert-info" ng-if="$ctrl.Proyecto.esEditable('orden_proceder')">
    <i class="fa fa-info-circle"></i><span> Al introducir la fecha de orden de proceder se inicia el tiempo de ejecución del proyecto.</span>
  </div> -->

  <div class="row">
    <div class="md-input-group col-md-6">
      <c-input name="plazo_recepcion_definitiva" label="Plazo de recepción definitiva [días]" ng-model="$ctrl.proyecto.plazo_recepcion_definitiva"
        ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('plazo_recepcion_definitiva')"
        ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('plazo_recepcion_definitiva')"
        ng-blur="$ctrl.validarPlazo()">
      </c-input>
    </div>
  </div>
</section>
