<div class="modal-header">
    <h5 class="modal-title" style="word-break:break-all;word-wrap:break-word;"><i class="fa fa-paperclip"></i>
      {{$ctrl.title}}
    </h5>
    <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
  <div class="row" ng-if="true">
    <div class="col">
      <image-viewer id="1" base64="$ctrl.image.base64" height="300" vm="$ctrl.$ivScope"></image-viewer>
      <!-- <hr>
      <img id="preview_imagen" ng-if="$ctrl.informe.tipo!='application/pdf'" ng-src="{{$ctrl.getBase64Image()}}" width="100%" alt="Fotografía del informe"/> -->
    </div>
  </div>
</div>
<div class="modal-footer">
    <button md-effect type="button" class="btn btn-warning" ng-click="$ctrl.descargarImg()">
      <i class="fa fa-download"></i> Descargar
    </button>
    <button md-effect type="button" class="btn btn-success" ng-click="$ctrl.imprimirImg()"
    ng-if="!$ctrl.Util.isMobile.any() && !$ctrl.Util.isIEoEdge()">
      <i class="fa fa-print"></i> Imprimir
    </button>
    <button md-effect type="button" class="btn btn-primary" ng-click="$ctrl.save()">
        <i class="fa fa-check"></i> Aceptar
    </button>
</div>
