<div class="container">
  <h2 class="page-title" ui-sref="admin-estados">
    <i class="fa fa-reply"></i>
    <small>Volver</small>
  </h2>
  <div class="card">
    <ng-form name="estadoForm">
      <div class="card-body">
        <h4>Datos de estado</h4>
        <div class="row">
          <div class="col-sm-6">
            <c-input name="nombre" label="Nombre" ng-model="$ctrl.estado.nombre"
              ng-minlength="3" maxlength="150"
              ng-required="true"></c-input>
          </div>
        </div>
        <br>        
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4">
            <label>Áreas</label>
            <div style="width: 100%; height: 400px;">
              <!--<angular-jsoneditor options="$ctrl.jsoneditorOptions" json="$ctrl.estado.acciones"></angular-jsoneditor>-->
              <angular-jsoneditor ng-model="$ctrl.estado.areas" options="$ctrl.jsoneditorOptions"></angular-jsoneditor>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <label>Atributos</label>
            <div style="width: 100%; height: 400px;">
              <angular-jsoneditor ng-model="$ctrl.estado.atributos" options="$ctrl.jsoneditorOptions"></angular-jsoneditor>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <label>Atributos detalle</label>
            <div style="width: 100%; height: 400px;">
              <angular-jsoneditor ng-model="$ctrl.estado.atributos_detalle" options="$ctrl.jsoneditorOptions"></angular-jsoneditor>
            </div>
          </div>
        </div>
        
      </div>
    </ng-form>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <button md-effect type="button" class="btn btn-info" ng-click="$ctrl.guardarDatos()">
            <i class="fa fa-save"></i> Guardar datos
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
