<div class="container px-3 planilla-proy">
  <h2 class="page-title">
    <i class="fa fa-bars"></i> Proyecto <small><strong>{{$ctrl.proyecto.nombre}}</strong></small>
  </h2>
  <div class="card">
    <div class="card-body">
      <div class="row mx-0">
        <div style="font-size: 20px;" uib-tooltip="Volver atrás" ng-click="$ctrl.irAtras()">
          <i class="fa fa-reply"></i>
        </div>
      </div>
      <h4 class="text-center" ng-if="$ctrl.proyecto.empresa.nombre"><strong>{{$ctrl.proyecto.empresa.nombre}}</strong></h4>
      <h4 class="text-center" ng-if="$ctrl.supervision.adjudicacion.referencia"><strong>{{$ctrl.supervision.adjudicacion.referencia}}</strong></h4>
      <h3 class="text-center">
        Planilla de avance de obra Nro. {{$ctrl.supervision.nro_supervision}}
      </h3>
      <div class="texto">
        <p class="text-center">Del {{$ctrl.supervision.fecha_inicio | date : 'dd/MM/yyyy'}} al {{!$ctrl.supervision.fecha_fin ? '-' : $ctrl.supervision.fecha_fin | date : 'dd/MM/yyyy'}} <br>
          <span class="resaltado" ng-if="$ctrl.supervision.monto_total_por_ejecutar === 0">Planilla de cierre</span>
        </p>
        <section>
          <a href="">
            <h6 class="title-section m-top" ng-click="$ctrl.datosProyectoIsCollapsed = !$ctrl.datosProyectoIsCollapsed">
              <i class="fa fa-hand-o-right"></i> Datos del proyecto
            </h6>
          </a>
          <div uib-collapse="$ctrl.datosProyectoIsCollapsed">
            <div class="row">
              <div class="col-md-4 text-left">
                <table class="table mod-t mod-t-b mb-0">
                  <tbody>
                    <tr> <th class="text-right">Nombre:</th> <td>{{$ctrl.proyecto.nombre}}</td> </tr>
                    <tr> <th class="text-right">Departamento:</th> <td>{{$ctrl.proyecto.dpa.departamento.nombre}}</td> </tr>
                    <tr> <th class="text-right">Provincia:</th> <td>{{$ctrl.proyecto.dpa.provincia.nombre}}</td> </tr>
                    <tr> <th class="text-right">Municipio:</th> <td>{{$ctrl.proyecto.dpa.municipio.nombre}}</td> </tr>
                    <tr><th class="text-right">Beneficiario:</th> <td>{{$ctrl.proyecto.entidad_beneficiaria}}</td> </tr>
                    <tr><th class="text-right">Fecha de orden de proceder:<br>(Según convenio)</th> <td>{{$ctrl.proyecto.orden_proceder | date: 'dd/MM/yyyy'}}</td> </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-4">
                <table class="table mod-t mod-t-b mb-0">
                  <tbody>
                    <tr ng-if="$ctrl.supervision.adjudicacion.monto_inicial"> <th class="text-right">Monto Adjudicación:</th> <td class="text-right">{{$ctrl.supervision.adjudicacion.monto_inicial| number:2}}</td> </tr>
                    <tr ng-repeat="modificacion in $ctrl.supervision.modificaciones">
                      <th class="text-right">Modificación {{$index + 1}} ({{modificacion.tipo_modificacion_adjudicacion.nombre}}):</th> <td class="text-right">{{modificacion.monto | number:2}}</td>
                    </tr>
                    <tr ng-if="$ctrl.supervision.adjudicacion.monto != $ctrl.proyecto.monto_contractual && $ctrl.supervision.adjudicacion.version > 1">
                      <th class="text-right">Modificación {{$ctrl.supervision.modificaciones.length + 1}} ({{$ctrl.supervision.adjudicacion.tipo_modificacion_adjudicacion.nombre}}):</th> <td class="text-right">{{$ctrl.supervision.adjudicacion.monto | number:2}}</td>
                    </tr>
                    <tr ng-if="$ctrl.supervision.adjudicacion && $ctrl.supervision.adjudicacion.monto != $ctrl.proyecto.monto_contractual && $ctrl.supervision.adjudicacion.version > 1"> <th class="text-right">Monto Total con Modificaciones:</th> <td class="text-right">{{$ctrl.supervision.adjudicacion.monto | number:2}}</td> </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-4">
                <table class="table mod-t mod-t-b mb-0">
                  <tbody>
                    <tr> <th class="text-right">Fecha inicio de obras:</th> <td>{{$ctrl.supervision.adjudicacion.orden_proceder | date : 'dd/MM/yyyy'}}</td> </tr>
                    <tr> <th class="text-right">Plazo de Ejecución <br>(Según convenio)</th> <td>{{$ctrl.proyecto.plazo_ejecucion}}</td> </tr>
                    <tr> <th class="text-right">Ampliación de Plazo</th> <td>{{$ctrl.supervision.adjudicacion.plazo_ampliacion.por_volumenes+$ctrl.supervision.adjudicacion.plazo_ampliacion.por_compensacion || 0}}</td> </tr>
                    <tr> <th class="text-right">Fecha prevista p/Recepción Provisional</th> <td>{{($ctrl.proyecto.fecha_recepcion_provisional) | date : 'dd/MM/yyyy'}}</td> </tr>
                    <tr> <th class="text-right">Fecha prevista p/Recepción definitiva </th> <td>{{($ctrl.proyecto.fecha_recepcion_definitiva) | date : 'dd/MM/yyyy'}}</td> </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>
      </div>

      <section>
        <h6 class="title-section m-top">
          <i class="fa fa-list"></i> Items del proyecto
        </h6>
        <div class="row">
          <div class="col-md-6">
            <div class="alert alert-info">
              <i class="fa fa-info-circle"></i>
              <span>Puede hacer doble click a un item para <strong>{{$ctrl.esEditable? 'realizar' : 'revisar'}} su cómputo métrico</strong>.</span>
            </div>
          </div>
          <div class="col-md-6" ng-if="$ctrl.proyecto.doc_especificaciones_tecnicas">
            <button md-effect type="button" class="btn btn-info" download-file="{{$ctrl.urlDescEspTecnicas}}" file-name="Especificaciones técnicas"
              uib-tooltip="Especificaciones técnicas" tooltip-placement="bottom">
              <i class="fa fa-file-text-o"></i> E. Técnicas
            </button>
            <button md-effect type="button" class="btn btn-info" download-file="{{$ctrl.urlDescPlanilla}}" file-name="Planilla de avance nro {{$ctrl.supervision.nro_supervision}}"
              uib-tooltip="Planilla de avance nro {{$ctrl.supervision.nro_supervision}}" tooltip-placement="bottom" ng-if="$ctrl.supervision.version_adjudicacion || $ctrl.esTecnico()">
              <i class="fa fa-file-text-o"></i> Planilla
            </button>
            <button md-effect type="button" class="btn btn-info" download-file="{{$ctrl.urlDescComputosResumen}}" file-name="Resúmen de cómputos métricos de la planilla"
              uib-tooltip="Resúmen de cómputos métricos de la planilla" tooltip-placement="bottom" ng-if="$ctrl.supervision.version_adjudicacion">
              <i class="fa fa-table"></i> Cómputos
            </button>
          </div>
        </div>

        <div class="row mt-2 mb-2">
          <div class="col-lg-6 col-md-12 mb-2">
            <div class="btn-group opciones">
              <label class="btn btn-success" btn-checkbox ng-model="$ctrl.filtroItems" uib-btn-radio="'TODOS'">Todos</label>
              <label class="btn btn-success" ng-model="$ctrl.filtroItems" uib-btn-radio="'COMPLETADOS'">Completados</label>
              <label class="btn btn-success" ng-model="$ctrl.filtroItems" uib-btn-radio="'INCOMPLETOS'">Por completar</label>
              <label class="btn btn-success" ng-model="$ctrl.filtroItems" uib-btn-radio="'PARA_ENVIAR'">Planilla</label>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 mt-2">
            <label class="custom-control custom-checkbox">
              <span class="custom-control-indicator success"></span><span>Completado</span>
            </label>
            <label class="custom-control custom-checkbox">
              <span class="custom-control-indicator secondary"></span><span>Con avance</span>
            </label>
            <label class="custom-control custom-checkbox">
              <span class="custom-control-indicator danger"></span><span>Sin avance</span>
            </label>
            <label class="custom-control custom-checkbox">
              <span class="custom-control-indicator warning"></span><span>Con avance en anterior(es) planilla(s)</span>
            </label>
          </div>
        </div>

        <div ng-repeat="modulo in $ctrl.supervision.modulos" ng-show="modulo.show" class="texto">
          <div class="my-1 mod-h" ng-click="modulo.isCollapsed = !modulo.isCollapsed">
            <span uib-tooltip="Click para ocultar/mostrar sus items" tooltip-placement="right">
              <strong>Módulo:</strong> {{modulo.nombre}}
            </span>
          </div>
          <hr class="mt-2 mb-1">
          <div class="table-responsive">
            <div uib-collapse="modulo.isCollapsed">
              <table class="table table-striped mod-t text-right" style="width:{{1820+$ctrl.supervision.adjudicacion.adjudicacion_historico.length*270}}px;max-width:none">
                <thead>
                  <tr>
                    <th rowspan="2" title="Nro de item" style="width:50px">Nro</th>
                    <th rowspan="2" class="text-left" style="width:350px">Descripción</th>
                    <th rowspan="2" title="Unidad" style="width:70px">Unid.</th>
                    <th colspan="4" class="text-center" style="width:270px"
                        ng-if="$ctrl.supervision.version_adjudicacion === null || version.version <= $ctrl.supervision.version_adjudicacion"
                        ng-repeat="version in $ctrl.supervision.adjudicacion.adjudicacion_historico">
                        {{version.version === 1 ? 'Contrato Original' : version.tipo_modificacion_adjudicacion.nombre+' '+version.tipo_modificacion_adjudicacion.numero}}
                      </th>
                    <th colspan="4" class="text-center" style="width:270px"
                        ng-if="$ctrl.supervision.version_adjudicacion === null || $ctrl.supervision.adjudicacion.version <= $ctrl.supervision.version_adjudicacion">
                        {{$ctrl.supervision.adjudicacion.version === 1 ? 'Contrato Original' : $ctrl.supervision.adjudicacion.tipo_modificacion_adjudicacion.nombre+' '+$ctrl.supervision.adjudicacion.tipo_modificacion_adjudicacion.numero}}
                      </th>
                    <th colspan="4" class="text-center" style="width:360px">Volumenes de avance</th>
                    <th colspan="4" class="text-center" style="width:360px">Avance financiero</th>
                    <th rowspan="2" title="% Ejecutado Físico" style="width:90px">% E.Fis.</th>
                    <th rowspan="2" title="% Ejecutar" style="width:90px">% E.</th>
                    <th rowspan="2" title="% Ejecutado Financiero" style="width:90px">% E.Fin.</th>
                    <th rowspan="2" title="% Ejecutar" style="width:90px">% E.</th>
                  </tr>
                  <tr>
                    <th ng-repeat-start="version in modulo.items[0].item_historico" style="width:90px"
                        ng-if="$ctrl.supervision.version_adjudicacion === null || version.version < $ctrl.supervision.version_adjudicacion">Cant.</th>
                    <th style="width:90px"
                        ng-if="$ctrl.supervision.version_adjudicacion === null || version.version < $ctrl.supervision.version_adjudicacion">P.U.</th>
                    <th style="width:40px"
                        ng-if="$ctrl.supervision.version_adjudicacion === null || version.version < $ctrl.supervision.version_adjudicacion">A.F.</th>
                    <th ng-repeat-end style="width:90px"
                        ng-if="$ctrl.supervision.version_adjudicacion === null || version.version < $ctrl.supervision.version_adjudicacion">Total</th>
                    <th title="Cantidad" style="width:90px">Cant.</th>
                    <th title="Precio Unitario" style="width:90px">P.U.</th>
                    <th title="Con avance físico" style="width:40px">A.F.</th>
                    <th style="width:90px">Total(Bs)</th>
                    <th style="width:90px">Anterior</th>
                    <th style="width:90px">Actual</th>
                    <th title="Total Acumulado" style="width:90px">T.A.</th>
                    <th title="Falta ejecutar" style="width:90px">F.E.</th>
                    <th style="width:90px">Anterior</th>
                    <th style="width:90px">Actual</th>
                    <th title="Total Acumulado" style="width:90px">T.A.</th>
                    <th title="Falta ejecutar" style="width:90px">F.E.</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-dblclick="$ctrl.mostrarComputo(item)" ng-repeat="item in modulo.items" ng-show="item.show"
                  ng-class="[{'observado': (item.falta_ejecutar_fis === 0 && item.falta_ejecutar_fin !== 0) || (item.ejecutar_porcentaje_fis === 0  && item.falta_ejecutar_fis > 0) || item.regularizar}]">
                    <td ng-class="$ctrl.getMgColor(item)" title="{{$ctrl.getTitle(item)}}">{{item.nro_item}}</td>
                    <td class="text-left">
                      {{item.nombre}}
                      <button md-effect class="btn btn-info btn-sm right" uib-tooltip="Reporte de Cómputos métricos"
                        ng-if="$ctrl.supervision.version_adjudicacion && item.cantidad_actual_fis > 0"
                        download-file="{{$ctrl.urlDescComputosItem + item.nro_item + '_' + $ctrl.supervision.nro_supervision + '/descargar'}}"
                        file-name="Computos metricos item nro {{item.nro_item}}">
                        <i class="fa fa-table"></i>
                      </button>
                    </td>
                    <td>{{$ctrl.unidades_obj[item.unidad_medida].nombre}}</td>
                    <td ng-repeat-start="version in item.item_historico"
                        ng-if="$ctrl.supervision.version_adjudicacion === null || version.version < $ctrl.supervision.version_adjudicacion"
                        ng-class="[{'text-info font-weight-bold modificado':version.modificado}, $ctrl.getTipoClass(version.modificacion)]">{{version.cantidad | number:2}}</td>
                    <td ng-class="$ctrl.getTipoClass(version.modificacion)"
                        ng-if="$ctrl.supervision.version_adjudicacion === null || version.version < $ctrl.supervision.version_adjudicacion">{{version.precio_unitario | number:2}}</td>
                    <td ng-class="$ctrl.getTipoClass(version.modificacion)"
                        ng-if="$ctrl.supervision.version_adjudicacion === null || version.version < $ctrl.supervision.version_adjudicacion">{{version.peso_ponderado | number:0}}</td>
                    <td ng-repeat-end ng-class="[{'text-info font-weight-bold':version.modificado}, $ctrl.getTipoClass(version.modificacion)]"
                        ng-if="$ctrl.supervision.version_adjudicacion === null || version.version < $ctrl.supervision.version_adjudicacion">{{version.total | number:2}}</td>
                    <td ng-class="[{'text-info font-weight-bold modificado':item.modificado},$ctrl.getTipoClass($ctrl.proyecto.tipo_modificacion)]">{{item.cantidad | number:2}}</td>
                    <td ng-class="$ctrl.getTipoClass($ctrl.proyecto.tipo_modificacion)">{{item.precio_unitario | number:2}}</td>
                    <td ng-class="$ctrl.getTipoClass($ctrl.proyecto.tipo_modificacion)">{{item.peso_ponderado | number:0}}</td>
                    <td ng-class="[{'text-info font-weight-bold':item.modificado, 'warning': item.variacion},$ctrl.getTipoClass($ctrl.proyecto.tipo_modificacion)]">{{item.total | number:2}}</td>
                    <td>{{item.cantidad_anterior_fis | number:2}}</td>
                    <td>{{item.cantidad_actual_fis | number:2}}</td>
                    <td>{{item.total_acumulado_fis | number:2}}</td>
                    <td ng-class="{'warning' : item.falta_ejecutar_fis < 0}">{{item.falta_ejecutar_fis | number:2}}</td>
                    <td ng-class="{'warning' : item.variacion}">{{item.cantidad_anterior_fin | number:2}}</td>
                    <td ng-class="{'warning' : item.variacion}">{{item.cantidad_actual_fin | number:2}}</td>
                    <td ng-class="{'warning' : item.variacion}">{{item.total_acumulado_fin | number:2}}</td>
                    <td ng-class="{'warning' : item.falta_ejecutar_fin < 0 || item.variacion}">{{item.falta_ejecutar_fin | number:2}}</td>
                    <td>{{item.ejecutado_porcentaje_fis | number:2}}</td>
                    <td>{{item.ejecutar_porcentaje_fis | number:2}}</td>
                    <td>{{item.ejecutado_porcentaje_fin | number:2}}</td>
                    <td>{{item.ejecutar_porcentaje_fin | number:2}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
      <div class="alert alert-warning" ng-if="$ctrl.itemsNoCerrados.length > 0">
        <i class="fa fa-warning"></i>
        <span ng-if="$ctrl.itemsNoCerrados.length === 1"><strong>El item resaltado</strong> tiene</span>
        <span ng-if="$ctrl.itemsNoCerrados.length > 1"><strong>Los items resaltados</strong> tienen</span>
        <span>concluido el avance físico, sin embargo la parte financiera no ha cerrado o {{$ctrl.itemsNoCerrados.length > 1? 'tienen' : 'tiene'}}
          concluído el porcentaje de avance físico sin embargo aún hay una cantidad faltante por ejecutar. Este detalle será revisado por personal del FDI.</span>
      </div>
      <!-- Mensaje de advertencia por variacion de decimales  -->
      <div class="alert alert-warning" ng-if="$ctrl.itemsVariacion.length > 0">
        <i class="fa fa-warning"></i>
        <span>Los items resaltados tienen variacion de decimales que fueron regularizados en la etapa de registro de los modulos e items mediante la opcion regularizar</span>
      </div>
      <br>
      <div class="fs-sm">
        <div class="row">
          <div class="col-md-6 text-left">
            <table class="table mod-t mod-t-b mb-0">
              <tbody>
                <tr>
                  <th>Monto actual ejecutado (R):</th>
                  <td>{{$ctrl.supervision.monto_total_actual_ejecutado | number:2}} Bs</td>
                </tr>
                <tr>
                  <th>Porcentaje fisico total ejecutado (por avance items):</th>
                  <!-- <td>{{$ctrl.supervision.porcentaje_avance_fis | number:2}}%</td>--> 
                  <td>{{$ctrl.supervision.avance_fisico_ponderado | number:2}}%</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <table class="table mod-t mod-t-b mb-0">
              <tbody>
                <tr>
                  <th>Monto ejecutado acumulado a la fecha:</th>
                  <td>{{$ctrl.supervision.monto_total_acumulado | number:2}} Bs</td>
                </tr>
                <tr>
                  <th>Monto total por ejecutar:</th>
                  <td>{{$ctrl.supervision.monto_total_por_ejecutar | number:2}} Bs</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="mt-4 texto">
        <div class="row">
          <div class="col-md-6 text-left">
            <!--
            <table class="table mod-t mod-t-b mb-0">
              <tbody>
                <tr>
                  <th class="mot-t-sin-b" colspan="3">II. VERIFICACIÓN DE BOLETAS DE GARANTÍA </th>
                </tr>
                <tr>
                  <th>Descripción</th>
                  <th>Tipo</th>
                  <th>Fecha de vencimiento</th>
                </tr>
                <tr ng-repeat="boleta in $ctrl.boletasAnticipo">
                  <td rowspan="{{$ctrl.boletasAnticipo.length}}" ng-hide="$index>0">Buena inversión del Anticipo</td>
                  <td>{{ boleta.tipo_documento == 'POLIZA' ? 'Póliza' :'Boleta' }}</td>
                  <td>{{ boleta.fecha_fin_validez | date : 'dd/MM/yyyy' }}</td>
                </tr>
                <tr ng-repeat="boleta in $ctrl.boletasCcontrato">
                  <td rowspan="{{$ctrl.boletasCcontrato.length}}" ng-hide="$index>0">Cumplimiento de Contrato</td>
                  <td>{{ boleta.tipo_documento == 'POLIZA' ? 'Póliza' :'Boleta' }}</td>
                  <td>{{ boleta.fecha_fin_validez | date : 'dd/MM/yyyy' }}</td>
                </tr>
              </tbody>
            </table>
            -->
            <table class="table mod-t mod-t-b mb-0">
              <tbody>
                <tr>
                  <th>Monto total del componente adjudicado (P)</th>
                  <td> {{$ctrl.supervision.adjudicacion.monto_inicial| number:2}}</td> 
                </tr>
                
                <tr>
                  <th>Anticipo ( S = P * <input type="number" ng-model="$ctrl.supervision.anticipo" min= "0" max="20"  ng-keyup="$ctrl.calcularAnticipos($ctrl.supervision.adjudicacion.monto_inicial,$ctrl.supervision.monto_total_actual_ejecutado);"  ng-blur="$ctrl.mensajeGuardado()" ng-disabled= "$ctrl.esSupervisor() || $ctrl.supervision.estado_supervision != 'REGISTRO_PLANILLA_FDI'">%  )</th>
                  <td>{{$ctrl.anticipo20 | number:2}}</td>
                </tr>
                <tr>
                  <th>Descuento Por Anticipo (T = S *  <input type="number" ng-model="$ctrl.supervision.dpanticipo" min= "0" max="100"  ng-keyup="$ctrl.calcularAnticipos($ctrl.supervision.adjudicacion.monto_inicial,$ctrl.supervision.monto_total_actual_ejecutado);"  ng-blur="$ctrl.mensajeGuardado()" ng-disabled= "$ctrl.esSupervisor() || $ctrl.supervision.estado_supervision != 'REGISTRO_PLANILLA_FDI'"> %) </th>
                  <td>{{$ctrl.descuentoAnticipo | number:2}}</td>
                </tr>
                <tr>
                  <th>
                    <input type="checkbox" ng-model="$ctrl.supervision.retencion" ng-change="$ctrl.calcularAnticipos($ctrl.supervision.adjudicacion.monto_inicial,$ctrl.supervision.monto_total_actual_ejecutado);" ng-disabled= "$ctrl.esSupervisor() || $ctrl.supervision.estado_supervision != 'REGISTRO_PLANILLA_FDI'">
                      Retencion del 7 % (Y = R *  7%)
                    
                    <input type="button" name="guardarRetencion" ng-click="$ctrl.mensajeGuardado();" value="ok">
                  </th>
                  <td>{{$ctrl.retension | number:2}}</td>
                </tr>
                <tr>
                  <th>Liquido pagable actual (X = R - T - Y)</th>
                  <td>{{$ctrl.liquidoPagable | number:2}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <table class="table mod-t mod-t-b mb-0">
              <tbody>
                <tr>
                  <th class="mot-t-sin-b" colspan="3">II. INFORME TÉCNICO DE CONCLUSIONES </th>
                </tr>
                <tr>
                  <th>Avance Físico (en base al monto total del componente adjudicado)</th>
                  <td>{{$ctrl.supervision.porcentaje_avance_fis | number:2}}%</td>
                </tr>
                <tr>
                  <th>Avance Financiero</th>
                  <td>{{$ctrl.supervision.porcentaje_avance_fin | number:2}}%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <section ng-if="$ctrl.Supervision.esAreaPermitida('DEUDA_ANTICIPO') && $ctrl.tieneDeudas">
          <h6 class="title-section m-top"> <i class="fa fa-money"></i> Descuento por anticipo </h6>
          <p> La empresa solicitó un anticipo de <strong>{{$ctrl.proyecto.anticipo | number : 2}} Bs.</strong>
            equivalente al {{$ctrl.proyecto.porcentaje_anticipo}}% del monto del contrato ({{$ctrl.proyecto.monto_total | number : 2}} Bs.).</p>

          <p ng-if="$ctrl.supervision.supervisiones_anteriores.length > 0"> A la fecha la empresa adeuda <strong>{{$ctrl.deudaAnticipo | number :2}} Bs.</strong> por concepto de anticipo pendiente. </p>

          <p> La empresa solicitó el descuento <strong>{{$ctrl.supervision.tipo_descuento_anticipo}}</strong> por concepto de anticipo,
            mismo que es equivalente a {{$ctrl.desembolso.descuento | number : 2}} Bs.
            y el monto a desembolsar será <strong>{{$ctrl.desembolso.total | number : 2}} Bs.</strong> para la actual planilla. </p>
        </section>

        <section ng-if="$ctrl.Supervision.esAreaPermitida('FOTOGRAFIAS')">
          <h6 class="title-section m-top"> <i class="fa fa-photo"></i> Fotografías de la supervisión </h6>
          <div class="alert alert-info" ng-if="$ctrl.supervision.fotos_supervision.length === 0">
            <i class="fa fa-info-circle"></i>
            <span>Debe sacar fotografías al avance del proyecto con la aplicación móvil.</span>
          </div>
          <fotos-supervision fotos="$ctrl.supervision.fotos_supervision" supervision="$ctrl.supervision" ng-if="$ctrl.supervision.fotos_supervision.length > 0"></fotos-supervision>
          <div class="alert alert-info" ng-if="$ctrl.supervision.nro_supervision === 1">
            <i class="fa fa-exclamation-circle"></i>
            <strong>¡ADVERTENCIA!</strong><br>
            <span>* El usuario supervisor para el envío de las planillas de avance deberá tomar las fotos de supervisión utilizando la aplicación móvil, siendo que se validará la Georeferenciación de estas con respecto a la ubicación del centroide del Municipio, por lo que para esta y las siguientes planillas no le permitirá tomar fotos de una ubicación diferente.</span>
            <br><span>* Puede verificar la ubicación haciendo click en el botón <i class="fa fa-map-marker"></i> de cada foto.</span>
          </div>
        </section>

        <ng-form name="formSupervision">
          <section ng-if="$ctrl.Supervision.esAreaPermitida('INFORME')">
            <h6 class="title-section m-top">
              <i class="fa fa-file-text"></i> Informe técnico de conclusiones
            </h6>
            <c-textarea label="Breve informe narrativo acerca de la situación del proyecto:"
                        name="observacion" ng-model="$ctrl.supervision.informe" rows="7" ng-minlength="20" maxlength="3000"
                        ng-if="$ctrl.Supervision.esEditable('informe') || $ctrl.esTecnico()" ng-disabled="$ctrl.esTecnico()">
            </c-textarea>
            <!-- ng-required="true" -->
            <p ng-if="!$ctrl.Supervision.esEditable('informe')" style="white-space:pre-wrap" class="text-justify">{{$ctrl.supervision.informe}}</p>
          </section>

          <section ng-if="$ctrl.Supervision.esAreaPermitida('INFORME')">
            <h6 class="title-section m-top">
              <i class="fa fa-user"></i> Mano de obra
            </h6>
            <div class="col-sm-12 col-md-6">
              <c-input-numeric name="mano_obra_calificada"
                              label="Mano de obra calificada"
                              ng-model="$ctrl.supervision.mano_obra_calificada"
                              ng-disabled="!$ctrl.Supervision.esEditable('informe')"
                              ng-decimals="0"
                              ng-minvalue="0"
                              ng-maxvalue="999999999999"
                              ng-not-number="0"
                              ng-number-default="0"
                              >
              </c-input-numeric>
              <c-input-numeric name="mano_obra_no_calificada"
                              label="Mano de obra no calificada"
                              ng-model="$ctrl.supervision.mano_obra_no_calificada"
                              ng-disabled="!$ctrl.Supervision.esEditable('informe')"
                              ng-decimals="0"
                              ng-minvalue="0"
                              ng-maxvalue="999999999999"
                              ng-not-number="0"
                              ng-number-default="0"
                              >
              </c-input-numeric>
            </div>
          </section>
        </ng-form>
        <div class="mt-3">
          <small class="resaltado"><strong><em>La presente planilla tiene valor de declaración Jurada, por lo que si se identifica cualquier falsedad, se realizarán las acciones legales respectivas en contra de la empresa constructora infractora.</em></strong></small>
        </div>

        <ng-form name="formSupervision">
        <section ng-if="$ctrl.permitirVerAreaComprobante()">
          <h6 class="title-section m-top"> <i class="fa fa-hand-o-right"></i> Comprobante de Pago </h6>
          <div class="row">
            <div class="col-md-12 col-lg-6">
              <div class="row">
                <div class="md-input-group col-md-6">
                  <c-date name="fecha_suscripcion_con" label="Fecha de Pago" ng-model="$ctrl.supervision.fecha_pago"
                  min-date-key="$ctrl.supervision.fecha_creacion" mensaje-min-date="La fecha de pago no debe ser menor a la fecha de la planilla"
                  ng-required="true"
                  ng-disabled="$ctrl.supervision.estado_supervision != 'EN_FISCAL_FDI' "></c-date>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-6">
              <archivo name="doc_comprobante" label="Comprobante" ng-model="$ctrl.supervision.path_comprobante"
                      types="pdf" mime-types=".pdf" maxsize="3MB"
                      url="{{$ctrl.archivos.urlDocComprobantePago}}"
                      url-descarga="{{$ctrl.archivos.urlDocComprobantePagoDescarga}}"
                      cambiar="$ctrl.supervision.estado_supervision == 'EN_FISCAL_FDI'"
                      modo-vista="$ctrl.supervision.estado_supervision != 'EN_FISCAL_FDI'">
              </archivo>
            </div>
          </div>
        </section>
        </ng-form>

        <section ng-if="$ctrl.supervision.observacion_proceso.mensaje">
          <h6 class="title-section error m-top">
            <i class="fa fa-exclamation-triangle"></i> Observación
          </h6>
          Mensaje: <strong>{{ $ctrl.supervision.observacion_proceso.mensaje }}</strong><br>
          Observado por: <strong>{{ $ctrl.supervision.observacion_proceso.usuario.persona | nombreUnido }}</strong>
        </section>

        <div class="row my-3 pr-3 justify-content-end">
          <button md-effect type="button" class="btn mr-3" ng-click="$ctrl.filtroItems === 'PARA_ENVIAR' ? $ctrl.filtroItems = 'TODOS' : $ctrl.filtroItems = 'PARA_ENVIAR'" ng-if="$ctrl.esEtapaEdicion">
            <i class="fa fa-eye"></i> {{ $ctrl.filtroItems === 'PARA_ENVIAR' ? 'Ver todo' : 'Ver Planilla a enviar'}}
          </button>
          <ejecutar-transicion elemento="$ctrl.supervision"
                               servicio="$ctrl.Supervision"
                               form="formSupervision"
                               atributo-estado="estado_supervision"
                               url="$ctrl.url"
                               confirmar="true"
                               metodo-previo="$ctrl.verificarPlanilla()">
          </ejecutar-transicion>
        </div>
      </div>
    </div>
  </div>
  <!--
  <br>
  <div class="card" ng-if="$ctrl.supervision">
    <div class="card-body">
      <empresa-anterior supervision="$ctrl.supervision"></empresa-anterior>
    </div>
  </div>
  -->
</div>
