<section>
  <h6 class="title-section m-top">
    <i class="fa fa-hand-o-right"></i> Orden de Proceder
  </h6>

  <div class="alert alert-info" ng-if="$ctrl.Proyecto.esEditable('orden_proceder')">
    <i class="fa fa-info-circle"></i><span> Al introducir la fecha de orden de proceder se inicia el tiempo de ejecución del proyecto.</span>
  </div>

  <div class="row">
    <div class="md-input-group col-md-6">
      <c-date name="orden_proceder" label="Fecha de orden de proceder"
              ng-model="$ctrl.proyecto.orden_proceder"
              ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('orden_proceder')"
              ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('orden_proceder')"
              min-date="$ctrl.validacion.fecha_minima"
              mensaje-min-date="{{$ctrl.validacion.mensaje_fecminima}}">
      </c-date>
    </div>

  </div>
</section>
