<div class="row">
  <div class="md-input-group col-md-12">
    <c-input name="proyecto" label="Poyecto" ng-model="$ctrl.proyecto.nombre" ng-disabled="true"></c-input>
  </div>
  <div class="md-input-group col-md-6">
    <c-input name="codigo" label="Código" ng-model="$ctrl.proyecto.codigo" ng-disabled="true"></c-input>
  </div>
  <div class="md-input-group col-md-6">
    <c-input name="tipo" label="Tipo" ng-model="$ctrl.proyecto.tipo" ng-disabled="true"></c-input>
  </div>
  <div class="md-input-group col-md-6">
    <c-input name="nro_convenio" label="Número de Convenio" ng-model="$ctrl.proyecto.nro_convenio" ng-disabled="true"></c-input>
  </div>
  <div class="md-input-group col-md-6">
    <c-date name="fecha_convenio" label="Fecha del Convenio" ng-model="$ctrl.proyecto.fecha_suscripcion_convenio" ng-disabled="true"></c-date>
  </div>
  <div class="md-input-group col-md-6" ng-if="$ctrl.proyecto.estado_proyecto === 'REGISTRO_EMPRESA'">
    <c-input-numeric name="monto_total_convenio" label="Monto total de convenio" ng-model="$ctrl.proyecto.monto_total_convenio" ng-disabled="true"></c-input-numeric>
  </div>
  <div class="md-input-group col-md-6" ng-if="$ctrl.proyecto.estado_proyecto === 'REGISTRO_EMPRESA'">
    <c-input name="plazo_ejecucion_convenio" label="Plazo de ejecución de convenio (días calendario)" ng-model="$ctrl.proyecto.plazo_ejecucion_convenio" ng-disabled="true"></c-input>
  </div>
  <div class="md-input-group col-md-6" ng-if="$ctrl.proyecto.estado_proyecto !== 'REGISTRO_EMPRESA'">
    <c-input-money name="monto_total_contrato" label="Monto total" ng-model="$ctrl.proyecto.monto_total"
    ng-disabled="true"></c-input-money>
  </div>
  <div class="md-input-group col-md-6" ng-if="$ctrl.proyecto.estado_proyecto !== 'REGISTRO_EMPRESA'">
    <c-input-numeric name="plazo_ejecucion_contrato" label="Plazo de ejecución (días calendario)" ng-model="$ctrl.proyecto.plazo_ejecucion"
    ng-disabled="true"></c-input-numeric>
  </div>

</div>
