<div class="modal-header">
  <h5 class="modal-title"><i class="fa fa-plus-circle"></i> Nuevo Proyecto</h5>
  <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cerrar()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ng-form name="formProyecto">
    <datos-generales proyecto="$ctrl.proyecto" ng-if="$ctrl.conEstados"></datos-generales>
    <convenio proyecto="$ctrl.proyecto" ng-if="$ctrl.conEstados"></convenio>
  </ng-form>
</div>

<div class="modal-footer">
  <button type="button" md-effect class="btn btn-secondary" ng-click="$ctrl.cerrar()">
    <i class="fa fa-close"></i> Cancelar
  </button>
  <button type="submit" md-effect class="btn btn-primary" validar-formulario="formProyecto" ng-click="$ctrl.guardarDatos()">
    <i class="fa fa-check"></i> Guardar y enviar
  </button>
</div>
