<div class="container">
  <h2 class="page-title">
    <i class="fa fa-bars"></i> Mis proyectos
  </h2>
  <div class="card">
    <div class="card-body">

      <div class="btn-container d-flex flex-row">
        <button class="btn btn-{{boton.md}} boton-circular-mediano p-2" md-effect type="button"
          ng-click="$ctrl.eventoOpcion($event, boton)" uib-tooltip="{{boton.tooltip}}"
          ng-if="$ctrl.config.opciones" ng-repeat="boton in $ctrl.config.opciones">
          <i class="fa fa-{{boton.icon}}"></i>
        </button>
      </div>

      <div class="crud-table" ng-table="$ctrl.tableParams">
        <table class="table table-striped table-hover ng-table table-responsive">
          <tr ng-repeat="proyecto in $data track by proyecto.id_proyecto">
            <td data-title="''" >
              <button md-effect type="button" class="btn btn-{{boton.md}} btn-sm mt-1"
                ng-click="$ctrl.eventoOpcion($event, boton, proyecto)" uib-tooltip="{{boton.tooltip}}"
                ng-if="$ctrl.config.acciones" ng-repeat="boton in $ctrl.config.acciones">
                <i class="fa fa-{{boton.icon}}"></i>
              </button>

              <button md-effect type="button" class="btn btn-primary btn-sm mt-1"
                ng-click="$ctrl.verUsuarios(proyecto)" uib-tooltip="Usuarios" ng-if="$ctrl.Usuarios.esJefeRevision()">
                <i class="fa fa-user"></i>
              </button>
              <!--button md-effect type="button" class="btn btn-success btn-sm mt-1"
                ng-click="$ctrl.nuevaPlanilla(proyecto)" uib-tooltip="Crear Planilla"
                ng-if="(proyecto.estado_proyecto === 'APROBADO_FDI' || proyecto.estado_proyecto === 'EN_EJECUCION_FDI') && $ctrl.esSupervisor && $ctrl.puedeCrearPlanilla(proyecto)">
                <i class="fa fa-plus"></i>
              </button-->
              <button md-effect type="button" class="btn btn-success btn-sm mt-1" ng-if="$ctrl.puedeVerConsolidado(proyecto)" uib-tooltip="Planilla Consolidada" download-file="{{$ctrl.urlPlanillaConsolidada(proyecto)}}"  file-name="Planilla Consolidada">
                <i class="fa fa-list-alt"></i>
              </button>
              <lista-supervisiones proyecto="proyecto" ng-if="$ctrl.puedeVerSupervision(proyecto)"></lista-supervisiones>

              <button md-effect type="button" class="btn btn-success btn-sm mt-1"
                ng-click="$ctrl.irAModificaciones(proyecto)" uib-tooltip="Modificaciones"
                ng-if="$ctrl.puedeVerModificaciones(proyecto)">
                <i class="fa fa-medium"></i>
              </button>
              <!--lista-modificaciones proyecto="proyecto" ng-if="$ctrl.puedeVerModificacion(proyecto)"></lista-modificaciones-->
              <button-paralizar proyecto="proyecto" ng-if="$ctrl.puedeParalizar(proyecto)"></button-paralizar>
              <button md-effect type="button" class="btn btn-success btn-sm mt-1"
                ng-click="$ctrl.fdiCrearProyectoModificado(proyecto)" uib-tooltip="Modificar Proyecto"
                ng-if="proyecto.estado_proyecto === 'RECHAZADO_FDI' && $ctrl.puedeReferenciarProyecto(proyecto)">
                <i class="fa fa-share-square"></i>
              </button>
            </td>
            <td data-title="'Código'" filter="{nro_convenio: 'text'}" sortable="'nro_convenio'">{{proyecto.nro_convenio}}</td>
            <!-- <td data-title="'Referencia'" filter="{'beneficiarios.referencia': 'text'}" sortable="'beneficiarios.referencia'">{{proyecto.beneficiarios.referencia}}</td> -->
            <!-- <td data-title="'Referencia'">{{proyecto.beneficiarios.referencia}}</td> -->
            <td data-title="'Cartera'" filter="{cartera: 'text'}">{{proyecto.cartera}}</td>
            <td data-title="'Nombre'" filter="{nombre: 'text'}" sortable="'nombre'">{{proyecto.nombre}}</td>
            <!-- <td data-title="'Tipo'" filter="{tipo: 'text'}" sortable="'tipo'">{{proyecto.tipo_proyecto.nombre}}</td> -->
            <td data-title="'Monto total'" filter="{monto_total: 'text'}" sortable="'monto_total'">{{proyecto.monto_total | formatDecimal}}</td>
            <td data-title="'Departamento'" filter="{'departamento.nombre': 'text'}">{{proyecto.municipio.provincia.departamento.nombre}}</td>
            <td data-title="'Municipio'" filter="{'municipio.nombre': 'text'}">{{proyecto.municipio.nombre}}</td>
            <td data-title="'Plazo ejecución'" filter="{plazo_ejecucion: 'text'}" sortable="'plazo_ejecucion'">{{proyecto.plazo_ejecucion | formatDecimal}}</td>
            <!-- <td data-title="'Código de acceso'" filter="{codigo_acceso: 'text'}" sortable="'codigo_acceso'">{{proyecto.codigo_acceso}}</td> -->
            <td data-title="'Estado Proyecto'" filter="{estado_proyecto: 'text'}" sortable="'estado_proyecto'">{{proyecto.estado_actual.nombre}}</td>
            <td data-title="'Estado Supervisión'" filter="{'supervisiones.estado_actual.nombre': 'text'}" sortable="'supervisiones.estado_actual.nombre'">
              <div ng-repeat="supervision in proyecto.supervisiones">
                <div ng-if="supervision.estado_actual.codigo!=='EN_ARCHIVO_FDI'">
                  <strong class="resaltado">PLANILLA: {{supervision.nro_supervision}}</strong><br>
                  {{supervision.estado_actual.nombre}} <br>
                  <span ng-if="supervision.observacion_proceso.mensaje" class="text-danger"> {{ supervision.observacion_proceso.mensaje }} </span>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>
