<div class="modal-header">
  <h5 class="modal-title"><i class="fa fa-eye"></i> {{$ctrl.proyecto.nombre}}</h5>
  <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cerrar()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ng-form name="formProyecto">
    <uib-tabset active="active">
      <uib-tab index="0" heading="Datos Generales">
        <reg-datos-generales proyecto="$ctrl.proyecto"></reg-datos-generales>                
      </uib-tab>
      <uib-tab index="1" heading="Comunidades" ng-if="$ctrl.tieneRegistro()">
        <reg-datos-generales-extra-resumen proyecto="$ctrl.proyecto"></reg-datos-generales-extra-resumen>
      </uib-tab>
      <uib-tab index="2" heading="Financiamiento">
        <reg-financiamiento proyecto="$ctrl.proyecto"></reg-financiamiento>
      </uib-tab>
      <uib-tab index="3" heading="Evaluación" ng-if="$ctrl.tieneRegistro()">
        <reg-evaluacion proyecto="$ctrl.proyecto" modo-vista="!$ctrl.Proyecto.esEditable('autoridad_beneficiaria')" ng-if="active==3"></reg-evaluacion>
      </uib-tab>
      <uib-tab index="4" heading="Informe" ng-if="$ctrl.tieneRegistro()">
        <reg-informe-eval proyecto="$ctrl.proyecto" modo-vista="!$ctrl.Proyecto.esEditable('autoridad_beneficiaria')" ng-if="active==4"></reg-informe-eval>
      </uib-tab>
      <uib-tab index="5" heading="Convenio" ng-if="$ctrl.tieneConvenio()">
        <reg-convenio proyecto="$ctrl.proyecto" ng-if="active == 5"></reg-convenio>
      </uib-tab>
      <uib-tab index="6" heading="Desembolso" ng-if="$ctrl.tieneDesembolso()">
        <reg-desembolso proyecto="$ctrl.proyecto" ng-if="active==6"></reg-desembolso>
      </uib-tab>

    </uib-tabset>
  </ng-form>
</div>

<div class="modal-footer">
  <button type="button" md-effect class="btn btn-secondary" ng-click="$ctrl.cerrar()">
    <i class="fa fa-close"></i> Cerrar
  </button>
</div>
