@import '../../../../common/styles/sass/_variables.scss';

#presupuesto-items {
  .input-precio {
    .md-form-group {
      margin: 0;
      min-width: 120px;
      align-items: flex-end;
    }
  }

  .monto {
    text-align: right;

  }
  tbody > tr {
    &.observado {
      background-color: lighten($colorSecondary, 40%);
    }
    &.completado {
      background-color: lighten($colorSuccess, 40%);
    }
    &.avanzado {
      background-color: lighten($colorInfo, 70%);
    }
  }
}
