<div class="alert alert-info">
  <i class="fa fa-info-circle"></i>
  <span ng-if="!$ctrl.proyecto.monto_total_ejecutado">El monto total no debe sobrepasar al monto definido en el convenio <strong>{{$ctrl.proyecto.monto_total_convenio | formatDecimal}}</strong>
  (<strong><em>{{$ctrl.proyecto.monto_total_convenio | numberToLiteral}}</em></strong>)</span>
  <span ng-if="$ctrl.proyecto.monto_total_ejecutado">El monto total no debe sobrepasar al monto total restante <strong>{{$ctrl.proyecto.monto_total_actual-$ctrl.proyecto.monto_total_ejecutado | formatDecimal}}</strong>
  (<strong><em>{{$ctrl.proyecto.monto_total_actual-$ctrl.proyecto.monto_total_ejecutado | numberToLiteral}}</em></strong>)</span>
</div>
<div class="crud-table table-responsive" id="presupuesto-items">
  <table class="table table-striped table-hover ng-table">
    <thead>
      <tr>
        <td>Nro</td>
        <td>Desripción</td>
        <td>Unidad</td>
        <td>Cantidad</td>
        <td>Precios Unitarios</td>
        <td>Literal</td>
        <td>Total</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in $ctrl.proyecto.items | orderBy : 'nro_item'" ng-if="item.estado!='CERRADO'&&item.cantidad>0" ng-class="{'observado':item.estado=='CERRADO'||item.cantidad==0}">
        <td>{{item.nro_item}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.unidad.nombre}}</td>
        <td class="monto">{{item.cantidad}}</td>
        <td class="warning">
          <ng-form name="itemPrecio">
            <c-input-numeric name="precio" ng-model="item.precio_unitario" class="input-precio monto"
                             ng-minvalue="0.10" ng-disabled="item.estado=='CERRADO'"
                             ng-blur="$ctrl.registrarPrecioItem(item)">
          </c-input-numeric>
          <ng-form>
        </td>
        <td>{{item.precio_unitario | numberToLiteral}}</td>
        <td class="monto">{{item.precio_unitario? item.cantidad * item.precio_unitario : '' | formatDecimal}}</td>
      </tr>
    </tbody>
  </table>

  <div class="alert alert-danger" ng-if="!$ctrl.esPresupuestoValido()">
    <i class="fa fa-times-circle"></i>
    <span ng-if="!$ctrl.proyecto.monto_total_ejecutado">El precio total sobrepasa al monto total de convenio del proyecto (<strong>{{$ctrl.proyecto.monto_total_convenio | formatDecimal}}</strong>).</span>
    <span ng-if="$ctrl.proyecto.monto_total_ejecutado">El precio total sobrepasa al monto total restante del proyecto (<strong>{{$ctrl.proyecto.monto_total_actual-$ctrl.proyecto.monto_total_ejecutado | formatDecimal}}</strong>).</span>
  </div>

  <div class="row">
    <div class="col-md-3">
      Precio Total de Convenio
    </div>
    <div class="col-md-9">
      <strong>{{$ctrl.proyecto.monto_total_convenio | formatDecimal}}</strong>
    </div>
    <div class="col-md-3" ng-if="$ctrl.proyecto.monto_total_actual && $ctrl.proyecto.monto_total_actual!=$ctrl.proyecto.monto_total_convenio">
      Precio Total Modificado
    </div>
    <div class="col-md-9" ng-if="$ctrl.proyecto.monto_total_actual && $ctrl.proyecto.monto_total_actual!=$ctrl.proyecto.monto_total_convenio">
      <strong>{{$ctrl.proyecto.monto_total_actual | formatDecimal}}</strong>
    </div>
    <div class="col-md-3" ng-if="$ctrl.proyecto.monto_total_ejecutado">
      Precio Total Restante
    </div>
    <div class="col-md-9" ng-if="$ctrl.proyecto.monto_total_ejecutado">
      <strong>{{$ctrl.proyecto.monto_total_actual-$ctrl.proyecto.monto_total_ejecutado | formatDecimal}}</strong>
    </div>
    <div class="col-md-3">
      Precio Total (numeral)
    </div>
    <div class="col-md-9">
      <strong>{{$ctrl.precioTotal | formatDecimal}}</strong>
    </div>
    <div class="col-md-3">
      Precio Total (literal)
    </div>
    <div class="col-md-9">
      <strong>{{$ctrl.precioTotal | numberToLiteral}}</strong>
    </div>
  </div>
</div>
