<div class="documento-indentidad">
  <ng-form name="doc_identidad_form">
    <div class="row">
      <div class="col-md-6" ng-if="!$ctrl.onlyCi">
        <!-- <select-parametro name="tipo_documento" label="Tipo de verificación" ng-model="$ctrl.ngModel.tipo_documento"
        parametro="TIPO_DOCUMENTO" ng-change="$ctrl.changeType()"
        ng-required="!$ctrl.modoVista && true"
        ng-disabled="$ctrl.ngDisabled || ($ctrl.ngModel.tipo_documento == 'TD_CI' && $ctrl.fill) || $ctrl.modoVista"></select-parametro> -->
        <c-input name="tipo_documento{{$ctrl.ngId}}" label="Tipo de verificación" ng-model="$ctrl.tipoDocumento" ng-disabled="true"></c-input>
      </div>
      <div class="col-md-6" ng-if="!$ctrl.onlyCi">
        <c-select name="tipo_persona{{$ctrl.ngId}}" label="Persona" ng-model="$ctrl.ngModel.tipo_persona"
        options="$ctrl.tiposPersona" key-value="valor" ng-change="$ctrl.changePais()"
        ng-required="!$ctrl.modoVista && true"
        ng-disabled="$ctrl.ngDisabled || $ctrl.isFill() || $ctrl.modoVista"></c-select>
      </div>

      <div class="col" ng-if="!$ctrl.modoVista">
        <div class="alert alert-info" ng-if="$ctrl.ngModel.tipo_documento == 'TD_CI' && !$ctrl.ngDisabled">
          <i class="fa fa-info-circle"></i>
          <span>Ingrese el número de documento y la fecha de nacimiento para realizar la búsqueda.</span>
        </div>
        <div class="alert alert-info" ng-if="$ctrl.ngModel.tipo_documento == 'TD_PASS' && !$ctrl.ngDisabled">
          <i class="fa fa-info-circle"></i>
          <span>Ingrese el número de documento para realizar la búsqueda.</span>
          <button type="button" class="btn btn-warning" ng-click="$ctrl.buscarPersona()" ng-disabled="!$ctrl.ngModel.numero_documento" >
            <i class="fa fa-search"></i>Buscar
          </button>
        </div>
        <!-- <div class="alert alert-warning" ng-if="$ctrl.ngModel.tipo_documento != 'TD_CI' && !$ctrl.ngDisabled">
          <i class="fa fa-info-circle"></i>
          <span>Ingrese el número de documento, fecha de nacimiento, primer apellido, segundo apellido y nombres para realizar la contrastación con segip.</span>
        </div> -->
      </div>
    </div>

    <div class="row">
      <div class="{{ !$ctrl.modoVista? 'col-md-4' : 'col-md-4' }}">
        <!-- Si se usa ng-blur en este input ejecuta la funcion 3 veces  -->
        <c-input name="documento_identidad{{$ctrl.ngId}}" label="Número de documento 1" ng-model="$ctrl.ngModel.numero_documento"
        maxlength="10" ng-directives="uppercase numeric" ng-keyup = "$ctrl.nombreDel()"
        
        ng-disabled="$ctrl.ngDisabled || $ctrl.isFill() || $ctrl.modoVista"
        ng-if="$ctrl.ngModel.tipo_documento == 'TD_CI'" ></c-input> <!--ng-required="!$ctrl.modoVista"   2022-->

        <c-input name="documento_identidad{{$ctrl.ngId}}" label="Número de documento 2" ng-model="$ctrl.ngModel.numero_documento"
        maxlength="15" ng-directives="uppercase passport" ng-keyup = "$ctrl.nombreDel()"
        
        ng-disabled="$ctrl.ngDisabled || $ctrl.isFill() || $ctrl.modoVista"
        ng-if="$ctrl.ngModel.tipo_documento == 'TD_PASS'"></c-input><!--ng-required="!$ctrl.modoVista"  2022-->
      </div>
      <div class="{{ !$ctrl.modoVista? 'col-md-4' : 'col-md-4' }}">
        <c-input name="complemento{{$ctrl.ngId}}" label="Complemento" ng-model="$ctrl.ngModel.complemento"
        maxlength="2" ng-directives="uppercase passport"
        ng-disabled="$ctrl.ngDisabled || $ctrl.isFill() || $ctrl.modoVista"></c-input>
      </div>

      <div class="{{ !$ctrl.modoVista? 'col-md-4' : 'col-md-4' }}">
        <c-date name="fecha_nacimiento{{$ctrl.ngId}}" label="Fecha de nacimiento" ng-model="$ctrl.ngModel.fecha_nacimiento"
        min-date="$ctrl.minDate" max-date="$ctrl.maxDate"
        
        ng-disabled="$ctrl.ngDisabled || $ctrl.isFill() || $ctrl.modoVista"></c-date><!--ng-required="!$ctrl.modoVista"   2022-->
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <c-input name="primer_apellido{{$ctrl.ngId}}" label="Primer Apellido" ng-model="$ctrl.ngModel.primer_apellido"
        ng-directives="alpha uppercase" maxlength="100" ng-disabled="$ctrl.ngDisabled || $ctrl.isFill() || $ctrl.modoVista"></c-input>
      </div>

      <div class="col-md-4">
        <c-input name="segundo_apellido{{$ctrl.ngId}}" label="Segundo Apellido" ng-model="$ctrl.ngModel.segundo_apellido"
        ng-directives="alpha uppercase" maxlength="100" ng-disabled="$ctrl.ngDisabled || $ctrl.isFill() || $ctrl.modoVista"></c-input>
      </div>

      <div class="col-md-4">
        <c-input name="nombres{{$ctrl.ngId}}" label="Nombre(s)" ng-model="$ctrl.ngModel.nombres" 
        ng-directives="alpha uppercase" maxlength="100" ng-disabled="$ctrl.ngDisabled || $ctrl.isFill() || $ctrl.modoVista"></c-input><!--ng-required="!$ctrl.modoVista"  2022-->
      </div>
    </div>

    <div class="row">
      <div class="col-md-12" ng-if="!$ctrl.modoVista">
<!--         <button md-effect type="button" class="btn btn-warning" ng-click="$ctrl.contrastar()" ng-disabled="$ctrl.isDisabled()" ng-if="!$ctrl.ngDisabled && !$ctrl.ngModel.noVerificar && !$ctrl.isFill()">
          <i class="fa fa-search"></i>Verificar
        </button>
        <span ng-if="!$ctrl.ngDisabled && !$ctrl.isFill()"> &nbsp; <input type="checkbox" name="no_verificar" ng-model="$ctrl.ngModel.noVerificar"></input> Verificar después</span>
        <div class="alert alert-warning" ng-if="$ctrl.ngModel.noVerificar">
          <i class="fa fa-info-circle"></i>
          <span>Al marcar la casilla Ud. asegura que los datos son correctos, ya que el número de documento es el respectivo usuario y este sera relacionado a los datos de la persona registrada.</span>
        </div> -->
       <!--  <button md-effect type="button" class="btn btn-warning" ng-click="$ctrl.search()" ng-disabled="$ctrl.isDisabled()" ng-if="!$ctrl.isFill() && $ctrl.isCI()">
          <i class="fa fa-search"></i>Buscar -->
        <!-- <button md-effect type="button" class="btn" ng-click="$ctrl.nombreDel()" ng-if="$ctrl.isFill()">
          <i class="fa fa-edit"></i>Cambiar
        </button> -->
      </div>
    </div>
  </ng-form>
</div>
