<div id="cronogramas" class="row">
  <div class="col-md-6 col-lg-4" ng-repeat="documento in $ctrl.documentos.lista">
    <ui-input-file name="{{documento.codigo}}" label="{{documento.nombre}}"
      file-base64="$ctrl.empresa[documento.codigo]"
      upload-callback="$ctrl.documentos.uploadCallback"
      types="pdf" mime-types=".pdf" maxfiles="1" maxsize="3MB"
      ng-if="!documento.registrado">
    </ui-input-file>

    <div id="documento" ng-if="documento.registrado">
      <div class="opciones">
        <button md-effect type="button" class="btn btn-success btn-sm" uib-tooltip="Ver documento" ng-click="$ctrl.verDocumento(documento)">
          <i class="fa fa-eye"></i>
        </button>
        <button md-effect type="button" class="btn btn-primary btn-sm" uib-tooltip="Descargar"
                download-file="{{documento.urlDescarga}}" file-name="{{documento.nombre}}">
          <i class="fa fa-download"></i>
        </button>
        <button md-effect type="button" class="btn btn-info btn-sm" uib-tooltip="Cambiar" ng-click="$ctrl.cambiar(documento)">
          <i class="fa fa-exchange"></i>
        </button>
      </div>
      <img src="./images/formulario.jpg" alt="Documento">
      <div class="detalles">
        <div class="nombre">{{documento.nombre}}</div>
      </div>
    </div>
  </div>
</div>
