#cronogramas {
  .registrado {
    text-align: center;
    img {
      width: 200px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      border-radius: 2px;
    }
  }
}
