<span class="btn btn-sm btn-warning">{{$ctrl.proyecto.estado}}</span>
<button md-effect type="button" class="btn btn-info btn-sm mt-1"
  uib-tooltip="{{$ctrl.getTooltip()}}" ng-if="$ctrl.puedeCambiarEstado()" ng-click="$ctrl.cambiarEstado()">
  <i class="fa {{$ctrl.getIcon()}}"></i>
</button>
