<div class="modal-header">
  <h5 class="modal-title"><i class="fa fa-plus-circle"></i> Reenviar correo de confirmación</h5>
  <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cerrar()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>
    Usuario/a: <strong>{{$ctrl.usuario.persona | nombreUnido}}</strong>
  </p>

  <ng-form name="formUsuario">
    <div class="row">
      <div class="md-input-group col-md-12">
        <c-input name="correo_miembro" label="Correo Electrónico" ng-model="$ctrl.usuario.persona.correo"
        ng-validation="correo" ng-required="true"></c-input>
      </div>
    </div>
  </ng-form>
  <div class="alert alert-info">
    <i class="fa fa-info-circle"></i> Tome en cuenta que al reenviar el correo de confirmación la contraseña del usuario se actualizará a una generada por el sistema.
  </div>
</div>

<div class="modal-footer">
  <button type="button" md-effect class="btn btn-secondary" ng-click="$ctrl.cerrar()">
    <i class="fa fa-close"></i> Cancelar
  </button>
  <button type="submit" md-effect class="btn btn-primary" ng-click="$ctrl.reenviarCorreo()" validar-formulario="formUsuario">
    <i class="fa fa-send"></i> Reenviar correo
  </button>
</div>
