<div class="container">
  <h2 class="page-title">
    <i class="fa fa-bars"></i> Proyectos Ejecutados
  </h2>

  <div class="card">
    <div class="card-body">
      <section>
        <form name="resumen">
          <h6 class="title-section m-top">
            <i class="fa fa-file-text-o"></i> Lista de Proyectos
          </h6>
          <div class="row" ng-hide="true">
            <div class="col-md-4">
              <c-select name="cartera" label="Cartera" ng-model="$ctrl.carteraSelected" options="$ctrl.carteras"  key-value="id_cartera" field="descripcion" on-select="$ctrl.cambiarGestion()"></c-select>
            </div>
            <div class="col-md-4">
              <div class="alert alert-info">
                <i class="fa fa-info-circle"></i>
                <span>Solo debe seleccionar <strong>Departamento</strong> y <strong>Municipio</strong>.</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <c-select-dpa ng-model="$ctrl.dpa" horizontal="true" ></c-select-dpa>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
<!--   <div class="card">
    <div class="row"> 
        <div class="col"><h5 class="card-header">En evaluación : {{$ctrl.datosEval.length}}</h5></div>
        <div class="col"><h5 class="card-header">En convenio : {{$ctrl.datosConv.length}}</h5></div>
        <div class="col"><h5 class="card-header">En desembolso : {{$ctrl.datosDesem.length}}</h5></div>
        <div class="col"><h5 class="card-header">Aprobados : {{$ctrl.datos.length}}</h5></div>
        <div class="col"><h5 class="card-header">En ejecución : {{$ctrl.datosEjec.length}}</h5></div>
    </div>
  </div> -->
  <h6 class="title-section m-top" ng-if="$ctrl.titulo">{{$ctrl.titulo}}</h6>
  <div class="card">
    <div class="card-body">
      <section ng-if="$ctrl.datoslista.length">
       <!--  <button class="btn btn-sm btn-danger" ng-click="" uib-tooltip="Descargar Reporte"><i class="fa fa-file-pdf-o"></i></button> -->
        <button class="btn btn-sm btn-danger" ng-click="$ctrl.generarPDF()" uib-tooltip="Descargar Reporte"><i class="fa fa-file-pdf-o"></i></button>
        <small>
          <table id="tabla1" class="table table-striped table-hover table-responsive">
            <thead>
              <tr><th colspan="14" class="encabezado"><center><h4 class="titulocentral">{{$ctrl.titulo}}</h4><center></th></tr>
              <tr>
                <th class="colorcabezera">Nº</th>
                <th class="colorcabezera">NOMBRE DEL PROYECTO</th>
                <th class="colorcabezera">MONTO FDI (Bs.)</th>
                <th class="colorcabezera">EJECUCIÓN PRESUPUESTARIA FDI (%)</th>
                <th class="colorcabezera">TIPO DE INVERSION</th>
                <th class="colorcabezera">1ER DESEMBOLSO</th>
                <th class="colorcabezera">FECHA 1ER DESEMBOLSO</th>
                <th class="colorcabezera">2DO DESEMBOLSO</th>
                <th class="colorcabezera">FECHA 2DO DESEMBOLSO</th>
                <th class="colorcabezera">3ER DESEMBOLSO</th>
                <th class="colorcabezera">FECHA 3ER DESEMBOLSO</th>
                <th class="colorcabezera">TOTAL IMPORTE TRANSFERIDO</th>
                <th class="colorcabezera">TIPO</th>
                <th class="colorcabezera">AVANCE FÍSICO (%)</th>

              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="proy in $ctrl.datoslista">
                <td>{{$index + 1}}</td>
                <td>{{proy.nombre}}</td>
                <td>{{proy.financiamiento.monto_fdi | number:2}}</td>
                <td>{{proy.ejecuPres | number:0}} %</td>
                <td>{{proy.beneficiarios.tipo_financiamiento}}</td>
                <td>{{proy.cronograma_desembolsos.monto_1 | number:2}}</td>
                <td>{{proy.cronograma_desembolsos.fecha_1 | date }}</td>
                <td>{{proy.cronograma_desembolsos.monto_2 | number:2}}</td>
                <td>{{proy.cronograma_desembolsos.fecha_2 | date}}</td>
                <td>{{proy.cronograma_desembolsos.monto_3 | number:2}}</td>
                <td>{{proy.cronograma_desembolsos.fecha_3 | date}}</td>
                <td>{{proy.totalTransferido | number:2}}</td>
                <td>{{proy.beneficiarios.tipo}}</td>
                <td>{{proy.avance_fisico}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td class="colorcabezera"></td>
                <th class="colorcabezera">TOTAL GENERAL</th>
                <th class="colorcabezera">{{$ctrl.totalesEjec.fdi | number:2}}</th>
                <!-- <th>{{$ctrl.totalesEjec.ejecucion | number:0}}%</th> -->
                <!-- <th>{{$ctrl.totalesEjec.avance_fisico | number:2}}%</th> -->
                <th class="colorcabezera">&nbsp;</th>
                <th class="colorcabezera">&nbsp;</th>
                <th class="colorcabezera">{{$ctrl.totalesEjec.primer_desembolso | number:2}}</th>
                <th class="colorcabezera">&nbsp;</th>
                <th class="colorcabezera">{{$ctrl.totalesEjec.segundo_desembolso | number:2}}</th>
                <th class="colorcabezera">&nbsp;</th>
                <th class="colorcabezera">{{$ctrl.totalesEjec.tercer_desembolso | number:2}}</th>
                <th class="colorcabezera">&nbsp;</th>
                <th class="colorcabezera">{{$ctrl.totalesEjec.transferidos | number:2}}</th>
                <th class="colorcabezera">&nbsp;</th>
              </tr>
              <tr><td colspan="2" class="encabezado">{{$ctrl.fechaRep}}</td></tr>
            </tfoot>
          </table>
        </small>
      </section>
    </div>
  </div>
<hr>


</div>
