<div class="row">
  <section class="col-md-12">
    <h6 class="title-section m-top"><i class="fa fa-user-o"></i> Datos de la Asociacion Accidental</h6>
  </section>
  <div class="col-md-12">
    <c-input label="Denominación de la Asociación Accidental" name="nombre" ng-model="$ctrl.asociacion.nombre_asociacion" ng-disabled="true"></c-input>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3">
        Asociados
      </div>
      <div class="col-md-9">
        <table class="table table-striped">
          <tr>
            <th>#</th>
            <th>Nombre del Asociado</th>
            <th>% de Participación</th>
          </tr>
          <tr ng-repeat="asociado in $ctrl.asociacion.asociados">
            <td>{{1+$index}}</td>
            <td>{{asociado.razon_social}}</td>
            <td>{{asociado.participacion}} %</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <c-input label="N° de testimonio" name="testimonio" ng-model="$ctrl.asociacion.nro_testimonio"
             ng-required="true" ng-disabled="true">
    </c-input>
  </div>
  <div class="col-md-6 col-lg-4">
    <c-input label="Lugar" name="lugar" ng-model="$ctrl.asociacion.lugar_testimonio"
             ng-required="true" ng-disabled="true">
    </c-input>
  </div>
  <div class="col-md-6 col-lg-4">
    <c-date label="Fecha de Expedición" id="fecha_expedicion" name="fecha_expedicion"
            ng-model="$ctrl.asociacion.fecha_expedicion"
            ng-required="true" ng-disabled="true">
    </c-date>
  </div>
  <div class="md-input-group col-md-12">
    <c-input name="razon_social" label="Nombre de la Empresa Líder" ng-model="$ctrl.empresa.razon_social"
    ng-disabled="true"></c-input>
  </div>
  <section class="col-md-12">
    <h6 class="title-section m-top"><i class="fa fa-user-o"></i> Datos de Contacto de la Empresa Líder</h6>
  </section>
  <div class="md-input-group col-md-6">
    <c-input name="pais_empresa" label="País" ng-model="$ctrl.empresa.pais"
    ng-disabled="true"></c-input>
  </div>
  <div class="md-input-group col-md-6">
    <c-input name="ciudad_empresa" label="Ciudad" ng-model="$ctrl.empresa.ciudad"
    ng-disabled="true"></c-input>
  </div>
  <div class="md-input-group col-md-12">
    <c-input name="direccion_empresa" label="Dirección" ng-model="$ctrl.empresa.direccion"
    ng-disabled="true"></c-input>
  </div>
  <div class="md-input-group col-md-4">
    <c-input name="telefonos_empresa" label="Teléfonos" ng-model="$ctrl.empresa.telefono"
    ng-disabled="true"></c-input>
  </div>
  <div class="md-input-group col-md-4">
    <c-input name="fax_empresa" label="Fax" ng-model="$ctrl.empresa.fax"
    ng-disabled="true"></c-input>
  </div>
  <div class="md-input-group col-md-4">
    <c-input name="correo_empresa" label="Correo electrónico" ng-model="$ctrl.empresa.correo"
    ng-disabled="true"></c-input>
  </div>

  <section class="col-md-12">
    <h6 class="title-section m-top"><i class="fa fa-user-o"></i> Datos del Representante Legal de la Asociacion Accidental</h6>
  </section>
  <div class="md-input-group col-md-8">
    <c-input name="representante_legal" label="Nombre" ng-model="$ctrl.empresa.representante_legal.persona.nombre"
    ng-disabled="true"></c-input>
  </div>
  <div class="md-input-group col-md-4">
    <c-input name="ci_representante_legal" label="Nro Cédula de Identidad" ng-model="$ctrl.empresa.representante_legal.persona.documento_identidad"
    ng-disabled="true"></c-input>
  </div>
  <div class="md-input-group col-md-4">
    <c-input name="nro_testimonio" label="Nro. de testimonio" ng-model="$ctrl.empresa.representante_legal.poder.nro_testimonio"
    ng-disabled="true"></c-input>
  </div>
  <div class="md-input-group col-md-4">
    <c-input name="lugar_emision" label="Lugar de emisión" ng-model="$ctrl.empresa.representante_legal.poder.lugar_emision"
    ng-disabled="true"></c-input>
  </div>
  <div class="md-input-group col-md-4">
    <c-date name="fecha_expedicion" label="Fecha de expedición" ng-model="$ctrl.empresa.representante_legal.poder.fecha_expedicion"
    ng-disabled="true"></c-date>
  </div>
  <!-- <section class="col-md-12">
    <h6  class="title-section m-top"><i class="fa fa-bell-o"></i> Margen de preferencia</h6>
  </section>
  <div class="md-input-group col"><br>
    <c-checkbox name="margen_preferencia" label="Asociación accidental de empresas constructoras cuyos asociados bolivianos tengan una participación igual o mayor al cincuenta y uno por ciento (51%)"
    ng-model="$ctrl.asociacion.margen_preferencia"
    ng-disabled="true"></c-checkbox>
  </div> -->

  <section class="col-md-12">
    <h6 class="title-section m-top"><i class="fa fa-bell-o"></i> Información para notificaciones</h6>
  </section>
  <div class="md-input-group col-md-1"><br>
    <c-checkbox name="correo_empresa_check" label="a)" ng-model="$ctrl.empresa.notificacion_correo_check"
    ng-disabled="true"></c-checkbox>
  </div>
  <div class="md-input-group col-md-5">
    <c-input name="correo_empresa" label="Correo electrónico" ng-model="$ctrl.empresa.notificacion_correo"
    ng-disabled="true"></c-input>
  </div>
  <div class="md-input-group col-md-1"><br>
    <c-checkbox name="fax_empresa_check" label="b)" ng-model="$ctrl.empresa.notificacion_fax_check"
    ng-disabled="true"></c-checkbox>
  </div>
  <div class="md-input-group col-md-5">
    <c-input name="fax_empresa" label="Fax" ng-model="$ctrl.empresa.notificacion_fax"
    ng-disabled="true"></c-input>
  </div>
</div>
