<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-12" ng-repeat="foto in $ctrl.fotos">
    <figure ng-dblclick="$ctrl.mostrarPopup(foto)"> 
      <div class="row mx-0" ng-if="!foto.mostrar">
        <div class="col-md">Foto supervisión {{foto.nro}}</div>
          <div class="actions">
            <i class="fa fa-eye text-success" ng-click="$ctrl.getFoto(foto)" uib-tooltip="Ver/Ocultar imagen"> Mostrar</i>
          </div>
      </div>
      <div ng-if="foto.mostrar" class="foto">
        <img ng-src="data:image/jpg;base64, {{ foto.base64 }}" alt="Foto {{foto.nro}}" height="300" width="100%">
        <div class="detalles">
          <span class="titulo">Foto supervisión {{foto.nro}}</span>
          <button md-effect type="button" class="btn btn-sm btn-success pull-right" ng-click="$ctrl.mostrarPopup(foto)" uib-tooltip="Ver foto">
            <i class="fa fa-eye"></i>
          </button>
          <button md-effect type="button" class="btn btn-sm btn-primary pull-right" ng-click="$ctrl.mostrarUbicacion(foto)" uib-tooltip="Ver ubicación">
            <i class="fa fa-map-marker"></i>
          </button>
          <button md-effect type="button" class="btn btn-sm btn-danger pull-right" ng-click="$ctrl.eliminarFoto(foto)" uib-tooltip="Recargar datos de la fotografia" ng-if="$ctrl.puedeEliminar">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </div>
    </figure>
  </div>
</div>
