<div class="container">
  <h2 class="page-title">
    <i class="fa fa-bars"></i> Proyectos
  </h2>
  <div class="card">
    <div class="card-body">

      <crud-table url="$ctrl.proyectos.url"
                data="$ctrl.proyectos.data"
                fields="$ctrl.proyectos.fields"
                permission="$ctrl.proyectos.permission"
                event-create="$ctrl.proyectos.eventCreate"
                event-edit="$ctrl.proyectos.eventEdit"
                event-delete="$ctrl.proyectos.eventDelete"
                buttons="$ctrl.proyectos.buttons"
                labels="$ctrl.proyectos.labels"
                fks="$ctrl.proyectos.fks"
                update="$ctrl.proyectos.update"
                clases="$ctrl.proyectos.clases"
                ng-if="$ctrl.proyectos"
                hidden-fields="$ctrl.proyectos.hiddenFields">
      </crud-table>
    </div>
  </div>
</div>
