<div class="modal-header">
  <h5 class="modal-title"><i class="fa fa-plus-circle"></i> Foto de la supervisión número {{$ctrl.foto.nro}}</h5>
  <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cerrar()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row mb-3">
    <div class="col">
      <button md-effect type="button" class="btn btn-info" ng-click="$ctrl.irAPosicion('anterior')" ng-disabled="$ctrl.foto.nro <= 1">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i> Anterior
      </button>
      <button md-effect type="button" class="btn btn-info" ng-click="$ctrl.irAPosicion('siguiente')" ng-disabled="$ctrl.foto.nro >= $ctrl.fotos.length">
        Siguiente <i class="fa fa-angle-double-right" aria-hidden="true"></i>
      </button>
    </div>
  </div>

  <figure class="text-center" ng-repeat="foto in $ctrl.fotos">    
    <image-viewer id="fotosMovil" base64="foto.base64" height="300" ng-if="$ctrl.foto.nro === ($index + 1)"></image-viewer>
  </figure>
</div>

<div class="modal-footer">
  <button type="submit" md-effect class="btn btn-primary" ng-click="$ctrl.cerrar()">
    <i class="fa fa-check"></i> Aceptar
  </button>
</div>
