.foto {
  position: relative;
  img {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
  }
  .detalles {
    position: absolute;
    bottom: 0;
    color: #fff;
    font-size: 1.2em;
    background: rgba(0, 0, 0, 0.34);
    width: 100%;
    padding: 10px;
  }
}
