<div class="modal-header">
  <h5 class="modal-title"><i class="fa fa-ban"></i> {{$ctrl.proyecto.nombre}}</h5>
  <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cerrar()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="alert alert-info" ng-if="$ctrl.existeSupervisionesEnCurso">
    <i class="fa fa-info-circle"></i>
    <span>No puede realizar modificaciones mientras existan supervisiones en curso de aprobación.</span>
  </div>
  <div class="alert alert-info" ng-if="$ctrl.proyecto.estado_proyecto === 'CERRADO_FDI'">
    <i class="fa fa-info-circle"></i>
    <span>No puede realizar modificaciones en un proyecto concluído.</span>
  </div>
  <section ng-if="!$ctrl.existeSupervisionesEnCurso && $ctrl.proyecto.estado_proyecto !== 'CERRADO_FDI'">
    <div class="alert alert-primary">
      <div>
        <i class="fa fa-exclamation-triangle"></i>
        <strong>¿Está seguro/a de paralizar el proyecto?</strong>
        <ul>
          <li>Se generará un nuevo código de acceso al proyecto, para la adjudicación de una nueva empresa.</li>
          <li>Se le informa que una vez paralizado el proyecto, el mismo estará en estado de adjudicación hasta que se estipule una nueva fecha de Orden de Proceder del proyecto.</li>
        </ul>
      </div>
    </div>
  </section>
</div>

<div class="modal-footer">
  <div ng-if="!$ctrl.existeSupervisionesEnCurso && $ctrl.proyecto.estado_proyecto !== 'CERRADO_FDI'">
    <button type="button" md-effect class="btn btn-secondary" ng-click="$ctrl.cerrar()">
      <i class="fa fa-check"></i> Cancelar
    </button>
    <button type="button" md-effect class="btn btn-primary" ng-click="$ctrl.paralizarProyecto()">
      <i class="fa fa-check"></i> Si, estoy seguro/a
    </button>
  </div>
  <div ng-if="$ctrl.existeSupervisionesEnCurso || $ctrl.proyecto.estado_proyecto === 'CERRADO_FDI'">
    <button type="button" md-effect class="btn btn-secondary" ng-click="$ctrl.cerrar()">
      <i class="fa fa-check"></i> Cerrar
    </button>
  </div>
</div>
