<section>
  <h6 class="title-section m-top">
    <i class="fa fa-hand-o-right"></i> {{$ctrl.proyecto.tipo === 'TP_CIF'? 'Desembolso del 20%' : 'Certificación Presupuestaria'}}
  </h6>
  <div class="row">
    <div class="md-input-group col-md-6" ng-if="$ctrl.proyecto.tipo === 'TP_CIF'">
      <c-input-numeric name="porcentaje_desembolso" label="Porcentaje Desembolso"
                       ng-model="$ctrl.proyecto.porcentaje_desembolso"
                       ng-minvalue="0" ng-maxvalue="20" ng-formatting="false" ng-decimals="2"
                       ng-disabled="true">
      </c-input-numeric>
    </div>

    <div class="md-input-group col-md-6" ng-if="$ctrl.proyecto.tipo === 'TP_CIF'">
      <c-input-money name="desembolso" label="Desembolso"
                     ng-model="$ctrl.proyecto.desembolso"
                     ng-minvalue="0"
                     ng-disabled="true">
      </c-input-money>
    </div>

    <div class="md-input-group col-md-6" ng-if="$ctrl.proyecto.fecha_desembolso || $ctrl.Proyecto.esEditable('fecha_desembolso')">
      <c-date name="fecha_desembolso" label="Fecha del desembolso"
              ng-model="$ctrl.proyecto.fecha_desembolso"
              ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('fecha_desembolso')"
              ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('fecha_desembolso')"
              min-date="$ctrl.validacion.fecha_minima" mensaje-min-date="{{$ctrl.validacion.mensaje_fecminima}}">
      </c-date>
    </div>

    <div class="col-md-6" ng-if="$ctrl.proyecto.doc_cert_presupuestaria || $ctrl.Proyecto.esEditable('doc_cert_presupuestaria')">
      <archivo name="doc_cert_presupuestaria" label="Certificado de Inscripción Presupuestaria" ng-model="$ctrl.proyecto.doc_cert_presupuestaria"
              types="pdf" mime-types=".pdf" maxsize="3MB"
              url="{{$ctrl.archivo.urlDocCertificacion}}"
              url-descarga="{{$ctrl.archivo.urlDocCertificacionDescarga}}"
              cambiar="$ctrl.Proyecto.esEditable('doc_cert_presupuestaria')"
              modo-vista="!$ctrl.Proyecto.esEditable('doc_cert_presupuestaria')">
      </archivo>
    </div>

  </div>

</section>
