<section ng-init="$ctrl.proyecto.cronograma_desembolsos.$_plantilla=6; $ctrl.proyecto.cronograma_desembolsos.$_nombre='cronograma_desembolsos'">
  <h6 class="title-section m-top">
    <i class="fa fa-hand-o-right"></i> Registro de desembolsos / Cronograma {{$ctrl.proyecto.estado_proyecto}}
  </h6>
  <div class="row">
    <div class="md-input-group col-md-4">
      <c-input name="codigo_mefp" label="Categoría Programática" ng-model="$ctrl.proyecto.cronograma_desembolsos.categoria_programatica"
        ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('fecha_desembolso')"
        ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('fecha_desembolso')" ng-if="$ctrl.proyecto.beneficiarios.tipo_financiamiento != 'OP_TF_MIXTA'">
      </c-input>

      <c-input name="codigo_mefp" label="Categoría Programática Pública" ng-model="$ctrl.proyecto.cronograma_desembolsos.categoria_programatica"
        ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('fecha_desembolso')"
        ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('fecha_desembolso')" ng-if="$ctrl.proyecto.beneficiarios.tipo_financiamiento == 'OP_TF_MIXTA'">
      </c-input>
    </div>
    <div class="md-input-group col-md-4">
      <c-input name="codigo_sisin" label="Código SISIN" ng-model="$ctrl.proyecto.cronograma_desembolsos.codigo_sisin"
        ng-required="!$ctrl.modoVista && ($ctrl.proyecto.beneficiarios.tipo_financiamiento !== 'OP_TF_PRIVADA')"
        ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('cod_sisin')">
      </c-input>
    </div>
  </div>
  <div class="row" ng-if="$ctrl.proyecto.beneficiarios.tipo_financiamiento == 'OP_TF_MIXTA'">
    <div class="md-input-group col-md-4">
      <c-input name="codigo_mefp2" label="Categoría Programática Privada" ng-model="$ctrl.proyecto.cronograma_desembolsos.categoria_programatica_2"
        ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('fecha_desembolso')"
        ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('fecha_desembolso')">
      </c-input>
    </div>
    <div class="md-input-group col-md-4">
      <c-input name="codigo_sisin2" label="SISIN TPP" ng-model="$ctrl.proyecto.cronograma_desembolsos.codigo_tpp"
        ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('fecha_desembolso')"
        ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('fecha_desembolso')">
      </c-input>
    </div>
  </div>
  <div class="row">
    <div class="md-input-group col-md-3">
      <c-date name="fecha_inscripcion" label="Fecha de inscripción presupuestaria"
              ng-model="$ctrl.proyecto.cronograma_desembolsos.fecha_inscripcion"
              ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('fecha_desembolso')"
              ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('fecha_desembolso')"
              ng-change="$ctrl.selFechaInscripcion()"
              min-date="$ctrl.validacion.fec_min_inscripcion" mensaje-min-date="{{$ctrl.validacion.mensaje_fecminima}}">
      </c-date>
    </div>
    <div class="col-md-3" ng-if="$ctrl.proyecto.doc_cert_presupuestaria || $ctrl.Proyecto.esEditable('doc_cert_presupuestaria')">
      <archivo name="doc_cert_presupuestaria" label="Certificado de Transferencia 1" ng-model="$ctrl.proyecto.doc_cert_presupuestaria"
              types="pdf" mime-types=".pdf" maxsize="3MB"
              url="{{$ctrl.archivo.urlDocCertificacion}}"
              url-descarga="{{$ctrl.archivo.urlDocCertificacionDescarga}}"
              cambiar="$ctrl.Proyecto.esEditable('doc_cert_presupuestaria')"
              modo-vista="!$ctrl.Proyecto.esEditable('doc_cert_presupuestaria')">
      </archivo>
    </div>
    <div class="col-md-3" ng-if="$ctrl.proyecto.doc_cert_presupuestaria || $ctrl.Proyecto.esEditable('doc_cert_presupuestaria')">
      <archivo name="doc_cert_presupuestaria2" label="Certificado de Transferencia 2" ng-model="$ctrl.proyecto.doc_cert_presupuestaria2"
              types="pdf" mime-types=".pdf" maxsize="3MB"
              url="{{$ctrl.archivo.urlDocCertificacion2}}"
              url-descarga="{{$ctrl.archivo.urlDocCertificacionDescarga2}}"
              cambiar="$ctrl.Proyecto.esEditable('doc_cert_presupuestaria')"
              modo-vista="!$ctrl.Proyecto.esEditable('doc_cert_presupuestaria2')"
              ng-if="$ctrl.proyecto.doc_cert_presupuestaria">
      </archivo>
    </div>
    <div class="col-md-3" ng-if="$ctrl.proyecto.doc_cert_presupuestaria || $ctrl.Proyecto.esEditable('doc_cert_presupuestaria')">
      <archivo name="doc_cert_presupuestaria3" label="Certificado de Transferencia 3" ng-model="$ctrl.proyecto.doc_cert_presupuestaria3"
              types="pdf" mime-types=".pdf" maxsize="3MB"
              url="{{$ctrl.archivo.urlDocCertificacion3}}"
              url-descarga="{{$ctrl.archivo.urlDocCertificacionDescarga3}}"
              cambiar="$ctrl.Proyecto.esEditable('doc_cert_presupuestaria')"
              modo-vista="!$ctrl.Proyecto.esEditable('doc_cert_presupuestaria3')"
              ng-if="$ctrl.proyecto.doc_cert_presupuestaria2">
      </archivo>
    </div>
  </div>

  <div class="row">
    <div class="md-input-group col-md-2">
      
    </div>
    <div class="md-input-group col-md-2">
      
    </div>
    <div class="md-input-group col-md-2">
      <c-input-money name="monto-privado" label="Monto-privado-disp."
        ng-model="$ctrl.monto_privado"
        ng-minvalue="0" ng-disabled="true"
        ng-if="$ctrl.proyecto.beneficiarios.tipo_financiamiento == 'OP_TF_MIXTA'">
      </c-input-money>
    </div>
    <div class="md-input-group col-md-2">
      <c-input-money name="monto-publico" label="Monto-publico-disp"
        ng-model="$ctrl.monto_publico"
        ng-minvalue="0" ng-disabled="true"
        ng-if="$ctrl.proyecto.beneficiarios.tipo_financiamiento == 'OP_TF_MIXTA'">
      </c-input-money>
    </div>
  </div>
  <div class="row">
    <div class="md-input-group col-md-2">
      <c-input-numeric name="porcentaje_1" label="1er Desembolso %"
        ng-model="$ctrl.proyecto.cronograma_desembolsos.porcentaje_1"
        ng-minvalue="0" ng-maxvalue="100" ng-formatting="false" ng-decimals="2" ng-keyup="$ctrl.recalcularPorcentaje()" ng-disabled="true" >
      </c-input-numeric>
    </div>
    <div class="md-input-group col-md-2">
      <c-input-money name="monto_1" label="Monto"
        ng-model="$ctrl.proyecto.cronograma_desembolsos.monto_1"
        ng-minvalue="0"  ng-keyup="$ctrl.recalcularPorcentaje()"
        ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('fecha_desembolso')">
      </c-input-money>
    </div>
    <div class="md-input-group col-md-2">
      <c-input-money name="priv_1" label="Monto Priv.1"
        ng-model="$ctrl.proyecto.cronograma_desembolsos.priv1"
        ng-keyup="$ctrl.sumaMontos(); $ctrl.recalcularPorcentaje()"
        ng-if="$ctrl.proyecto.beneficiarios.tipo_financiamiento == 'OP_TF_MIXTA'"
        ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('fecha_desembolso')"
        ng-minvalue="0">
      </c-input-money>
    </div>
    <div class="md-input-group col-md-2">
      <c-input-money name="pub_1" label="Monto Public.1"
        ng-model="$ctrl.proyecto.cronograma_desembolsos.pub1"
        ng-keyup="$ctrl.sumaMontos(); $ctrl.recalcularPorcentaje()"
        ng-if="$ctrl.proyecto.beneficiarios.tipo_financiamiento == 'OP_TF_MIXTA'"
        ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('fecha_desembolso')"
        ng-minvalue="0">
      </c-input-money>
    </div>
    <div class="md-input-group col-md-2">
      <c-date name="fecha_1" label="Fecha de desembolso"
              ng-model="$ctrl.proyecto.cronograma_desembolsos.fecha_1"
              ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('cronograma_desembolsos')"
              ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('fecha_desembolso')"
              ng-change="$ctrl.selFechaDesembolso()"
              min-date-key="fecha_inscripcion" mensaje-min-date="{{$ctrl.validacion.mensaje_fecminima_desembolso1}}">
      </c-date>
    </div>
  </div>

  <div class="row">
    <div class="md-input-group col-md-2">
      <c-input-numeric name="porcentaje_2" label="2do Desembolso %"
        ng-model="$ctrl.proyecto.cronograma_desembolsos.porcentaje_2"
        ng-minvalue="0" ng-maxvalue="100" ng-formatting="false" ng-decimals="2" ng-keyup="$ctrl.recalcularPorcentaje()" ng-disabled="true">
      </c-input-numeric>
    </div>
    <div class="md-input-group col-md-2">
      <c-input-money name="monto_2" label="Monto"
        ng-model="$ctrl.proyecto.cronograma_desembolsos.monto_2"
        ng-minvalue="0" ng-keyup="$ctrl.recalcularPorcentaje()"
        ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('fecha_desembolso2')">
         <!-- ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('fecha_desembolso') || !$ctrl.proyecto.beneficiarios.productivo.maquinaria"> -->
      </c-input-money>
    </div>
    <div class="md-input-group col-md-2">
      <c-input-money name="priv_2" label="Monto Priv.2"
        ng-model="$ctrl.proyecto.cronograma_desembolsos.priv2"
        ng-keyup="$ctrl.sumaMontos(); $ctrl.recalcularPorcentaje()"
        ng-if="$ctrl.proyecto.beneficiarios.tipo_financiamiento == 'OP_TF_MIXTA'"
        ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('fecha_desembolso2')"
        ng-minvalue="0">
      </c-input-money>
    </div>
    <div class="md-input-group col-md-2">
      <c-input-money name="pub_2" label="Monto Public.2"
        ng-model="$ctrl.proyecto.cronograma_desembolsos.pub2"
        ng-keyup="$ctrl.sumaMontos(); $ctrl.recalcularPorcentaje()"
        ng-if="$ctrl.proyecto.beneficiarios.tipo_financiamiento == 'OP_TF_MIXTA'"
        ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('fecha_desembolso2')"
        ng-minvalue="0">
      </c-input-money>
    </div>
    <div class="md-input-group col-md-2" >
      <c-date name="fecha_2" label="Fecha de desembolso"
              ng-model="$ctrl.proyecto.cronograma_desembolsos.fecha_2"
              
              ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('fecha_desembolso2')"
              min-date-key="fecha_1" mensaje-min-date="{{$ctrl.validacion.mensaje_fecminima_desembolso2}}">
      </c-date>
      <!-- ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('cronograma_desembolsos')" -->
    </div>
  </div>
  <div class="row">
    <div class="md-input-group col-md-2">
      <c-input-numeric name="porcentaje_3" label="3er Desembolso %"
        ng-model="$ctrl.proyecto.cronograma_desembolsos.porcentaje_3"
        ng-minvalue="0" ng-maxvalue="100" ng-formatting="false" ng-decimals="2" ng-keyup="$ctrl.recalcularPorcentaje()" ng-disabled="true">
      </c-input-numeric>
    </div>
    <div class="md-input-group col-md-2">
      <c-input-money name="monto_3" label="Monto"
        ng-model="$ctrl.proyecto.cronograma_desembolsos.monto_3"
        ng-minvalue="0" ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('fecha_desembolso3')"
        ng-keyup="$ctrl.recalcularPorcentaje()">
      </c-input-money>
    </div>
    <div class="md-input-group col-md-2">
      <c-input-money name="priv_3" label="Monto Priv.3"
        ng-model="$ctrl.proyecto.cronograma_desembolsos.priv3"
        ng-keyup="$ctrl.sumaMontos(); $ctrl.recalcularPorcentaje()"
        ng-if="$ctrl.proyecto.beneficiarios.tipo_financiamiento == 'OP_TF_MIXTA'"
        ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('fecha_desembolso3')"
        ng-minvalue="0">
      </c-input-money>
    </div>
    <div class="md-input-group col-md-2">
      <c-input-money name="pub_3" label="Monto Public.3"
        ng-model="$ctrl.proyecto.cronograma_desembolsos.pub3"
        ng-keyup="$ctrl.sumaMontos(); $ctrl.recalcularPorcentaje()"
        ng-if="$ctrl.proyecto.beneficiarios.tipo_financiamiento == 'OP_TF_MIXTA'"
        ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('fecha_desembolso3')"
        ng-minvalue="0">
      </c-input-money>
    </div>
    <div class="md-input-group col-md-2" >
      <c-date name="fecha_3" label="Fecha de desembolso"
              ng-model="$ctrl.proyecto.cronograma_desembolsos.fecha_3"
             
              ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('fecha_desembolos3')"
              min-date-key="fecha_2" mensaje-min-date="{{$ctrl.validacion.mensaje_fecminima_desembolso2}}">
      </c-date>
       <!-- ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('cronograma_desembolsos')" -->
    </div>
  </div>

  <div class="row" ng-if="$ctrl.proyecto.cronograma_desembolsos.porcentaje_4">
    <div class="md-input-group col-md-4">
      <c-input-numeric name="porcentaje_4" label="Saldo %"
        ng-model="$ctrl.proyecto.cronograma_desembolsos.porcentaje_4"
        ng-minvalue="0" ng-maxvalue="100" ng-formatting="false" ng-decimals="2" ng-disabled="true">
      </c-input-numeric>
    </div>
    <div class="md-input-group col-md-4">
      <c-input-money name="monto_4" label="Monto"
        ng-model="$ctrl.proyecto.cronograma_desembolsos.monto_4"
        ng-minvalue="0" ng-disabled="true">
      </c-input-money>
    </div>
    <div class="md-input-group col-md-4">
    </div>
  </div>

</section>
